
<mat-toolbar style="height: 100px;background-color: #fff;">
    <div style="margin-top: 50px;margin-left: 20px;">
        <img src="./assets/images/POL.svg" >
    </div>
    <span style="font-family: 'Poppins';margin-top: 40px;font-style: normal;font-weight:600;font-size: 30px;color:#1E293B;margin-left: 10px;">Purchase orders</span>
    <span class="example-spacer"></span>
    <button mat-icon-button style="margin-right: 40px;">
    <mat-icon style="margin-top: 40px;">notifications</mat-icon>
    </button>
   
  </mat-toolbar>
    <div><hr style="width: 1120px;border: 2px solid #C5C5C5;margin-left: 30px;"></div>
    <div style="display: flex;flex-direction: row;font-family: 'Poppins';font-weight: 600;">
      
            <div style="margin-top: 20px;margin-left: 30px;display: flex;">
               
                <div ><img src="./assets/images/box.svg" ></div>
                <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Purchase&nbsp;request</span>
                <div ><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
            </div>
            <div style="margin-top: 20px;margin-left: 10px;display: flex;">
                
               <div> <img src="./assets/images/approval.svg" ></div>
                <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Approvals</span>
                <div ><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
            </div>
            <div style="margin-top: 20px;margin-left: 10px;display: flex;">
              <div>  <img src="./assets/images/rc.svg" ></div>
                <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Rate&nbsp;Comparative</span>
                <div ><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
            </div>
            <div style="margin-top: 20px;margin-left: 10px;display: flex;">
               <div> <img src="./assets/images/approval.svg" ></div>
                <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Rate&nbsp;Approvals</span>
                <div ><mat-divider style="width: 100px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
            </div>
            <div style="margin-top: 20px;margin-left: 10px;display: flex;">
                <div><img src="./assets/images/podown.svg" ></div>
                <span style="color: #233A61;margin-left: 5px;font-size: 14px;">Purchase&nbsp;orders</span>
            </div>
         </div>
<div>
<mat-card>
    <div style="margin-top: 20px;">
        <div style="display: flex;gap:50px">
    <div class="topleft">
        <span style="font-size: 14px;font-family: 'Poppins';color:#3568BA;margin-bottom: 10px;">Billing Address</span><br>
        <div class="textarealeft">
         
            <span style="margin-left: 20px;margin-top: 10px;">Company:</span>
            <span style="margin-left: 20px">Address: fdjjhsdjkfhkjhsdkjhdsj</span>
            <span style="margin-left: 20px">GST:</span>
            <span style="margin-left: 20px">PAN:</span>
            <span style="margin-left: 20px">CONTACT PERSON:</span>
            <span style="margin-left: 20px">Email:</span>
        
        </div>

    </div>
    <div class="topright">
        <span style="font-size: 14px;font-family: 'Poppins';color:#3568BA;margin-bottom: 10px;">Delivery Address</span><br>
        <div class="textarearight">
                 
            <span style="margin-left: 20px;margin-top: 10px;">DATE:</span>
            <span style="margin-left: 20px">VALIDITY: <input type="text" style="width:120px;padding:5px;border:1px solid #94A3B8" ><mat-icon style="position: relative;right:30px;font-size: 18px;top:9px">border_color</mat-icon> </span>
            <span style="margin-left: 20px">PO NO:<input type="text" style="width:120px;padding:5px;border:none;margin-left: 16px;" > </span>
            <span style="margin-left: 20px">ADDRESS:<input type="text" style="width:300px;padding:5px;border:none;margin-left: 16px;" > </span>
            <span style="margin-left: 20px">CONTACT PERSON: <input type="text" style="width:150px;padding:5px;border:none;margin-left: 16px;" > </span>
            
        </div>
    </div>
</div>
    <div class="topdown">
        <span style="font-size: 14px;font-family: 'Poppins';color:#3568BA;margin-bottom: 10px;">To</span><br>
        <div style="border: 3px solid #94A3B8;height:380px ;border-radius: 5px;">
        <div type="text" class="textareadown">
            <span style="margin-left: 20px;margin-top: 10px;width:500px;height:100px">XYZ pvt ltd:
                has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
            </span>
            <span style="margin-left: 20px">PAN:</span>
            <span style="margin-left: 20px">GST:</span>
            <span style="margin-left: 20px">Location:</span>
        </div>
       <div style="width:700px;height:150px;background-color: #233A61;position: relative;bottom:-10px;margin-left: 15px;border-radius: 5px;color: #fff;font-family: 'Poppins';padding:20px;">
        <p>Sir</p>
    <textarea style="width:700px;height: 120px;background-color: #233A61;border: none;color: #fff;font-family: 'Poppins';">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
    </textarea> 
        </div>
    </div>
    </div>
    </div>
    <div class="scroll-bar1" >
        <table style="direction: ltr !important;border-left: 2px solid #000 !important;">
        <tr>
        <th >Item&nbsp;No</th>
        <th>Item&nbsp;description</th>
       <th>Gross&nbsp;volume</th>
       <th>OUM</th>
       <th>Quantity</th>
       <th>Rate</th>
       <th>Amount</th>
       <th>GST</th>
       <th>Remarks</th>
    </tr>
        
        
       
        <tbody>
            <tr  style="background-color: #F4F4F5;" *ngFor="let num of [1,2,3,]">
                <td style="text-align: center;">
               001
                </td>
                <td >
                sasasdfdd
                </td>
                <td style="color: #000;">
               1234345
                </td>
                <td style="color: #000;">
               litre
                </td> 
                <td >
                 1
                </td>
                <td>
                2324
                </td>
                <td >
                  5000
                </td>
                <td >
                  18%
                </td>
                <td >
                  <input placeholder="Enter" style="width:120px;padding:5px;border-radius: 6px;border:1px solid #9F9F9F;cursor: pointer;background-color: Transparent">
                
                </td>
            </tr>
            
        </tbody>
      </table>
  </div> 
   
  <div style="display: flex;gap:20px;">
    <div style="width:700px;height: 500px;">
        <div style="width:640px;height:450px;background-color: #233A61;position: relative;bottom:50px;margin-left: 15px;border-radius: 5px;color: #fff;font-family: 'Poppins';padding:20px;">
            <p>Payment terms & other conditions <mat-icon style="font-size: medium;position: relative;top:10px">border_color</mat-icon></p>
        <textarea style="width:600px;height: 420px;background-color: #233A61;border: none;color: #fff;font-family: 'Poppins';">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
        </textarea>
        
    </div>
    </div>
    <div style="width:400px;height: 300px;">
        <table class="downtable">
    
            <tr>
                 <td style="border: none;font-size: small;">Total&nbsp;amount</td>
                 <td style="border: none;font-size: small;">INR&nbsp;0000.00</td>
               </tr>
               <tr>
                 <td style="border: none;font-size: small;">GST&nbsp;amount</td>
                 <td style="border: none;font-size: small;">INR&nbsp;0000.00</td>
               </tr>
               <tr>
                 <td style="border: none;font-size: small;">Freight</td>
                 <td style="border: none;font-size: small;"><input type="text" style="padding: 5px;width:150px;border:none;color:#186D3C;background-color: transparent;"></td>
                 
               </tr>
               <tr>
                 <td style="border: none;font-size: small;">Freight&nbsp;GST</td>
                 <td style="border: none;font-size: small;"><input type="text" style="padding: 5px;width:150px;border:none;color:#073B4C;background-color: transparent;"></td>
                 
               </tr>
               <tr>
                 <td style="border: none;font-size: small;">Grand&nbsp;total</td>
                 <td style="border: none;color:#073B4C;font-weight: bold;font-size: small;">INR&nbsp;0000.00</td>
                 
               </tr>
            
             </table>
    </div>
 </div>
 <div class="remarktab">
    <label style="color: #3568BA;font-size: 15px;">Remarks</label><br>
    <textarea class="remarkarea" placeholder="Please describe"></textarea>
</div>

 <div style="display: flex;flex-direction: row;gap: 20px;margin-left: 520px;">
    <div><button style="padding: 8px;width: 180px;background-color: #DE4343;color: #fff;border-radius: 5px;border-color: lightgrey;font-family: 'Poppins';font-size: 14px;">Rejected by vendor</button></div>
   <div> <button style="padding: 8px ;width: 120px;background-color: #fff;cursor: pointer;border: 0.5px solid #94A3B8;border-radius: 5px;color:#797979;font-family: 'Poppins';font-size: 14px;">  
 Print  <i class="fa fa-print"></i> </button>

</div>
    <div >
       <button style="padding: 8px ;width: 180px;background-color: #fff;cursor: pointer;border: 0.5px solid #94A3B8;border-radius: 5px;color:#797979;font-family: 'Poppins';font-size: 14px;">
        Download PDF <img src="./assets/images/pdfd.svg" class="imgstyle"></button>
   </div>
</div>
 
</mat-card>

</div>


