<p>view-project works!</p>

<div>
    <ul>
      <li><a [routerLink]="['/dpr']" routerLinkActive="active-link"
        ><i class="fa fa-eye" aria-hidden="true"></i> Projects</a></li>
      <li><a [routerLink]="['data-analysis']" routerLinkActive="active-link-active"
        [routerLinkActiveOptions]="{exact: true}" ><i class="fa fa-eye" aria-hidden="true"></i> Data-Analysis</a></li>
      <li><a [routerLink]="['progress-sheet']" routerLinkActive="active-link-active"
         ><i class="fa fa-pencil" aria-hidden="true"></i> Progress-sheet</a></li>
      <li><a [routerLink]="['calender']" routerLinkActive="active-link"
         ><i class="fa fa-pencil" aria-hidden="true"></i> Calender</a></li>
    </ul>
    
  
  </div><br>
  <router-outlet></router-outlet>