.toptext {
    display: flex !important;
    margin-left: 30px;
    color: black !important;
  }
  
  .toptext li {
    margin: 0 20px;
  }
  table {
    font-family: "Poppins", sans-serif !important;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #999;
    width: 100%;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    }
    
    th {
    background-color: #233a61;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    text-align: center;
    padding: 10px 20px !important;
    color: white;
    font-weight: 300;
    font-size: 15px;
    font-style: normal;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 2;
    }
    
    td {
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    text-align: center;
    padding: 15px 20px;
    color: #233a61;
    font-style: normal;
    font-size: 14px;
    white-space: nowrap;
    /* width:100px; */
    }
      
    
    
    .top_container{
        padding: 20px;
       
    }
    .down_container{
        padding: 10px;
     
    }
    card-below{
        
        border-radius: 5px;
        box-shadow: 0px 0px 3px lightgray,
        0px 0px 7px lightgray,
        0px 0px 11px lightgray;
      
     
    }
    .example-card{
        max-width: 400px;
    }
    .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
       
      
       
      }
    
      .cirle > div{
        width: 60;
        height: 60;
        
       
    }
    
    .cirle{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:150px;
    position: relative;
    top:100px;
       
       
    }
    .vertical-line{
      width: 100px;
       height: 200px;
       position: relative;
    
       border-left: 3px solid gainsboro;
       top: -160px;
     margin-bottom: 80px;
     left: 200px;
    
    }
    .vertical-line1{
    height:20px;
    border-left: 3px solid #D9D9D9;
    position: relative;
    left: 100px;
    top:20px;
    }
    mat-card{
      width: 90%;
      height: 400px;
      margin-left: 50px;
     
    }
    
    body{
      background-color: #fff !important;
    }
    
    .scroll-bar{
            
     
      height: 350px;
        
     
        
       
      overflow-y:auto;
     overflow-x: hidden;
    
      
      }
    
    ::-webkit-scrollbar {
    width: 7px;
    
    }
    ::-webkit-scrollbar-track{
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color:lightgrey ;
    }
    ::-webkit-scrollbar-thumb{
    background: #1E293B;
    border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: lightblue;
    }
    
    
    .scroll-bar1 {
        max-height: 90vh;
        width: 93%;
        margin-left: 40px;
        margin-bottom: 50px;
        overflow: auto;
      }
    
    ::-webkit-scrollbar {
    width: 6px;
    height:6px;
    }
    ::-webkit-scrollbar-track{
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color:lightgrey ;
    }
    ::-webkit-scrollbar-thumb{
    background: #1E293B;
    border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: lightblue;
    }
    
    ::ng-deep.mat-menu-panel {
      max-width: none !important;
      margin-right: 20px;
    }
    .notification-container{
     width: 250px;
     margin-top: 10px;
     
    }
    
    
    .scroll-bar2{
            
     
      height: 400px;
      width:93%;
     margin-left: 10px;
     
        
       
      overflow-y:auto;
     overflow-x: auto;
    
      
      }
    
    ::-webkit-scrollbar {
    width: 7px;
    
    }
    ::-webkit-scrollbar-track{
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color:lightgrey ;
    }
    ::-webkit-scrollbar-thumb{
    background: #1E293B;
    border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: lightblue;
    }
    
    .activity-main{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 50px;
      font-family: 'Poppins';
    }
    .sub-activity{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Poppins';
    }
    .first{
      width: 10px;
      height: 10px;
      background-color: #D9D9D9;
      margin:0px 5px;
      font-family: 'Poppins';
    }
    .second{
      width: 10px;
      height: 10px;
      background-color: #1E293B;
      margin:0px 5px;
      font-family: 'Poppins';
    }
    .aboutcard-spaceset{
      display: flex;
      flex: none !important;
    }
    .icon:hover{
      cursor: pointer;
    }

    .section-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 250px;
      word-break: break-all;
    
      mat-icon {
        font-size: 19px;
        width: 20px;
        height: 20px;
        line-height: 22px;
        cursor: pointer;
    
        &:hover {
          opacity: 0.7;
        }
      }
    
      .right-cont {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
    }
    .dmr-btn {
      background-color: #233a61;
      color: #fff;
      font-family: Poppins;
      padding: 10px 10px !important;
      line-height: 1;
      font-size: 14px;
    }
    
    
    