
<mat-toolbar style="background-color: #fff !important;" >
  <mat-toolbar-row fxLayoutAlign="space-between center">
      <div style="padding: 1rem;margin-top: 60px;">
      <span style="font-size:30px;font-family: 'Poppins';font-weight: 600;">Pragati Infra</span></div>
      <div>
          <button mat-button style="padding: 1px 12px;width: 150px;margin-top: 50px;position: relative;background-color: #fff;color: #97989D;border:1px solid #97989D;font-family: 'Poppins';" [routerLink]="['/add-project']">Add Project +  </button>

              <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon [matBadge]="recentActivitiesLen" matBadgeColor="warn" style="margin-right: 20px;">notifications</mat-icon>
  </button>
  <mat-menu #menu="matMenu" >

    <div class="scroll-bar1" fxLayout="column" style="height: 500px;">
    <div fxFlex="row" fxLayoutAlign="start" *ngFor="let data of recentActivities">
      <div mat-card-avatar class="example-header-image"></div>
      <div  class="notification-container">
        <div class="content">{{data.description}}
          <div class="time" style="color:#BBBBBB">{{data.time}}</div><br>
        </div>
    </div>

  </div>
  <!-- <div fxFlex="row" fxLayoutAlign="start" *ngFor="let num of [1,2,3,]">
    <div mat-card-avatar class="example-header-image"></div>
    <div >
      <div class="content" style="margin-left: 15px;"><b>Kate: .</b>
        <div class="time">1 hour ago</div><br>
      </div>
  </div>

</div> -->
    </div>

    </mat-menu>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <hr style="width:100%">
    </mat-toolbar-row>
    </mat-toolbar>

    <div>
    <div style="height: 150px;width:50%; float: left;font-family: 'Poppins';">

 <div class="userdiv">
  <h3 style="font-weight: 600;">Users</h3>
  <div > <h3 style="margin-bottom: 100px;font-family: 'Poppins';">Show Entries
    <mat-card>
      <mat-card-content style="position: absolute;bottom: 2px;right: 12px;">{{usersLen}}</mat-card-content>
    </mat-card>
  </h3>

</div>
</div>
</div>

<div  class="right" style="height: 150px;width:50%">
<div><button (click)="addUser()" style="width: 150px;padding: 10px;margin-left: 60%;cursor: pointer;color: #818181;border:1px solid #97989D;background-color: #fff;border-radius: 5px;font-family: 'Poppins';">Create User</button></div>
<div style="margin-left: 45%;margin-top: 10px;cursor: pointer;font-family: 'Poppins';">

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-icon matSuffix>search</mat-icon>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search" style="font-family: 'Poppins';">
  </mat-form-field>

  </div>
</div>
</div>
<div style="width: 100%;height: 100vh;">

  <div style="margin-left: 40px;background-color: brown;color: #fff;width:130px;margin-top:150px ;"><button (click)="deleteMultipleDialog()" mat-button style="font-family: 'Poppins';">Delete Multiple</button>
  </div><br>

  <div>
      <div class="scroll-bar1">
  <section class="example-container" tabindex="0">
      <table mat-table [dataSource]="dataSource">

           <!-- Description Column -->
           <ng-container matColumnDef="SelectAll">
            <th mat-header-cell *matHeaderCellDef >
              <mat-checkbox  (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox><span style="margin-left: 10px;">SelectAll</span>
            </th>
            <td mat-cell *matCellDef="let row"  >
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
      <!-- <ng-container matColumnDef="SelectAll">
        <th mat-header-cell *matHeaderCellDef> <mat-checkbox class="example-margin"  [(ngModel)]="checked" >SelectAll</mat-checkbox> </th>
        <td mat-cell *matCellDef="let element"> <mat-checkbox class="example-margin" [(ngModel)]="checked"></mat-checkbox> {{element.SelectAll}} </td>

      </ng-container> -->




      <!-- R2EndDate Column -->
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef>S.No</th>
        <td mat-cell *matCellDef="let element;let i = index" data-label="No"> {{i + 1}} </td>
      </ng-container>

         <!-- R1EndDate Column -->
         <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
         <!-- WorkingdaysRevised Column -->
         <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

    <!-- BaselineStartDate Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Roles </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>


  <!-- BaselineEndDate Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> {{element.Action}}
          <span class="action_btn">
              <button mat-button (click)="editUser(element)">Edit</button>
              <button mat-button (click)="deleteUser(element._id)">Delete</button>
            </span>
      </td>
    </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      </table>
    </section>
    <mat-paginator #paginator
    class="demo-paginator"
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [disabled]="disabled"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
    [hidePageSize]="hidePageSize"
    [pageIndex]="pageIndex"
    aria-label="Select page">
</mat-paginator>
    </div>

  </div>
</div>
