<mat-toolbar style="background-color: #fff !important;">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div style="padding: 1rem;margin-top: 60px;">
      <span style="font-size:30px;font-family: 'Poppins';font-weight: 600;">Pragati Infra</span>
    </div>
    <div>
      <button mat-button
        style="padding: 1px 12px;width: 150px;margin-top: 50px;position: relative;background-color: #fff;color: #97989D;border:1px solid #97989D;font-family: 'Poppins';"
        [routerLink]="['/add-project']">Add Project + </button>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon [matBadge]="recentActivitiesLen" matBadgeColor="warn"
          style="margin-right: 20px;">notifications</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div class="scroll-bar1" fxLayout="column" style="height: 450px; width:300px;padding: 10px; padding-top:30px;padding-bottom: 30px;">
          <div fxFlex="row" fxLayoutAlign="start" *ngFor="let data of recentActivities">
           
            <div class="notification-container" style="margin-left: 10px; width: 280px;">
              <div class="content">{{data.description}}
                <div class="time" style="color:#BBBBBB">{{data.time}}</div><br>
              </div>
            </div>
          </div>
        </div>
      </mat-menu>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <hr style="width:100%">
  </mat-toolbar-row>
</mat-toolbar>

<div style="border: 2px solid white;" *ngIf="viewPermission; else noView">
  <div>
    <div style="height: 150px;width:50%; float: left;font-family: 'Poppins';">
      <div class="userdiv">
        <h3 style="font-weight: 600;">Users</h3>
        <div>
          <h3 style="margin-bottom: 100px;font-family: 'Poppins';">Show Entries
            <mat-card>
              <mat-card-content style="position: absolute;bottom: 2px;right: 12px;">{{usersLen}}</mat-card-content>
            </mat-card>
          </h3>
        </div>
      </div>
    </div>

    <div class="right" style="height: 150px;width:50%">
      <div><button (click)="addUser()"
          style="width: 150px;padding: 10px;margin-left: 60%;cursor: pointer;color: #818181;border:1px solid #97989D;background-color: #fff;border-radius: 5px;font-family: 'Poppins';">Create User</button></div>
      <div style="margin-left: 45%;margin-top: 10px;cursor: pointer;font-family: 'Poppins';">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-icon matSuffix>search</mat-icon>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search" style="font-family: 'Poppins';">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div style="width: 100%;height: 100vh;">
    <div style="margin-left: 40px;background-color: brown;color: #fff;width:130px;margin-top:150px ;">
      <button (click)="deleteMultipleDialog()" mat-button style="font-family: 'Poppins';">Delete Multiple</button>
    </div><br>
    <div style="overflow-x: auto;"> <!-- Added scroll for horizontal overflow -->
      <section class="example-container" tabindex="0">
        <table mat-table [dataSource]="dataSource" style="width: 100%; table-layout: auto;"> <!-- Adjusted table width and layout -->
          <!-- SelectAll Column -->
          <ng-container matColumnDef="SelectAll">
            <th mat-header-cell *matHeaderCellDef style="width: 120px;">
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox><span style="padding: 10px; ">SelectAll</span>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- S.No Column -->
          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef style="padding-left:10px; padding-right: 10px;">S.No</th>
            <td mat-cell *matCellDef="let element;let i = index" data-label="No"> {{i + 1}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <!-- Roles Column -->
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Roles </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
          </ng-container>

          <!-- Sites Column -->
          <ng-container matColumnDef="sites">
            <th mat-header-cell *matHeaderCellDef> Sites</th>
            <td mat-cell *matCellDef="let element"> {{element.sites}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> {{element.Action}}
              <span class="action_btn" style="display: flex;">
                <button mat-button (click)="editUser(element)" >Edit</button>
                <button mat-button (click)="deleteUser(element._id)" >Delete</button>
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>
      <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
        [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
        [pageIndex]="pageIndex" aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>

<ng-template #noView>
  <h3 style="display: flex; justify-content: center; margin-top: 2%; font-size: 160%; font-weight: bolder; color: grey;">
    You don't have permissions to view.
  </h3>
</ng-template>
