<mat-toolbar style="height: 100px;background-color: #fff;">
  <div style="margin-top: 50px;margin-left: 20px;">
    <img src="./assets/images/RA.svg">
  </div>
  <span
    style="font-family: 'Poppins';margin-top: 40px;font-style: normal;font-weight:600;font-size: 30px;color:#1E293B;margin-left: 10px;">Rate
    Approval </span>
  <span class="example-spacer"></span>


</mat-toolbar>
<div>
  <hr style="width: 1130px;border: 2px solid #C5C5C5;margin-left: 30px;">
</div>
<div style="display: flex;flex-direction: row;font-family: 'Poppins';font-weight: 600;">

  <div style="margin-top: 20px;margin-left: 30px;display: flex;">

    <div style="margin-top: 20px;margin-left: 30px;display: flex;cursor: pointer;" [routerLink]="['/procurement']" routerLinkActive="active-link">

      <div><img src="./assets/images/box.svg"></div>
      <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Purchase&nbsp;request</span>
      <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
    </div>
    <div style="margin-top: 20px;margin-left: 10px;display: flex;cursor: pointer;" [routerLink]="['/procurement/prlist']" routerLinkActive="active-link">
  
      <div> <img src="./assets/images/approval.svg"></div>
      <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Approvals</span>
      <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
    </div>
    <div style="margin-top: 20px;margin-left: 10px;display: flex;cursor: pointer;" [routerLink]="['/rate-comparative']" routerLinkActive="active-link">
      <div> <img src="./assets/images/rc.svg" ></div>
      <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Rate&nbsp;Comparative</span>
      <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
    </div>
    <div style="margin-top: 20px;margin-left: 10px;display: flex;cursor: pointer;" [routerLink]="['/rate-approval']" routerLinkActive="active-link">
      <div > <img src="./assets/images/app.svg"></div>
      <span style="color:  #233A61;margin-left: 5px;font-size: 14px;">Rate&nbsp;Approvals</span>
      <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
    </div>
    <div style="margin-top: 20px;margin-left: 10px;display: flex;cursor: pointer;" [routerLink]="['/purchase-order']" routerLinkActive="active-link">
      <div><img src="./assets/images/po.svg"></div>
      <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Purchase&nbsp;orders</span>
    </div>
    </div>
</div>


<form [formGroup]="purchaseRequestForm">


  <mat-card class="topcard">
    <div style="display: flex;flex-wrap: wrap;gap:10px; max-width: 100%;">

      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Request title </label>
        <mat-form-field appearance="outline">
          <input placeholder="Enter title" formControlName="title"  matInput>
        </mat-form-field>
      </div>

      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Request date</label>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="date" formControlName="date" placeholder="Auto generate Request Date"
            readonly />
          <mat-datepicker-toggle matSuffix [for]="date" ></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      </div>
      
      <div class="flex-div custom-form-group">
        <label class="custom-label" for="" style="color: #4272BF;font-size: 14px;"> Required by <span
            class="star">*</span>
        </label>
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="requiredByStartDate" formControlName="expected_delivery_date"
              placeholder="Enter Required by" readonly />
            <mat-datepicker-toggle matSuffix [for]="requiredByStartDate"></mat-datepicker-toggle>
            <mat-datepicker #requiredByStartDate></mat-datepicker>

          </mat-form-field>
        </div>
      </div>

      <!-- <div class="flex-div custom-form-group">
        <label class="custom-label" for="" style="color: #4272BF;font-size: 14px;"> Handle by <span
            class="star">*</span>
        </label>
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput formControlName="handle_by" placeholder="Enter handle by name" />

          </mat-form-field>
        </div>
      </div> -->
      <div class="flex-div custom-form-group">
        <label class="custom-label" for="" style="color: #4272BF;font-size: 14px;"> Handle by <span
            class="star">*</span>
        </label>
        <div class="custom-form-control">
          <!-- <mat-form-field appearance="outline">
            <input matInput formControlName="handle_by" placeholder="Enter handle by name" />

          </mat-form-field> -->
          <mat-form-field appearance="outline">
            <!-- <mat-label>Handle by</mat-label> -->
            <mat-select matInput formControlName="handle_by" >
              <mat-option *ngFor="let user of users" [value]="user?._id">
                {{user?.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>



      <!-- <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Request no </label>
        <mat-form-field appearance="outline">
          <input placeholder="Auto generate" formControlName="rate_approval_number" matInput readonly>

        </mat-form-field>
      </div> -->

      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Site name <span class="star">*</span></label>
        <mat-form-field appearance="outline">
          <mat-select id="site" placeholder="Select site" formControlName="site" >
            <mat-option [value]="item._id" *ngFor="let item of siteList">
              {{item.site_name}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex-div" style="display: flex;flex-direction: column;margin-left: 10px;">
        <label style="color: #4272BF;    margin-bottom: 10px;">Local Purchase <span class="star">*</span></label>
        <mat-radio-group aria-labelledby="example-radio-group-label" color="primary" class="example-radio-group"
          formControlName="local_purchase" >
          <mat-radio-button class="example-radio-button" style="margin-right: 10px;" [value]="'yes'">
            Yes
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="'no'">
            No
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-card>


<!-- <div style="display: flex; margin-top: 20px;">
  <button (click)="compare('vendor')"  >Compare By Vendor</button>
  <button style="margin-left: 20px;" (click)="compare('item')">Compare by Items</button>
</div> -->
<div class="requests">
  <div [ngClass]="{'active':compareBy=='vendor'}"  (click)="compare('vendor')"  >Compare By Vendor</div>
  <div [ngClass]="{'active':compareBy=='item'}"  (click)="compare('item')">Compare by Items</div>
  <!-- <div class="innerreq">Rejected request</div>
  <div class="innerreq">Revised request</div> -->
</div>
<div class="scroll-bar1" *ngIf="compareBy=='vendor'">
    <ng-container *ngIf="CheckVendorComparision(); else noview">
      <table style="direction: ltr !important;border-left: 2px solid #000 !important;" >
        <tr>
          <th>Item*</th>
          <th>Category</th>
          <th>Sub&nbsp;category</th>
          <th>Uom</th>
          <th>Quantity</th>
          <th>Brand Name</th>
          <th>Tax</th>
          <!-- <th>Vendors</th> -->
        </tr>
        <tbody *ngFor="let item of details?.items; let i = index;">
          <tr style="background-color: #F4F4F5;" >
            <!-- <td style="text-align: center;">
              {{i+1}}
            </td> -->
            <td>
              {{item.item_name}}
            </td>
            <td style="color: #000;">
              {{item.categoryDetail.name}}
            </td>
            <td style="color: #000;">
              {{item.subCategoryDetail.subcategory_name}}
            </td>
            <td>
              {{item.uomDetail.uom_name}}
            </td>
  
            <td>
              {{item.qty}}
            </td>
            <td>{{myBrandName(item.brandName)}}</td>
            <td>
              <ng-container *ngIf="item.tax && item.tax.amount">
                {{item.tax.name}}({{item.tax.amount}}%)
              </ng-container>
            </td>
  
            <!-- <td>
              <a class="p-btns" (click)="vendorData(item)"> Vendor Rates</a>
            </td> -->
          </tr>
        </tbody>
        </table>
        <div>Select Vendor</div>
        <div class="vendor-wapper">
          <div   *ngFor="let vendorItem of details.vendorItems; let i=index">
                <div>
                <div *ngIf="vendorTotal(vendorItem.items) as vendorTotal" >
                  <div class="vendor-name-cl" *ngIf="findVendor(vendorItem.Vendor) as vendorDetails">

                    <div style="display: flex; justify-content: space-between;">
                      <div>{{vendorDetails.vendor_name}}</div>
                      <div>
                        <input [disabled]="VendorRate.size>0 && !VendorRate.has(vendorDetails._id)" type="checkbox" style="width: 20px;" (change)="handleCheckboxChange(vendorDetails._id,vendorItem,vendorTotal)" />
                      </div>
                    </div>
            
                  </div>
                  <div   *ngFor="let item of details.vendorItems[i].items; let i=index">

                    <div class="vendor-value-cont">
                      <div class="vendor-value-label">SubTotal {{item.item.item_name}} </div>
                      <div class="vendor-value">
                        {{item.SubTotalAmount | number:'1.2-2'}}
                      </div>
                    </div>
                  </div>
                  <div class="vendor-value-cont">
                    <div class="vendor-value-label">Total Freight (Inc* All Items)</div>
                    <div class="vendor-value">
                      {{vendorTotal.freight| number:'1.2-2'}}
                    </div>
                  </div>

                  <div class="vendor-value-cont">
                    <div class="vendor-value-label">Total GST</div>
                    <div class="vendor-value">
                      {{vendorTotal.total - vendorTotal.subTotal - vendorTotal.freight | number:'1.2-2' }}
                    </div>
                  </div>
                  <div class="vendor-value-cont">
                    <div class="vendor-value-label">Sub Total (Inc* All Items)</div>
                    <div class="vendor-value">
                      {{vendorTotal.subTotal | number:'1.2-2' }}
                    </div>
                  </div>

                  <div class="vendor-value-cont">
                    <div class="vendor-value-label">Grand Total (Inc* All Items)</div>
                    <div class="vendor-value">
                      {{vendorTotal.total | number:'1.2-2' }}
                    </div>
                  </div>
    
                  <!-- <div class="vendor-value-cont">
                    <div class="vendor-value-label">Item Rate</div>
                    <div class="vendor-value">
                      {{vendorTotal.rate | number:'1.2-2' }}
                    </div>
                  </div>

                  <div class="vendor-value-cont">
                    <div class="vendor-value-label">Rate</div>
                    <div class="vendor-value">
                      {{vendorTotal.rate | number:'1.2-2' }}
                    </div>
                  </div>

                  <div class="vendor-value-cont">
                    <div class="vendor-value-label">Qty.</div>
                    <div class="vendor-value">
                      {{vendorTotal.qty | number:'1.2-2' }}
                    </div>
                  </div>
                  <div class="vendor-value-cont">
                    <div class="vendor-value-label">Subtotal</div>
                    <div class="vendor-value">
                      {{vendorTotal.subTotal | number:'1.2-2' }}
                    </div>
                  </div>
                  <div class="vendor-value-cont">
                    <div class="vendor-value-label">Freight</div>
                    <div class="vendor-value">
                      {{vendorTotal.freight | number:'1.2-2' }}
                    </div>
                  </div>
                  <div class="vendor-value-cont">
                    <div class="vendor-value-label">GST Amount</div>
                    <div class="vendor-value">
                      {{ vendorTotal.gstAmount | number:'1.2-2' }}
                    </div>
                  </div>
                 
                  <div class="vendor-value-cont" style="background-color: #073B4C14;">
                    <div class="vendor-value-label"><strong>Grand total</strong></div>
                    <div class="vendor-value">
                      {{vendorTotal.total | number:'1.2-2' }}
                    </div>
                  </div> -->
                </div>
            </div>
    </div>
  </div>
    </ng-container>
    <ng-template #noview>
      Vendor Comparison is not Applicable.
    </ng-template>
</div>
  <div class="scroll-bar1" *ngIf="compareBy=='item'">
    <table style="direction: ltr !important;border-left: 2px solid #000 !important;" >
      <tr>
        <th>Item*</th>
        <th>Category</th>
        <th>Sub&nbsp;category</th>
        <th>Uom</th>
        <th>Quantity</th>
        <th>Brand Name</th>
        <th>Tax</th>
        <th>Vendors</th>
        <th>Vendor Selection</th>
      </tr>



      <tbody *ngFor="let item of details?.items; let i = index;">
        <tr style="background-color: #F4F4F5;" >
          <!-- <td style="text-align: center;">
            {{i+1}}
          </td> -->
          <td>
            {{item.item_name}}
          </td>
          <td style="color: #000;">
            {{item.categoryDetail.name}}
          </td>
          <td style="color: #000;">
            {{item.subCategoryDetail.subcategory_name}}
          </td>
          <td>
            {{item.uomDetail.uom_name}}
          </td>

          <td>
            {{item.qty}}
          </td>
          <td>{{myBrandName(item.brandName)}}</td>
          <td>
            <ng-container *ngIf="item.tax && item.tax.amount">
              {{item.tax.name}}({{item.tax.amount}}%)
            </ng-container>
          </td>

          <!-- <td>
            <a class="p-btns" (click)="vendorData(item)">Vendor Rates</a>
          </td> -->
          <td>
            <a class="p-btns" style="display: inline-block; padding: 10px 20px; background-color: #233a61; color: #fff; text-decoration: none; border-radius: 5px;" (click)="vendorData(item)">Vendor Rates</a>
        </td>
        
          <td>
            <ng-container *ngIf="ItemwiseVendorRate.has(item.item_id); else pendingView">
              Completed
            </ng-container>
            <ng-template #pendingView>
              Pending
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- 
  <div class="vendor-wapper">

    <div class="vendor-container" *ngFor="let item of details.vendors_total">

      <div class="vendor-name-cl">

        <ng-container
          *ngIf="vendorAssociatedData && vendorAssociatedData[item.vendor_id] && vendorAssociatedData[item.vendor_id]['vendor_name']">
          {{vendorAssociatedData[item.vendor_id]['vendor_name']}}
        </ng-container>

      </div>
      <div class="vendor-value-cont">
        <div class="vendor-value-label">Subtotal</div>
        <div class="vendor-value">
          {{item.subtotal}}
        </div>
      </div>
      <div class="vendor-value-cont">
        <div class="vendor-value-label">GST Amount</div>
        <div class="vendor-value">
          {{item.total_tax}}
        </div>
      </div>
      <div class="vendor-value-cont" style="background-color: #186D3C14;">
        <div class="vendor-value-label">Freight</div>
        <div class="vendor-value">
          <input type="number" min="0" (keyup)="onChangeFreightCharges($event,item)"
            (change)="onChangeFreightCharges($event,item)" [value]="item.freight_charges"
            [readonly]="item.subtotal == 0">
        </div>
      </div>
      <div class="vendor-value-cont" style="background-color: #186D3C14;">
        <div class="vendor-value-label">Freight GST(%)</div>
        <div class="vendor-value">
          <input type="number" min="0" (keyup)="onChangeFreightTaxPercent($event,item)"
            (change)="onChangeFreightTaxPercent($event,item)" [value]="item.freight_tax"
            [readonly]="item.subtotal == 0">
        </div>
      </div>
      <div class="vendor-value-cont" style="background-color: #073B4C14;">
        <div class="vendor-value-label"><strong>Grand total</strong></div>
        <div class="vendor-value">
          {{item.total_amount}}
        </div>
      </div>
    </div>

  </div>
 -->




  <div class="text-area-section">

    <label style="color: #4272BF;font-size: 14px;">Remarks </label>
    <textarea name="" id="" cols="30" rows="5" formControlName="remarks"></textarea>

  </div>
  <div class=" button-list">

    <button class="p-btns-button" (click)="updateRequest('approved')" [disabled]="load">
      <span *ngIf="!load">Santion</span>
      <span *ngIf="load">Please wait...</span>
    </button>

    <button class="p-btns-button" (click)="updateRequest('rejected')" [disabled]="load">
      <span *ngIf="!load">Reject</span>
      <span *ngIf="load">Please wait...</span>
    </button>
    <button class="p-btns-button" (click)="updateRequest('revise')" [disabled]="load">
      <span *ngIf="!load">Revise</span>
      <span *ngIf="load">Please wait...</span>
    </button>
  </div>
</form>
