<div class="section-wrapper">

  <div class="section-header">
    <div class="header-left">
      <h2>Add Site</h2>
    </div>
    <div class="header-right">
      <div class="buttons-containers">
        <button mat-button class="submit-btn" (click)="saveData()">Submit</button>
        <button mat-button class="cancel-btn" (click)="list()">Cancel</button>
      </div>
    </div>
  </div>

  <div class="section-body">
    <form [formGroup]="addForm">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Site Name</mat-label>
            <input matInput formControlName="site_name">
            <mat-error *ngIf="addForm.controls.site_name.errors?.['required']">
              this field is required.
            </mat-error>
            <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
          </mat-form-field>

        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location">
            <mat-error *ngIf="addForm.controls.location.errors?.['required']">
              this field is required.
            </mat-error>
            <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
          </mat-form-field>

        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput formControlName="code">
            <mat-error *ngIf="addForm.controls.code.errors?.['required']">
              this field is required.
            </mat-error>
            <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
          </mat-form-field>

        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Store Manager</mat-label>
            <mat-select matInput formControlName="store_manager">
              <mat-option *ngFor="let user of users" [value]="user?.name" (onSelectionChange)="manageChange(user._id)">
                {{user?.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addForm.controls.store_manager.errors?.['required']">
              this field is required.
            </mat-error>
          </mat-form-field>

        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Store Manager Number</mat-label>
            <input matInput formControlName="store_manager_phone_number" type="number" [readonly]="true">
            <mat-error *ngIf="addForm.controls.store_manager_phone_number.errors?.['required']">
              this field is required.
            </mat-error>
            <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
          </mat-form-field>

        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Store Manager Email</mat-label>
            <input matInput formControlName="site_manager_email" type="email" [readonly]="true">
            <mat-error *ngIf="addForm.controls.site_manager_email.errors?.['required']">
              this field is required.
            </mat-error>
            <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
          </mat-form-field>

        </div>



        <h4>Address</h4>
        <div formGroupName="address" class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Street Address</mat-label>
              <input matInput formControlName="street_address">
              <mat-error *ngIf="addForm.get('address.street_address').errors?.['required']">
                this field is required.
              </mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Street Address 2</mat-label>
              <input matInput formControlName="street_address2">
              <mat-error *ngIf="
              addForm.get('address.street_address2').errors?.['required']">
                this field is required.
              </mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>State</mat-label>
              <input matInput formControlName="state">
              <mat-error *ngIf="
              addForm.get('address.state').errors?.['required']">
                this field is required.
              </mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input matInput formControlName="city">
              <mat-error *ngIf="
              addForm.get('address.city').errors?.['required']">
                this field is required.
              </mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Zip Code</mat-label>
              <input matInput formControlName="zip_code" type="number" maxlength="6">
              <mat-error *ngIf="
              addForm.get('address.zip_code').errors?.['required']">
                this field is required.
              </mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <input matInput formControlName="country">
              <mat-error *ngIf="
              addForm.get('address.country').errors?.['required']">
                this field is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
