<mat-toolbar style="height: 100px;background-color: #fff; justify-content: space-between;">
    
    <div style="margin-top: 40px;margin-left: 20px;">
    <img src="./assets/images/preq.svg">
    <span
    style="font-family: 'Poppins';margin-top: 40px;font-style: normal;font-weight:600;font-size: 30px;color:#1E293B;margin-left: 10px;">Material Record Sheet</span>
    <span class="example-spacer"></span>
    </div>
    

    <div>
        <button mat-button [matMenuTriggerFor]="menu"> <mat-icon [matBadge]="recentActivitiesLen" matBadgeColor="warn" >notifications</mat-icon></button>
        <mat-menu #menu="matMenu" >
         <div class="scroll-bar1" fxLayout="column" style="height: 500px;">
           <div fxFlex="row" fxLayoutAlign="start" *ngFor="let data of recentActivities">
             <div mat-card-avatar class="example-header-image"></div>
             <div  class="notification-container">
               <div class="content">{{data.description}}
                 <div class="time" style="color: #BBBBBB;">{{data.time}}</div><br>
               </div>
           </div>
         
         </div>
         <!-- <div fxFlex="row" fxLayoutAlign="start" *ngFor="let num of [1,2,3,]">
           <div mat-card-avatar class="example-header-image"></div>
           <div >
             <div class="content" style="margin-left: 10px;"><b>Kate: .</b>
               <div class="time">1 hour ago</div>
             </div>
         </div>
       
       </div> -->
   
    </div>
       </mat-menu>
    </div>

</mat-toolbar>
<div>
<hr style="width: 96%;border: 2px solid #C5C5C5;margin-left: 30px;">
</div>

<!-- <div>
  <ul class="toptext" style="background-color: #fff !important;list-style: none;">
      <li style="border-right: 1px solid #D9D9D9;padding-right: 10px;"><a style="color: #000;" [routerLink]="['/dmr']"
          routerLinkActive="active-link"><i class="fa fa-eye" aria-hidden="true" style="color:#97989D"></i> <span
          style="color:#97989D"> Back</span></a></li>
  </ul>
</div> -->

<form [formGroup]="dmrForm">


  <mat-card class="topcard">
    <div style="display: flex;flex-wrap: wrap;gap:10px; max-width: 100%;">
      <div class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">DMR No <span class="star">*</span></label>
        <input placeholder="Enter DMR Number" formControlName="DMR_No"
          style="color:#97989D; font-size: medium;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;" readonly>
      </div>
      <div class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">PR Number <span class="star">*</span></label>
        <input placeholder="Enter Details" formControlName="PRNumber"
          style="color:#97989D;font-size: medium;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;" readonly>
      </div>
      <div class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">PO Number <span class="star">*</span></label>
        <input placeholder="Enter Details" formControlName="PONumber"
          style="color:#97989D;font-size: medium;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;" readonly>
      </div>
      <div class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">Name Of Org <span class="star">*</span></label>
        <input placeholder="Enter Details" formControlName="NameOfOrg"
          style="color:#97989D;font-size: medium;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;" readonly>
      </div>
      <div class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">Site <span class="star">*</span></label>
        <input placeholder="Enter Details" formControlName="Site"
          style="color:#97989D;font-size: medium;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;" readonly>
      </div>
      <div class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">Vendor Name <span class="star">*</span></label>
        <input placeholder="Enter Details" formControlName="VendorName"
          style="color:#97989D;font-size: medium;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;" readonly>
      </div>
      <div class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">Final Delivery Date <span class="star">*</span></label>
        <input placeholder="Enter Details" formControlName="FinalDeliveryDate"
          style="color:#97989D;font-size: medium;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;" readonly>
      </div>
      <div class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">Gate Register Entry <span class="star">*</span></label>
        <input placeholder="Enter Details" formControlName="GateRegisterEntry"
          style="font-size: medium;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;">
           <mat-error *ngIf="dmrForm.get('GateRegisterEntry').invalid && ( dmrForm.get('GateRegisterEntry').dirty || dmrForm.get('GateRegisterEntry').touched )">
                <span>Please provide a valid Gate Register Entry</span>
            </mat-error>
      </div>
      <div class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">Vehicle Number <span class="star">*</span></label>
        <input placeholder="Enter Details" formControlName="VehicleNumber"
          style="font-size: medium;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;">
          <mat-error *ngIf="dmrForm.get('VehicleNumber').invalid && ( dmrForm.get('VehicleNumber').dirty || dmrForm.get('VehicleNumber').touched )">
            <span>Please provide a valid Vehicle Number</span>
        </mat-error>
    </div>
    <!-- <div>
  <label for="userChoice">Choose:</label>
  <select id="userChoice" name="userChoice" [(ngModel)]="userChoice" (change)="onUserChoiceChange(userChoice)">
    <option value="ChallanNumber">Challan Number</option>
    <option value="InvoiceNumber">Invoice Number</option>
  </select>
</div> -->
      <div class="flex-div" style="display: flex; flex-direction: column">
        <label style="color: #4272BF; font-size: 14px;">Choose: <span class="star">*</span></label>
        <select (change)="setValidation()" formControlName="userChoice" style="color:#97989D;font-size: medium;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;">
          <option value="ChallanNumber">Challan Number</option>
          <option value="InvoiceNumber">Invoice Number</option>
        </select>
      </div>

      <div *ngIf="dmrForm.get('userChoice').value === 'ChallanNumber'" class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">Challan Number <span class="star">*</span></label>
        <input placeholder="Enter Details" formControlName="ChallanNumber"
          style="font-size: medium;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;">
          <mat-error *ngIf="dmrForm.get('ChallanNumber').invalid && ( dmrForm.get('ChallanNumber').dirty || dmrForm.get('ChallanNumber').touched )">
            <span>Please provide a valid Challan Number</span>
          </mat-error>
        </div>
      <div *ngIf="dmrForm.get('userChoice').value === 'InvoiceNumber'"class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">Invoice Number <span class="star">*</span></label>
        <input placeholder="Enter Details" formControlName="InvoiceNumber"
          style="font-size: medium;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;">
        <mat-error *ngIf="dmrForm.get('InvoiceNumber').invalid && ( dmrForm.get('InvoiceNumber').dirty || dmrForm.get('InvoiceNumber').touched )">
          <span>Please provide a valid Invoice Number</span>
        </mat-error>
        </div>
      <div class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">Total Amount <span class="star">*</span></label>
        <input placeholder="Enter Details" formControlName="TotalAmount"
          style="font-size: medium;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;">
          <mat-error *ngIf="dmrForm.get('TotalAmount').invalid && ( dmrForm.get('TotalAmount').dirty || dmrForm.get('TotalAmount').touched )">
            <span>Please provide a valid Total Amount</span>
        </mat-error>
          <mat-error *ngIf="dmrForm.get('TotalAmount').hasError('notNumeric') && !dmrForm.get('TotalAmount').invalid && ( dmrForm.get('TotalAmount').dirty || dmrForm.get('TotalAmount').touched )">>
            <span>Please provide a valid Total Amount</span>
        </mat-error>
        </div>
      <div class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">Date <span class="star">*</span></label>
        <input placeholder="Enter Details" formControlName="dmrdate"
          style="font-size: medium;color:#97989D;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;" readonly>
      </div>
      <!-- <div class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">Remarks </label>
        <textarea placeholder="Enter Remark" formControlName="dmrRemarks"
        style="font-size: medium;color:#97989D;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;"></textarea>
      </div> -->
      <div class="flex-div" style="display: flex;flex-direction: column">
        <label style="color: #4272BF;font-size: 14px;">Upload Invoice/Challan <span class="star">*</span></label>
        <input type="file" formControlName="InvoiceOrChallanDoc"
        style="font-size: medium;color:#97989D;width:75%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins'; height: 50px;"
        class="uploadImg" id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)">
        <span style="font-size: 10px;color: grey;">Accepted file type: png, jpeg and jpg Only(Max size: 5mb)</span> 
        <span class="error-message">{{ errorMessage }}</span>
        <!-- <mat-error *ngIf="dmrForm.get('InvoiceOrChallanDoc').invalid && ( dmrForm.get('InvoiceOrChallanDoc').dirty || dmrForm.get('InvoiceOrChallanDoc').touched )">
          <span>Please Upload Invoice Or Challan</span>
        </mat-error> -->
      </div>
    </div>
  </mat-card>




  <div class="scroll-bar1">
    <table class="items-table" style="direction: ltr !important;border-left: 2px solid #000 !important;">
      <tr>
        <th>Item&nbsp;No</th>
        <th>Item Name</th>
        <th>Make/Remarks</th>
        <th>PO UOM</th>
        <th>PO Quantity</th>
        <th>Total Recived Quantity</th>
        <th>Invoice UOM</th>
        <th>Invoice Quantity</th>
        <th style="text-align: center;">Balance Qty</th>
        <th>PO Rate</th>
        <th>Invoice Rate</th>
        <th>Freight</th>
        <th>GST</th>
        <th>Remarks</th>
      </tr>
      <tbody *ngIf="purchaseOrderList && purchaseOrderList.length > 0">
        <tr style="background-color: #F4F4F5;" formArrayName="dmritem" 
            *ngFor="let item of purchaseOrderList[0].items; let i = index;">
            <td style="text-align: center;">
              {{i+1}}
            </td>
            <ng-container [formGroupName]="i">
              <td style="color: #000;">
                {{item.item_name}}
              </td>
              <td>{{item.remark}}</td>
              <td style="color: #000;">
                {{item.uom.uom_name}}
              </td>
              <td style="color: #000;">
                {{item.qty}}
              </td>
              <td>{{item.Totalrecived_qty}}</td>
              <td>
                
                <input type="text" placeholder="Enter"  formControlName="InvoiceUOM" class="pr-form-field">
              </td>
              <td>
                
                <input type="text" placeholder="Enter" digitOnly formControlName="InvoiceQuantity" class="pr-form-field">
              </td>
              <td>
            
                  {{item.qty-item.Totalrecived_qty-dmrForm.get('dmritem').get(i.toString()).get('InvoiceQuantity').value}}
               
                
                </td>
              <td >
                {{item.vendors[0].item_rate}}/qty
              <!-- {{item.qty*item.vendors[0].item_rate+((item.qty*item.vendors[0].item_rate*item.tax.amount)/100) }}   -->
              </td>
              <td>
                
                <input type="text" placeholder="Enter" digitOnly formControlName="InvoiceRate" class="pr-form-field">
              </td>
              <td>
                
                <input type="text" placeholder="Enter" digitOnly formControlName="Freight" class="pr-form-field">
              </td>
              <td>
                
                <input type="text" placeholder="Enter" digitOnly formControlName="GST" class="pr-form-field">
              </td>
              <td>
                <textarea placeholder="Enter" formControlName="Remarks" class="pr-form-field"></textarea>
              </td>
              
        
            </ng-container>
          </tr>  
      </tbody>
    </table>
  </div>
  <div style="display: flex;flex-direction: row;gap: 10px;justify-content: space-between;position: relative;right:60px;margin-bottom: 15px;">
    <div><button
      style="padding: 8px;margin-left: 95px;width: 120px;background-color: #233A61;color: #fff;border-radius: 5px;border-color: lightgrey;font-size: 14px;font-family: 'Poppins';"[routerLink]="['/dmr']"
      routerLinkActive="active-link">Back</button>
  </div>
  <div>
    <button
        style="padding: 8px;width: 120px;background-color: #233A61;color: #fff;border-radius: 5px;border-color: lightgrey;font-size: 14px;font-family: 'Poppins';margin-right: 30px;" (click)="CreateDmr()">Update</button>
    
    <button
        style="padding: 8px;width: 120px;background-color: #fff;color: #233A61;border: 1px solid #94A3B8;border-radius: 5px;font-size: 14px;font-family: 'Poppins';"(click)="clearForm()">Clear</button>
    
  </div>
    
  </div>
</form>