li {
    float: left;
  
  }

  li a {
    /* display: block; */
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;

  }
  .toptext{
    display: flex;
    margin-left: 10px;
    background-color: #fff !important;
  }

  .container{
    margin-top: 50px;
    margin-left: 30px;
    padding: 16px;
    
}

.top_container{
    padding: 20px;
   
}
.down_container{
    padding: 10px;
 
}
card-below{
    
    border-radius: 5px;
    box-shadow: 0px 0px 3px lightgray,
    0px 0px 7px lightgray,
    0px 0px 11px lightgray;
  
 
}
.example-card{
    max-width: 400px;
}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .cirle > div{
    width: 60;
    height: 60;
    
   
}

.cirle{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
}
.vertical-line{
  width: 100px;
   height: 200px;
   position: relative;

   border-left: 3px solid gainsboro;
   top: 50px;
   margin: 50px;
 
  

}
mat-card{
  width: 90%;
  height: 400px;
  margin-left: 50px;
 
}

body{
  background-color: #fff !important;
}

.scroll-bar{
        
 
  height: 400px;
    
 
    
   
  overflow-y:auto;
 overflow-x: hidden;

  
  }

::-webkit-scrollbar {
width: 7px;

}
::-webkit-scrollbar-track{
border: 1px solid lightgrey;
border-radius: 5px;
background-color:lightgrey ;
}
::-webkit-scrollbar-thumb{
background: #1E293B;
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
background: lightblue;
}


.scroll-bar1{
      
 
  height: 400px;

  
 
  overflow: auto;
  overflow-x: hidden;
  }

::-webkit-scrollbar {
width: 7px;
height:7px;
}
::-webkit-scrollbar-track{
border: 1px solid lightgrey;
border-radius: 5px;
background-color:lightgrey ;
}
::-webkit-scrollbar-thumb{
background: #1E293B;
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
background: lightblue;
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}
.notification-container{
 width: 200px;
 margin-left: 10px;
}
