<div class="section-wrapper">

  <div class="section-header">
    <div class="header-left">
      <h2>Add Organisation</h2>
    </div>
    <div class="header-right">
      <div class="buttons-containers">
        <button mat-button class="submit-btn">Submit</button>
        <button mat-button class="cancel-btn">Cancel</button>
      </div>
    </div>
  </div>

  <div class="section-body">

    <div class="row">

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Enter email</mat-label>
          <input matInput>
          <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
        </mat-form-field>

      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Enter email</mat-label>
          <input matInput>
          <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
        </mat-form-field>

      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Enter email</mat-label>
          <input matInput>
          <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
        </mat-form-field>

      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Enter email</mat-label>
          <input matInput>
          <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
        </mat-form-field>

      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Enter email</mat-label>
          <input matInput>
          <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
        </mat-form-field>

      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Enter email</mat-label>
          <input matInput>
          <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
        </mat-form-field>

      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Enter email</mat-label>
          <input matInput>
          <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
        </mat-form-field>

      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Enter email</mat-label>
          <input matInput>
          <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
        </mat-form-field>

      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Enter email</mat-label>
          <input matInput>
          <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
        </mat-form-field>

      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Enter email</mat-label>
          <input matInput>
          <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
        </mat-form-field>

      </div>



    </div>



    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>



  </div>

</div>