<mat-toolbar style="height: 100px; background-color: #fff">
  <div style="margin-top: 40px; margin-left: 20px">
    <img src="./assets/images/prstatus.svg" />
  </div>
  <span
    style="
      font-family: 'Poppins';
      margin-top: 40px;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      color: #1e293b;
      margin-left: 10px;
    "
    >PO Status</span
  >
  <span class="example-spacer"></span>
  <button mat-icon-button style="margin-right: 40px">
    <mat-icon style="margin-top: 40px">notifications</mat-icon>
  </button>
</mat-toolbar>
<div>
  <hr style="width: 94%; border: 2px solid #c5c5c5; margin-left: 30px" />
</div>

<div style="display: flex; flex-direction: row; gap: 10px">
  <div style="margin-left: 40px; width: 100%; margin-top: 30px">
    <mat-form-field appearance="outline" class="searchbar">
      <mat-icon matSuffix>search</mat-icon>
      <input
        matInput
        (input)="filterRecords($event)"
        type="search"
        placeholder="Search Title"
        class="search-input"
      />
    </mat-form-field>
  </div>
  <div style="margin-right: 600px; margin-top: 30px; display: flex; gap: 10px">
    <div style="margin-top: 15px; color: #94a3b8; margin-left: 30px">
      <span>Filter&nbsp;by</span>
    </div>
    <div>
      <mat-form-field appearance="outline" class="datebar">
        <input
          matInput
          [matDatepicker]="startPicker"
          placeholder="Date"
          (click)="startPicker.open()"
          (dateChange)="dateFilter($event)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <!-- <div style="position: relative;right:570px;top:35px">
              <button style="padding: 8px ;width: 150px;background-color: #fff;cursor: pointer;border: 0.5px solid #94A3B8;border-radius: 5px;color:#797979;font-family: 'Poppins';font-size: 14px;">
              Show History <img src="./assets/images/showhistory.svg" class="imgstyle"> </button>
             </div> -->
</div>

<div class="scroll-bar1">
  <table
    style="direction: ltr !important; border-left: 2px solid #000 !important"
  >
    <tr>
      <th>PO No</th>
      <th>Request Title</th>
      <th>Site Name</th>
      <th>Required By</th>
      <th>Approved By</th>

      <th>PR status</th>
      <th>PR PDF</th>
      <th>PO PDF</th>
      <th>Rate Comparative PDF</th>
      <th>Vendor Quotations</th>
      <th>Vendor Acceptance</th>
    </tr>

    <tbody>
      <tr style="background-color: #f4f4f5" *ngFor="let item of prList">
        <td style="text-align: center; width: 150px">{{ item.po_number }}</td>
        <td style="color: #000; width: 150px">{{ item.title }}</td>
        <td style="color: #000; width: 200px">
          {{ item.delivery_address.company_name }}
        </td>
        <td>{{ item.due_date | date : "dd-MM-yyyy" }}</td>
        <td>{{ item.approved_by }}</td>
        <td>
          <button
            style="
              padding: 15px;
              width: 170px;
              background-color: #3cb03a;
              font-family: 'Poppins';
              border-radius: 8px;
              color: #fff;
              border-color: lightgrey;
              font-size: 14px;
            "
          >
            <ng-container>
              {{
                item.status === "revise"
                  ? "Revise"
                  : item.status === "ApprovalPending"
                  ? "Approval Pending"
                  : item.status === "approved"
                  ? "Approved"
                  : item.status === "pending"
                  ? "Pending"
                  : item.status === "rejected"
                  ? "Rejected"
                  : item.status
              }}
            </ng-container>
          </button>
        </td>

        <td>
          <button
            (click)="downloadPRPdf(item.rate_approval_id, item)"
            style="
              padding: 15px;
              width: 150px;
              background-color: #233a61;
              font-family: 'Poppins';
              border-radius: 8px;
              color: #fff;
              border-color: lightgrey;
              font-size: 14px;
            "
          >
            <ng-container> Download PR </ng-container>
          </button>
        </td>
        <td>
          <button
            (click)="downloadPOPdf(item._id, item)"
            [disabled]="item.status !== 'approved'"
            [ngStyle]="{
              'background-color':
                item.status === 'approved' ? '#233a61' : '#d3d3d3',
              cursor: item.status === 'approved' ? 'pointer' : 'not-allowed',
              color: item.status === 'approved' ? '#fff' : '#8c8c8c'
            }"
            style="
              padding: 15px;
              width: 150px;
              font-family: 'Poppins';
              border-radius: 8px;
              border-color: lightgrey;
              font-size: 14px;
            "
          >
            <ng-container> Download PO </ng-container>
          </button>
        </td>

        <td>
          <button

          (click)="downloadRCPdf(item.rate_approval_id, item)"
            style="
              padding: 15px;
              width: 250px;
              font-family: 'Poppins';
              border-radius: 8px;
              color: #233a61;
              border-color: lightgrey;
              font-size: 14px;
            "
          >
            <ng-container> Download Rate Comparative </ng-container>
          </button>
        </td>
        <td>
          <button
          (click)="openModal(item.vendor_files, item.po_number)"
            style="
              padding: 15px;
              width: 250px;
              font-family: 'Poppins';
              border-radius: 8px;
              color: #233a61;
              border-color: lightgrey;
              font-size: 14px;
            "
          >
            <ng-container> Download Vendor Quotations </ng-container>

          </button>
          
        </td>
        <td>
         
          <button
          
            (click)="downloadVendorAcceptance(item.po_files)"
            [disabled]="isObjectEmpty(item.po_files)"
            [ngStyle]="{
              'background-color': isObjectEmpty(item.po_files)
                ? '#d3d3d3'
                : '#f1f1f1',
              cursor: isObjectEmpty(item.po_files) ? 'not-allowed' : 'pointer',
              color: isObjectEmpty(item.po_files) ? '#a9a9a9' : '#233a61'
            }"
            style="
              padding: 15px;
              width: 250px;
              font-family: 'Poppins';
              border-radius: 8px;
              border-color: lightgrey;
              font-size: 14px;
            "
          >
            <ng-container> Download Vendor Acceptance </ng-container>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- Inline Modal -->
<div *ngIf="isModalOpen" class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h4>Vendor Files ({{po_number}})</h4>
      <button
      (click)="closeModal()"
      style="
        border: none;
        height: 30px;
        width: 30px; 
        font-size: 18px;
        border-radius: 15px; 
        
        color: white;
        margin-top: -10px;
        justify-content: center; 
        align-items: center; 
        font-weight: bold;
       background: transparent;
        cursor: pointer;
      "
    >
      x
    </button>
     </div>
    <div class="modal-body">
      <ul *ngFor="let key of objectKeys(vendorFiles)">
       
        <a [attr.href]="vendorFiles[key]" target="_blank" rel="noopener noreferrer">
          <li style="color:#233a61; font-weight: bold; padding: 10px; margin:10px; font-size: 15px; text-decoration: underline;"> Vendor Quotation (Code - {{ key }})</li>
        </a>
      
      </ul>
    </div>
  </div>
</div>
