<div class="section-wrapper">

  <div class="section-header">
    <div class="header-left">
      <h2>GST Master</h2>
    </div>
    <div class="header-right">
      <div class="buttons-containers">
        <button mat-button class="submit-btn" (click)="add()">Add</button>
      </div>
    </div>
  </div>

  <div class="section-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">SN.</th>

          <th scope="col">GST Name</th>
          <th scope="col">Percentage</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of categoryList;let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.gst_name}}</td>
          <td>{{item.gst_percentage}}</td>
          <td>
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <button class="btn btn-success btn-sm rounded-0" (click)="edit(item._id)" type="button"
                  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
              </li>
              <li class="list-inline-item">
                <button class="btn btn-danger btn-sm rounded-0" type="button" (click)="delete(item._id)"
                  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
              </li>
            </ul>
          </td>
        </tr>
        <!-- <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr> -->
      </tbody>
    </table>



  </div>

</div>
