<mat-toolbar style="height: 100px;background-color: #fff;">
  <div style="margin-top: 40px;margin-left: 20px;">
    <img src="./assets/images/preq.svg">
  </div>
  <span
    style="font-family: 'Poppins';margin-top: 40px;font-style: normal;font-weight:600;font-size: 30px;color:#1E293B;margin-left: 10px;">Purchase
    request</span>
  <span class="example-spacer"></span>
  <button mat-icon-button style="margin-right: 40px;">
    <mat-icon style="margin-top: 40px;">notifications</mat-icon>
  </button>

</mat-toolbar>
<div>
  <hr style="width: 1130px;border: 2px solid #C5C5C5;margin-left: 30px;">
</div>
<div style="display: flex;flex-direction: row;font-family: 'Poppins';font-weight: 600;">

  <div style="margin-top: 20px;margin-left: 30px;display: flex;">

    <div><img src="./assets/images/prl.svg"></div>
    <span style="color: #233A61;margin-left: 5px;font-size: 14px;">Purchase&nbsp;request</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">

    <div> <img src="./assets/images/approval.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Approvals</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div> <img src="./assets/images/rc.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Rate&nbsp;Comparative</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div> <img src="./assets/images/approval.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Rate&nbsp;Approvals</span>
    <div><mat-divider style="width: 100px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div><img src="./assets/images/po.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Purchase&nbsp;orders</span>
  </div>
</div>

<div class="requests">
  <div class="createreq">Create request</div>
  <div class="innerreq">Approved request</div>
  <div class="innerreq">Rejected request</div>
  <div class="innerreq">Revised request</div>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="purchaseRequestForm">


  <mat-card class="topcard">
    <div style="display: flex;flex-wrap: wrap;gap:40px;width:1000px">
      <div style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Request title <span class="star">*</span></label>
        <input placeholder="Enter title" formControlName="requestTitle"
          style="width:200px;padding:10px;border-radius: 6px;border:1px solid #9F9F9F;cursor: pointer;margin-top: 10px;font-family: 'Poppins';">
      </div>
      <div style="display: flex;flex-direction: column;margin-left: 100px;">
        <label style="color: #4272BF;font-size: 14px;">Request date</label>
        <input placeholder="Auto generate" formControlName="requestDate" [readonly]="true"
          style="width:200px;padding:10px;border-radius: 6px;border:1px solid #9F9F9F;cursor: pointer;margin-top: 10px;font-family: 'Poppins';">

      </div>

      <div class="custom-form-group">
        <label class="custom-label" for="" style="color: #4272BF;font-size: 14px;"> Required by <span
            class="star">*</span>
        </label>
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="requiredByStartDate" formControlName="requiredBy"
              placeholder="Enter base Line Start Date" (click)="requiredByStartDate.open()" />
            <mat-datepicker-toggle matSuffix [for]="requiredByStartDate"></mat-datepicker-toggle>
            <mat-datepicker #requiredByStartDate></mat-datepicker>

          </mat-form-field>
        </div>
      </div>



      <div style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Purchase request no </label>
        <input placeholder="Auto generate" formControlName="purchaseRequestNumber" readonly
          style="width:200px;padding:10px;border-radius: 6px;border:1px solid #9F9F9F;cursor: pointer;margin-top: 10px;font-family: 'Poppins';">
      </div>
      <div style="display: flex;flex-direction: column;margin-left: 100px;">
        <label style="color: #4272BF;font-size: 14px;">Site name <span class="star">*</span></label>

        <mat-select id="sitename" placeholder="Select site" formControlName="siteName"
          style="padding: 10px;width: 200px;border:1px solid #9F9F9F;border-radius: 6px;cursor: pointer;margin-top: 10px;font-family: 'Poppins';">
          <mat-option [value]="item._id" *ngFor="let item of siteList">
            {{item.siteName}}
          </mat-option>

        </mat-select>
      </div>
      <div style="display: flex;flex-direction: column;margin-left: 100px;">
        <label style="color: #4272BF;">Local Purchase <span class="star">*</span></label>
        <mat-radio-group aria-labelledby="example-radio-group-label" color="primary" class="example-radio-group"
          formControlName="localPurchase">
          <mat-radio-button class="example-radio-button" [value]="'yes'">
            Yes
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="'no'">
            No
          </mat-radio-button>
        </mat-radio-group>
        <!-- <div style="margin-top: 20px;">
          <mat-checkbox color="primary">Yes</mat-checkbox>
          <mat-checkbox style="margin-left: 30px;" color="primary">No</mat-checkbox>
        </div> -->
      </div>
    </div>
  </mat-card>




  <div class="scroll-bar1">
    <table style="direction: ltr !important;border-left: 2px solid #000 !important;">
      <tr>
        <th>S&nbsp;No</th>
        <th>Item*</th>
        <th>Category</th>
        <th>Sub&nbsp;category</th>
        <th>Uom*</th>
        <th>Quantity*</th>
        <!-- <th>Intended&nbsp;end&nbsp;use</th> -->
        <th>Attachments</th>
        <th>Remarks</th>
      </tr>



      <tbody>
        <!-- <tr style="background-color: #F4F4F5;" *ngFor="let num of [1,2,3,]">
          <td style="text-align: center;">
            001
          </td>
          <td>
            <input list="browsers" name="myBrowser" placeholder="Select item"
              style="padding: 10px;width: 150px;border:1px solid #9F9F9F;border-radius: 20px;cursor: pointer;background-color: Transparent !important;" />
            <datalist id="browsers">
              <option value="Chrome">
              <option value="Firefox">
            </datalist>
          </td>
          <td style="color: #000;">
            Auto&nbsp;Generated
          </td>
          <td style="color: #000;">
            Auto&nbsp;Generated
          </td>
          <td>
            <input list="browsers" name="myBrowser" placeholder="Select"
              style="padding: 10px;width: 150px;border:1px solid #9F9F9F;border-radius: 20px;cursor: pointer;background-color: Transparent !important;" />
            <datalist id="browsers">
              <option value="Chrome">
              <option value="Firefox">
            </datalist>
          </td>
          <td>
            <input list="browsers" name="myBrowser" placeholder="Enter"
              style="padding: 10px;width: 150px;border:1px solid #9F9F9F;border-radius: 10px;cursor: pointer;background-color: Transparent !important;" />
            <datalist id="browsers">
              <option value="Chrome">
              <option value="Firefox">
            </datalist>
          </td>
          <td>
            <input placeholder="Enter"
             class="pr-form-field">
          </td>
          <td>
            <input placeholder="Enter/paste"
             class="pr-form-field">
          </td>
          <td>
            <input placeholder="Enter"
             class="pr-form-field">

          </td>
        </tr> -->


        <tr style="background-color: #F4F4F5;" formArrayName="items"
          *ngFor="let item of purchaseRequestForm.get('items')['controls']; let i = index;">
          <td style="text-align: center;">
            {{i+1}}
          </td>
          <ng-container [formGroupName]="i">
            <td>
              <mat-select id="itemName" placeholder="Select site" formControlName="itemId"
              class="select-form-field">
                <mat-option [value]="item._id" *ngFor="let item of siteList">
                  {{item.siteName}}
                </mat-option>

              </mat-select>
            </td>
            <td style="color: #000;">
              Auto&nbsp;Generated
            </td>
            <td style="color: #000;">
              Auto&nbsp;Generated
            </td>
            <td>
              <mat-select id="itemName" placeholder="Select site" formControlName="uom"
                class="select-form-field">
                <mat-option [value]="item._id" *ngFor="let item of siteList">
                  {{item.siteName}}
                </mat-option>

              </mat-select>
            </td>
            <td>
              <input placeholder="Enter" formControlName="qty" type="tel"
               class="pr-form-field">
            </td>
            <td>
              <input placeholder="Enter" formControlName="attachment" type="file"
               class="pr-form-field">
            </td>
            <td>
              <input placeholder="Enter" formControlName="remark"
               class="pr-form-field">
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    style="display: flex;flex-direction: row;gap: 40px;margin-left:60px;margin-bottom:100px;top: -50px;position: relative;">
    <div>
      <button
        style="padding: 8px ;width: 120px;background-color: #fff;cursor: pointer;border: 0.5px solid #94A3B8;border-radius: 5px;font-size: 14px;font-family: 'Poppins';"
        (click)="addItem()">
        Add Item +
      </button>
    </div>

  </div>
  <div style="display: flex;flex-direction: row;gap: 10px;float: right;position: relative;top:-120px;right:60px">
    <div><button
        style="padding: 8px;width: 120px;background-color: #233A61;color: #fff;border-radius: 5px;border-color: lightgrey;font-size: 14px;font-family: 'Poppins';">Submit</button>
    </div>
    <div><button
        style="padding: 8px;width: 120px;background-color: #fff;color: #233A61;border: 1px solid #94A3B8;border-radius: 5px;font-size: 14px;font-family: 'Poppins';">Clear</button>
    </div>
  </div>
</form>
