<div id="sect1" >  
    <div class="imgdiv">  
       


        <mat-grid-list cols="4" rowHeight="800px" >
            <div>
            <img src="../../assets/images/Mainpage.png" style="width:100%" alt="cinque terre"> 
            <div style="height: 100px;width:100px;position: absolute;bottom:15%;left:45%">
            <img src="../../assets/images/dot.png" style="width:100%" alt="cinque terre">
        <br>
        <h1 style="color: #fff;font-size: 80px;margin-top:30px;margin-left:-180px">PragatiInfra</h1>
        </div>
            
           
        </div>
           
            <mat-grid-tile colspan="3"   >
                <mat-card  style="width:40%;padding: 20px;margin-top: 90px;margin-left: 450px;">
       
                    <form [formGroup]="forgotPasswordForm" class="example-form" style="margin-top: 30px;">
                        <h2 style="text-align: center;">Forgot Id/Password?</h2><br>
                        <h4>Please share your Id here.</h4>
                        <mat-form-field class="example-full-width"  appearance="fill">
                        <mat-label >Your Email Id</mat-label>
                        <input  matInput placeholder="Enter your emailid" formControlName="email">
                        <mat-error *ngIf="email.invalid && ( email.dirty || email.touched )">
                            <span>Please provide a valid email</span>
                          </mat-error>
                        </mat-form-field><br><br>
                        <h4 *ngIf="showMsg" style="color: green;" >Please check your email id for creating new password</h4><br><br>
                
                        <button mat-raised-button style="background-color: #233A61;color: #fff;width:100%" (click)="forgotPassword()">Submit</button>
                        <!-- <span > <button mat-button color="accent">Login success !!</button></span> -->
                        </form>
                    </mat-card>
                    
            </mat-grid-tile>
            </mat-grid-list>
                
</div>

        

        