<div id="sect1" >  
    <div class="imgdiv">  
       


        <mat-grid-list cols="4" rowHeight="800px" >
            <div>
            <img src="../../assets/images/Mainpage.png" style="width:100%;object-fit: cover;" alt="cinque terre"> 
            <div style="height: 100px;width:100px;position: absolute;bottom:15%;left:45%">
            <img src="../../assets/images/dot.png" style="width:100%" alt="cinque terre">
        <br>
        <h1 style="color: #fff;font-size: 80px;margin-top:30px;margin-left:-180px">PragatiInfra</h1>
        </div>
            
           
        </div>
           
            <mat-grid-tile colspan="3"   >
                <mat-card  style="width:50%;padding: 20px;margin-top: 90px;margin-left: 300px;">
       
                    <form class="example-form" style="margin-top: 30px;">
                        <h2>Create a new password</h2><br>
                        <mat-label>New password</mat-label><br>
                        <mat-form-field class="example-full-width"  appearance="fill">
        
                        <input type="password" matInput placeholder="Enter your newpassword" name="password"
                        [(ngModel)] ="password">
                        </mat-form-field><br><br>
            
                        <mat-label> Confirm new password</mat-label><br>
                        <mat-form-field class="example-full-width"  appearance="fill">
        
                        <input type="password" matInput placeholder="confirm your password" name="confirmpassword"
                        [(ngModel)] ="confirmpassword">
                        </mat-form-field><br><br>
                
                        <button mat-raised-button style="background-color: #233A61;color: #fff;width:90%" (click)="submit()">Submit</button>
                        <span *ngIf="show"> <button mat-button color="accent">Login success !!</button></span>
                        </form>
                    </mat-card>
                    
            </mat-grid-tile>
            </mat-grid-list>
                
</div>

        

        
