  <div mat-dialog-title class="mat-dialog-title">

      <div class="row full-width">
          <div class="col-md-9">
            E-Signature
          </div>
          <div class="col-md-3">
              <mat-icon class="float-end close-icon" (click)="cancel()">close</mat-icon>
          </div>
      </div>
  </div>
  <div mat-dialog-content class="mat-dialog-content-cstm">
    <div class="esign-container">
      <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete($event)">
      </signature-pad>
    </div>

  
  </div>

  <div style="text-align: center;margin-bottom:15px;">
<!-- 
      <button  class="cancel-btn btn" type="button" (click)="onNoClick()">
          {{"COMMON_MESSAGE.CANCEL" | translate}}
      </button>

        <button  class="btn theme-btn-color" [disabled]="load"  type="submit" color="primary">
          

          <span *ngIf="!load">{{"BILL.CREATE" | translate}}</span>
          <span *ngIf="load"><i class="fa fa-circle-o-notch fa-spin" style="font-size:17px"></i>
            {{'WAIT' | translate}}
          </span>
      </button> -->



      <button type="button" class="button-outline button-spacer cancel-btn" (click)="clearSignature()"
      aria-label="Send To Customer">Clear</button>
    <button type="button" id="continueButtonId" class="button-primary button-spacer theme-btn" (click)="savePad()"
      aria-label="Continue">Continue</button>
  </div>

