<mat-toolbar style="height: 100px;background-color: #fff;">
  <div style="margin-top: 40px;margin-left: 20px;">
    <img src="./assets/images/preq.svg">
  </div>
  <span
    style="font-family: 'Poppins';margin-top: 40px;font-style: normal;font-weight:600;font-size: 30px;color:#1E293B;margin-left: 10px;">Purchase
    request </span>
  <span class="example-spacer"></span>
  <button mat-icon-button style="margin-right: 40px;">
    <mat-icon style="margin-top: 40px;">notifications</mat-icon>
  </button>

</mat-toolbar>
<div>
  <hr style="width: 1130px;border: 2px solid #C5C5C5;margin-left: 30px;">
</div>
<div style="display: flex;flex-direction: row;font-family: 'Poppins';font-weight: 600;">

  <div style="margin-top: 20px;margin-left: 30px;display: flex;">

    <div><img src="./assets/images/prl.svg"></div>
    <span style="color: #233A61;margin-left: 5px;font-size: 14px;">Purchase&nbsp;request</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">

    <div> <img src="./assets/images/approval.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Approvals</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div> <img src="./assets/images/rc.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Rate&nbsp;Comparative</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div> <img src="./assets/images/approval.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Rate&nbsp;Approvals</span>
    <div><mat-divider style="width: 100px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div><img src="./assets/images/po.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Purchase&nbsp;orders</span>
  </div>
</div>

<div class="requests">
  <div class="createreq" [ngClass]="[option==1 ? 'createreq' : 'innerreq']" (click)="option=1">Create request</div>
  <div class="innerreq" [ngClass]="[option==2? 'createreq' : 'innerreq']"
    (click)="option=2;getPurchaseList({ filter_by: filter_by, filter_value: statusOption.value })"> Request list
  </div>
  <!-- <div class="innerreq">Rejected request</div>
  <div class="innerreq">Revised request</div> -->
</div>

<ng-container *ngIf="option==1">
  <form (ngSubmit)="onSubmit()" [formGroup]="purchaseRequestForm">


    <mat-card class="topcard">
      <div style="display: flex;flex-wrap: wrap;gap:40px;width:1000px">
        <div style="display: flex;flex-direction: column;">
          <label style="color: #4272BF;font-size: 14px;">Request title <span class="star">*</span></label>
          <input placeholder="Enter title" formControlName="title"
            style="width:200px;padding:10px;border-radius: 6px;border:1px solid #9F9F9F;cursor: pointer;margin-top: 10px;font-family: 'Poppins';">
        </div>
        <div style="display: flex;flex-direction: column;margin-left: 100px;">
          <label style="color: #4272BF;font-size: 14px;">Request date</label>
          <input placeholder="Auto generate" formControlName="date" [readonly]="true"
            style="width:200px;padding:10px;border-radius: 6px;border:1px solid #9F9F9F;cursor: pointer;margin-top: 10px;font-family: 'Poppins';">

        </div>

        <div class="custom-form-group">
          <label class="custom-label" for="" style="color: #4272BF;font-size: 14px;"> Required by <span
              class="star">*</span>
          </label>
          <div class="custom-form-control">
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="requiredByStartDate" formControlName="expected_delivery_date"
                placeholder="Enter Required by date" [min]="requredByMinDate" (click)="requiredByStartDate.open()" />
              <mat-datepicker-toggle matSuffix [for]="requiredByStartDate"></mat-datepicker-toggle>
              <mat-datepicker #requiredByStartDate></mat-datepicker>

            </mat-form-field>
          </div>
        </div>



        <div style="display: flex;flex-direction: column;">
          <label style="color: #4272BF;font-size: 14px;">Purchase request no </label>
          <input placeholder="Auto generate" formControlName="purchase_request_number" readonly
            style="width:200px;padding:10px;border-radius: 6px;border:1px solid #9F9F9F;cursor: pointer;margin-top: 10px;font-family: 'Poppins';">
        </div>
        <div style="display: flex;flex-direction: column;margin-left: 100px;">
          <label style="color: #4272BF;font-size: 14px;">Site name <span class="star">*</span></label>

          <mat-select id="site" placeholder="Select site" formControlName="site"
            style="padding: 10px;width: 200px;border:1px solid #9F9F9F;border-radius: 6px;cursor: pointer;margin-top: 10px;font-family: 'Poppins';">
            <mat-option [value]="item._id" *ngFor="let item of siteList">
              {{item.site_name}}
            </mat-option>

          </mat-select>
        </div>
        <div style="display: flex;flex-direction: column;margin-left: 100px;">
          <label style="color: #4272BF;">Local Purchase <span class="star">*</span></label>
          <mat-radio-group aria-labelledby="example-radio-group-label" color="primary" class="example-radio-group"
            formControlName="local_purchase">
            <mat-radio-button class="example-radio-button" [value]="'yes'">
              Yes
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="'no'">
              No
            </mat-radio-button>
          </mat-radio-group>
          <!-- <div style="margin-top: 20px;">
            <mat-checkbox color="primary">Yes</mat-checkbox>
            <mat-checkbox style="margin-left: 30px;" color="primary">No</mat-checkbox>
          </div> -->
        </div>
      </div>
    </mat-card>




    <div class="scroll-bar1">
      <table style="direction: ltr !important;border-left: 2px solid #000 !important;">
        <tr>
          <th>S&nbsp;No</th>
          <th>Item*</th>
          <th>Category</th>
          <th>Sub&nbsp;category</th>
          <th>Uom*</th>
          <th>Quantity*</th>
          <th>Attachments</th>
          <th>Remarks</th>
          <th>Action</th>
        </tr>



        <tbody>
          <tr style="background-color: #F4F4F5;" formArrayName="items"
            *ngFor="let item of purchaseRequestForm.get('items')['controls']; let i = index;">
            <td style="text-align: center;">
              {{i+1}}
            </td>
            <ng-container [formGroupName]="i">
              <td>
                <mat-select id="itemName" placeholder="Select site" formControlName="item_id" class="select-form-field"
                  (selectionChange)="selectedItem($event,i)">
                  <mat-option [value]="item._id" *ngFor="let item of itemList">
                    {{item.item_name}}
                  </mat-option>

                </mat-select>
              </td>
              <td style="color: #000;">
                {{item.get('category')?.value}}
              </td>
              <td style="color: #000;">
                {{item.get('subCategory')?.value}}
              </td>
              <td>
                <mat-select id="itemName" placeholder="Select UOM" formControlName="uom" class="select-form-field">
                  <mat-option [value]="item._id" *ngFor="let item of uomList">
                    {{item.unit}}
                  </mat-option>

                </mat-select>
              </td>
              <td>
                <input type="text" placeholder="Enter" digitOnly formControlName="qty" class="pr-form-field">
              </td>
              <td>
                <input placeholder="Enter" formControlName="attachment" type="file" class="pr-form-field">
              </td>
              <td>
                <input placeholder="Enter" formControlName="remark" class="pr-form-field">
              </td>
              <td>
                <div class="action-btn-wrapper">
                  <a class="action-btn" (click)="delete(i)" *ngIf="i>0" title="Delete"><i class="fa fa-trash"></i></a>
                </div>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      style="display: flex;flex-direction: row;gap: 40px;margin-left:60px;margin-bottom:100px;top: -50px;position: relative;">
      <div>
        <button
          style="padding: 8px ;width: 120px;background-color: #fff;cursor: pointer;border: 0.5px solid #94A3B8;border-radius: 5px;font-size: 14px;font-family: 'Poppins';"
          (click)="addItem()">
          Add Item +
        </button>
      </div>

    </div>
    <div style="display: flex;flex-direction: row;gap: 10px;float: right;position: relative;top:-120px;right:60px">
      <div><button
          style="padding: 8px;width: 120px;background-color: #233A61;color: #fff;border-radius: 5px;border-color: lightgrey;font-size: 14px;font-family: 'Poppins';">Submit</button>
      </div>
      <div><button
          style="padding: 8px;width: 120px;background-color: #fff;color: #233A61;border: 1px solid #94A3B8;border-radius: 5px;font-size: 14px;font-family: 'Poppins';">Clear</button>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="option==2">

  <div style="display: flex;flex-direction: row;gap:10px">
    <div style="margin-left: 40px;width:100%;margin-top: 30px;">
      <mat-form-field appearance="outline" class="searchbar">
        <mat-icon matSuffix>search</mat-icon>
        <input matInput type="search" placeholder="search title" class="search-input">

      </mat-form-field>
    </div>
    <div style=" margin-right: 600px;margin-top: 30px;display: flex;gap:10px">
      <div style="margin-top: 15px;color: #94A3B8;margin-left: 30px;"> <span>Filter&nbsp;by</span></div>
      <div> <mat-form-field appearance="outline" class="datebar">
          <input matInput [matDatepicker]="startPicker" placeholder="Date" (click)="startPicker.open()" />
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field></div>
    </div>
    <div style="margin-top: 30px;display: flex;position: relative;right:570px;gap:10px">
      <div style="margin-top: 15px;color: #94A3B8;margin-left: -10px;"> <span>Filter&nbsp;by</span></div>
      <div> <mat-form-field appearance="outline" class="datebar">
          <input matInput placeholder="Site" />
        </mat-form-field></div>
    </div>


    <mat-select placeholder="Select Option" [formControl]="statusOption" (selectionChange)="onStatusChange($event)"
      style="margin-top: 50px;position: relative;right:520px;">
      <mat-option [value]="item.value" *ngFor="let item of statusList">{{item.label}}</mat-option>
    </mat-select>
  </div>


  <div class="scroll-bar1" style="width: 93%;">
    <table style="direction: ltr !important;margin-top: -20px;">



      <tbody>
        <tr *ngFor="let obj of purchaseList">
          <td style="color: #4272BF;width:300px;text-align: left;padding: 10px;">Request&nbsp;no&nbsp;
            {{obj.purchase_request_number}}</td>
          <hr style="border: 1px solid #D9D9D9;height: 30px;">
          <td style="color: #4272BF;width:200px;">Title &nbsp; {{obj.title}}</td>
          <hr style="border: 1px solid #D9D9D9;height: 30px;">
          <td style="color: #4272BF;width:800px;text-align: left;padding: 10px;">Site &nbsp; {{obj.siteData.site_name}}
          </td>
          <td style="background-color: #233A61;color:#fff;width:150px;cursor: pointer;"
            [routerLink]="['/procurement/details',obj._id]" *ngIf="obj.status=='pending'">
            <ng-container >View&nbsp;details</ng-container>
          </td>
          <td *ngIf="obj.status=='approved'" style="background-color: #1bc47d;color:#fff;width:150px;cursor: pointer;"
            [routerLink]="['/procurement/details',obj._id]">
            <ng-container >Approved ticket</ng-container>
          </td>
          <td *ngIf="obj.status=='rejected'" style="background-color: #f24e1e;color:#fff;width:150px;cursor: pointer;"
            [routerLink]="['/procurement/details',obj._id]">
            <ng-container >Rejected</ng-container>
          </td>
          <td style="background-color: #ff9900b0;color:#fff;width:150px;cursor: pointer;"
            [routerLink]="['/procurement/revise',obj._id]" *ngIf="obj.status=='revise'">
            <ng-container >Revise</ng-container>
          </td>
          <td style="width: 100px;"><mat-icon>
              arrow_forward_ios
            </mat-icon></td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
