<mat-toolbar style="height: 100px;background-color: #fff;">
  <div style="margin-top: 50px;margin-left: 20px;">
    <img src="./assets/images/RA.svg">
  </div>
  <span
    style="font-family: 'Poppins';margin-top: 40px;font-style: normal;font-weight:600;font-size: 30px;color:#1E293B;margin-left: 10px;">Rate
    approvals details</span>
  <span class="example-spacer"></span>
  <button mat-icon-button style="margin-right: 40px;">
    <mat-icon style="margin-top: 40px;">notifications</mat-icon>
  </button>

</mat-toolbar>
<div>
  <hr style="width: 1130px;border: 2px solid #C5C5C5;margin-left: 30px;">
</div>
<div style="display: flex;flex-direction: row;font-family: 'Poppins';font-weight: 600;">

 
  <div style="margin-top: 20px;margin-left: 30px;display: flex;cursor: pointer;" [routerLink]="['/procurement']" routerLinkActive="active-link">

    <div><img src="./assets/images/box.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Purchase&nbsp;request</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;cursor: pointer;" [routerLink]="['/procurement/prlist']" routerLinkActive="active-link">

    <div> <img src="./assets/images/approval.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Approvals</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;cursor: pointer;" [routerLink]="['/rate-comparative']" routerLinkActive="active-link">
    <div> <img src="./assets/images/ratedown.svg"></div>
    <span style="color: #233A61;margin-left: 5px;font-size: 14px;">Rate&nbsp;Comparative</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;cursor: pointer;" [routerLink]="['/rate-approval']" routerLinkActive="active-link">
    <div> <img src="./assets/images/approval.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Rate&nbsp;Approvals</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;cursor: pointer;" [routerLink]="['/purchase-order']" routerLinkActive="active-link">
    <div><img src="./assets/images/po.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Purchase&nbsp;orders</span>
  </div>
</div>


<form [formGroup]="purchaseRequestForm">


  <mat-card class="topcard">
    <div style="display: flex;flex-wrap: wrap;gap:10px; max-width: 100%;">

      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Request title </label>
        <input placeholder="Enter title" formControlName="title" readonly
          style="width:100%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins';    height: 50px;">
      </div>

      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Request date</label>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="date" formControlName="date" placeholder="Auto generate Request Date"
            readonly />
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="flex-div custom-form-group">
        <label class="custom-label" for="" style="color: #4272BF;font-size: 14px;"> Required by <span
            class="star">*</span>
        </label>
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="requiredByStartDate" formControlName="expected_delivery_date"
              placeholder="Enter Required by" readonly />
            <mat-datepicker-toggle matSuffix [for]="requiredByStartDate"></mat-datepicker-toggle>
            <mat-datepicker #requiredByStartDate></mat-datepicker>

          </mat-form-field>
        </div>
      </div>

      <div class="flex-div custom-form-group">
        <label class="custom-label" for="" style="color: #4272BF;font-size: 14px;"> Handle by <span
            class="star">*</span>
        </label>
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <mat-select matInput formControlName="handle_by" >
              <mat-option *ngFor="let user of users" [value]="user?._id"  >
                {{user?.name}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>
      </div>



      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Request no </label>
        <input placeholder="Auto generate" formControlName="rate_approval_number" readonly
          style="width:100%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 10px;font-family: 'Poppins';">
      </div>

      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Site name <span class="star">*</span></label>

        <mat-select id="site" placeholder="Select site" formControlName="site" 
          style="padding: 10px;width: 100;border:1px solid #ccc;border-radius: 6px;cursor: pointer;margin-top: 10px;font-family: 'Poppins';">
          <mat-option [value]="item._id" *ngFor="let item of siteList">
            {{item.site_name}}
          </mat-option>

        </mat-select>
      </div>

      <div class="flex-div" style="display: flex;flex-direction: column;align-items: center;">
        <label style="color: #4272BF;    margin-bottom: 10px;">Local Purchase <span class="star">*</span></label>
        <mat-radio-group aria-labelledby="example-radio-group-label" color="primary" class="example-radio-group"
          formControlName="local_purchase" >
          <mat-radio-button class="example-radio-button" [value]="'yes'">
            Yes
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="'no'">
            No
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-card>


  <div *ngIf="vendorItemsTables && vendorItemsTables.length > 0">
    <div class="scroll-container">
      <div class="scrollable-content">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th rowspan="2" style=" text-align: center; width:300px; vertical-align: middle;">Item</th>
          <th rowspan="2" style=" text-align: center; width:250px; vertical-align: middle;">Category</th>
          <th rowspan="2" style=" text-align: center; width:250px; vertical-align: middle;">Sub-Category</th>
          <th rowspan="2" style=" text-align: center; vertical-align: middle;">UOM</th>
          <th rowspan="2" style=" text-align: center; vertical-align: middle;">Quantity</th>
          <th rowspan="2" style=" text-align: center; vertical-align: middle;">GST %</th>
          <th rowspan="2" style=" text-align: center; vertical-align: middle;">Budget (₹)</th>
        <th rowspan="2" style=" text-align: center; vertical-align: middle;">Budget SubTotal (₹)</th>
          <ng-container *ngFor="let vendor of vendorItemsTables[0].vendors; let i = index">
            <th colspan="3" 
                style="text-align: center; vertical-align: middle;" 
                [ngClass]="{'preferred-vendor': vendorItemsTables[0].totals[getVendorKeys()[i]].preferred}">
              <label>
                <input type="checkbox" (change)="toggleVendorPreferred(i, $event)" 
                disabled
                       [checked]="vendorItemsTables[0].totals[getVendorKeys()[i]].preferred" />
                {{ vendor }}
              </label>
            </th>
          </ng-container>
          <th rowspan="2" style=" text-align: center; vertical-align: middle;">Add Remarks</th>
        </tr>
        <tr>
          <ng-container *ngFor="let vendor of vendorItemsTables[0].vendors">
            <th style=" text-align: center; vertical-align: middle;">Available Qty</th>
            <th style=" text-align: center; vertical-align: middle;">Rate (₹)</th>
            <th style=" text-align: center; vertical-align: middle;">Sub Total (₹)</th>
          </ng-container>
        </tr>
      </thead>
  
      <tbody>
        <ng-container *ngFor="let table of vendorItemsTables; let tableIndex = index">
          <tr *ngFor="let item of table.items">
            <td style="text-align: center;width:300px; vertical-align: middle;">{{ item.name }}</td>
            <td style="text-align: center; width:250px;vertical-align: middle;">{{ item.category }}</td>
            <td style="text-align: center;width:250px; vertical-align: middle;">{{ item.subCategory }}</td>
            <td style="text-align: center; vertical-align: middle;">{{ item.uom }}</td>
            <td style="text-align: center; vertical-align: middle;">{{ item.quantity }}</td>
            <td style="text-align: center; vertical-align: middle;">{{ item.gst }}</td>
            <td style="text-align: center; vertical-align: middle;">{{ item.pislBudget }}</td>
            <td style="text-align: center; vertical-align: middle;">{{ item.pislBudgetSubTotal }}</td>
            <ng-container *ngFor="let vendorId of getVendorKeysArray(item.vendors)">
              <td style="text-align: center; vertical-align: middle;">
                {{ item.vendors[vendorId].requiredQty }}
              </td>
              <td style="text-align: center; vertical-align: middle;">
                {{ item.vendors[vendorId].rate }}
              </td>
              <td style="text-align: center;  vertical-align: middle;"
              [ngClass]="{
                'lowest-amount': isSaved && isSmallestAmount(item.item_id, vendorId),
                'selected-td': item.vendors[vendorId].preferred
              }">
                {{ item.vendors[vendorId].amount }} 

                <input type="checkbox"
                style="margin-top: 10px; transform: scale(1.2); width: 15px; height: 15px;"
                [checked]="item.vendors[vendorId].preferred"
                (change)="togglePreferredVendor(item, vendorId)" 
                disabled/>
              </td>
              <!-- Checkbox for setting preferred vendor -->
             
            </ng-container>
      
            <td style="text-align: center; vertical-align: middle;">{{ item.remark }}</td>
          </tr>
        </ng-container>
      </tbody>
      
      <tfoot>
       
        <tr>
          <td colspan="6" style="border-color: white; border-right: 0.5px solid;">
          </td>
          <td colspan="2" style="text-align: right; border: 0.5px solid;">Total Amount (₹)</td>
          <ng-container *ngFor="let vendorId of getVendorIds(vendorItemsTables[0])">
            <td colspan="3" style="height:50px; border: 0.5px solid;">{{ vendorItemsTables[0].totals[vendorId]?.totalAmount || '0' }}</td>
          </ng-container>
          <td style="border-color: white;"></td>
        </tr>
        <tr>
          <td colspan="6" style="border-color: white; border-right: 0.5px solid;">
          </td>
          <td colspan="2" style="text-align: right; border: 0.5px solid;">GST Amount (₹)</td>
          <ng-container *ngFor="let vendorId of getVendorIds(vendorItemsTables[0])">
            <td colspan="3" style="height:50px; border: 0.5px solid;">{{ vendorItemsTables[0].totals[vendorId]?.gstAmount || '0' }}</td>
          </ng-container>
          <td style="border-color: white;"></td>
        </tr>
        <tr>
          <td colspan="6" style="border-color: white; border-right: 0.5px solid;">
          </td>
          <td colspan="2" style="text-align: right; border: 0.5px solid;">Freight (₹)</td>
          <ng-container *ngFor="let vendorId of getVendorIds(vendorItemsTables[0])">
            <td colspan="3" style="height:40px; border: 0.5px solid;">
              {{ vendorItemsTables[0].totals[vendorId]?.freight || '0' }}
    
            </td>
          </ng-container>
         <td style="border-color: white;"></td>
        </tr>
        <tr>
          <td colspan="6" style="border-color: white; border-right: 0.5px solid;">
          </td>
          <td colspan="2" style="text-align: right; border: 0.5px solid;">Freight GST (%)</td>
          <ng-container *ngFor="let vendorId of getVendorIds(vendorItemsTables[0])">
            <td colspan="3" style="height:40px; border: 0.5px solid;">
              {{ vendorItemsTables[0].totals[vendorId]?.freightGst || '0' }}
             
            </td>
          </ng-container>
          <td style="border-color: white;"></td>
        </tr>
        <tr>
          <td colspan="6" style="border-color: white; border-right: 0.5px solid;">
          </td>
          <td colspan="2" style="text-align: right; border: 0.5px solid;">Grand Total (₹)</td>
          <ng-container *ngFor="let vendorId of getVendorIds(vendorItemsTables[0])">
            <td colspan="3" style="height:50px; border: 0.5px solid;" 
              [ngClass]="{
                'lowest-grand-total': isSaved && isLowestGrandTotal(vendorId),
                'preferred-grand-total': isPreferredGrandTotal(vendorId)
              }">
              {{ vendorItemsTables[0].totals[vendorId]?.grandTotal || '0' }}
            </td>
          </ng-container>
          
          <td style="border-color: white;"></td>
        </tr>
        <tr>
          <td colspan="6" style="border-color: white; border-right: 0.5px solid;">
          </td>
          <td colspan="2" style="text-align: right; border: 0.5px solid;">Remarks</td>
          <ng-container *ngFor="let vendorId of getVendorIds(vendorItemsTables[0])">
            <td colspan="3" style="height:50px; border: 0.5px solid;">{{ vendorItemsTables[0].totals[vendorId]?.vendorRemark}}</td>
          </ng-container>
          <td style="border-color: white;"></td>
        </tr>
      </tfoot>
    </table>
  </div>
  </div>
  </div>
  
  <div *ngFor="let attachment of files; let i = index" style="margin: 20px; display: inline-block;">
    <a [href]="attachment" style="border: 1px solid; padding: 10px 20px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px; font-size: 15px; margin-right: 10px;">
      Vendor Rates attachment {{i + 1}}
    </a>
  </div>
  
  
  <div class="text-area-section">

    <label style="color: #4272BF;font-size: 14px;">Remarks </label>
    <textarea name="" id="" cols="30" rows="5" formControlName="remarks"></textarea>

  </div>
  <div class=" button-list">

    <button class="p-btns-button"
      [ngStyle]="{'background-color': details.status=='approved' ? '#54AA52' : (details.status=='rejected' ? '#C7323B' : '#233A61') }"
      [disabled]="load">
      <span>{{details.status=='rejected'? 'Rejected': 'Approved'}}</span>
    
    </button>


  </div>

 
</form>
