<mat-toolbar style="height: 100px;background-color: #fff;">
  <div style="margin-top: 50px;margin-left: 20px;">
    <img src="./assets/images/RA.svg">
  </div>
  <span
    style="font-family: 'Poppins';margin-top: 40px;font-style: normal;font-weight:600;font-size: 30px;color:#1E293B;margin-left: 10px;">Rate
    approvals details</span>
  <span class="example-spacer"></span>
  <button mat-icon-button style="margin-right: 40px;">
    <mat-icon style="margin-top: 40px;">notifications</mat-icon>
  </button>

</mat-toolbar>
<div>
  <hr style="width: 1130px;border: 2px solid #C5C5C5;margin-left: 30px;">
</div>
<div style="display: flex;flex-direction: row;font-family: 'Poppins';font-weight: 600;">

  <div style="margin-top: 20px;margin-left: 30px;display: flex;">

    <div><img src="./assets/images/box.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Purchase&nbsp;request</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">

    <div> <img src="./assets/images/approval.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Approvals</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div> <img src="./assets/images/rc.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Rate&nbsp;Comparative</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div> <img src="./assets/images/app.svg"></div>
    <span style="color: #233A61;margin-left: 5px;font-size: 14px;">Rate&nbsp;Approvals</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div><img src="./assets/images/po.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Purchase&nbsp;orders</span>
  </div>
</div>


<form [formGroup]="purchaseRequestForm">


  <mat-card class="topcard">
    <div style="display: flex;flex-wrap: wrap;gap:10px; max-width: 100%;">

      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Request title </label>
        <input placeholder="Enter title" formControlName="title" readonly
          style="width:100%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins';    height: 50px;">
      </div>

      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Request date</label>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="date" formControlName="date" placeholder="Auto generate Request Date"
            readonly />
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="flex-div custom-form-group">
        <label class="custom-label" for="" style="color: #4272BF;font-size: 14px;"> Required by <span
            class="star">*</span>
        </label>
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="requiredByStartDate" formControlName="expected_delivery_date"
              placeholder="Enter Required by" readonly />
            <mat-datepicker-toggle matSuffix [for]="requiredByStartDate"></mat-datepicker-toggle>
            <mat-datepicker #requiredByStartDate></mat-datepicker>

          </mat-form-field>
        </div>
      </div>

      <div class="flex-div custom-form-group">
        <label class="custom-label" for="" style="color: #4272BF;font-size: 14px;"> Handle by <span
            class="star">*</span>
        </label>
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput formControlName="handle_by" readonly placeholder="Enter handle by name" />

          </mat-form-field>
        </div>
      </div>



      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Request no </label>
        <input placeholder="Auto generate" formControlName="rate_approval_number" readonly
          style="width:100%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 10px;font-family: 'Poppins';">
      </div>

      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Site name <span class="star">*</span></label>

        <mat-select id="site" placeholder="Select site" formControlName="site" [disabled]="true"
          style="padding: 10px;width: 100;border:1px solid #ccc;border-radius: 6px;cursor: pointer;margin-top: 10px;font-family: 'Poppins';">
          <mat-option [value]="item._id" *ngFor="let item of siteList">
            {{item.site_name}}
          </mat-option>

        </mat-select>
      </div>

      <div class="flex-div" style="display: flex;flex-direction: column;align-items: center;">
        <label style="color: #4272BF;    margin-bottom: 10px;">Local Purchase <span class="star">*</span></label>
        <mat-radio-group aria-labelledby="example-radio-group-label" color="primary" class="example-radio-group"
          formControlName="local_purchase" [disabled]="true">
          <mat-radio-button class="example-radio-button" [value]="'yes'">
            Yes
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="'no'">
            No
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-card>




  <div class="scroll-bar1">
    <table style="direction: ltr !important;border-left: 2px solid #000 !important;">
      <tr>
        <th>S&nbsp;No</th>
        <th>Item*</th>
        <th>Category</th>
        <th>Sub&nbsp;category</th>
        <th>Uom</th>
        <th>Quantity</th>
        <th>Tax</th>
        <th>Vendor Details</th>
      </tr>



      <tbody>
        <ng-container *ngFor="let item of details?.items; let i = index;">
          <tr style="background-color: #F4F4F5;">
            <td style="text-align: center;">
              {{i+1}}
            </td>
            <td>
              {{item.item_name}}

            </td>
            <td style="color: #000;">
              {{item.categoryDetail.name}}
            </td>
            <td style="color: #000;">
              {{item.subCategoryDetail.subcategory_name}}
            </td>
            <td>
              {{item.uomDetail.uom_name}}
            </td>

            <td>
              {{item.qty}}
            </td>
            <td>
              <ng-container *ngIf="item.tax && item.tax.amount">
                {{item.tax.name}}({{item.tax.amount}}%)
              </ng-container>
            </td>
            <td>
              <a class="p-btns vendor-detail-button-{{item._id}}" (click)="vendorData(item)"> Vendor Rates</a>

            </td>

          </tr>
          <tr class="vendor-detail-{{item._id}} vendor-detail">
            <td colspan="8">
              <table>
                <tr>
                  <th>Vendor Name</th>
                  <th>Brand</th>
                  <th>Quantity</th>
                  <th>Item Rate</th>
                  <th>Subtotal</th>
                  <th>Tax</th>
                  <th>Total</th>
                </tr>
                <tr *ngFor="let vendorItem of item.vendors">
                  <td>
                    <ng-container
                      *ngIf="vendorAssociatedData && vendorAssociatedData[vendorItem.vendor_id] && vendorAssociatedData[vendorItem.vendor_id]['vendor_name']">
                      {{vendorAssociatedData[vendorItem.vendor_id]['vendor_name']}}
                    </ng-container>
                  </td>
                  <td>
                    {{vendorItem.brand}}
                  </td>
                  <td>
                    {{vendorItem.quantity}}
                  </td>
                  <td>
                    {{vendorItem.item_rate}}
                  </td>
                  <td>{{vendorItem.item_subtotal}}</td>
                  <td>
                    <ng-container *ngIf="item.tax && item.tax.amount">
                      {{item.tax.name}}({{item.tax.amount}}%)
                    </ng-container>
                  </td>
                  <td>{{vendorItem.item_total_amount}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </ng-container>

      </tbody>
    </table>
  </div>


  <div class="vendor-wapper">

    <div class="vendor-container" *ngFor="let item of details.vendors_total">

      <div class="vendor-name-cl">

        <ng-container
          *ngIf="vendorAssociatedData && vendorAssociatedData[item.vendor_id] && vendorAssociatedData[item.vendor_id]['vendor_name']">
          {{vendorAssociatedData[item.vendor_id]['vendor_name']}}
        </ng-container>

      </div>
      <div class="vendor-value-cont">
        <div class="vendor-value-label">Subtotal</div>
        <div class="vendor-value">
          {{item.subtotal}}
        </div>
      </div>
      <div class="vendor-value-cont">
        <div class="vendor-value-label">GST Amount</div>
        <div class="vendor-value">
          {{item.total_tax}}
        </div>
      </div>
      <div class="vendor-value-cont" style="background-color: #186D3C14;">
        <div class="vendor-value-label">Freight</div>
        <div class="vendor-value">
          <!-- <input type="number" min="0" (keyup)="onChangeFreightCharges($event,item)"
            (change)="onChangeFreightCharges($event,item)" [value]="item.freight_charges"
            [readonly]="item.subtotal == 0"> -->
          {{item.freight_charges}}
        </div>
      </div>
      <div class="vendor-value-cont" style="background-color: #186D3C14;">
        <div class="vendor-value-label">Freight GST(%)</div>
        <div class="vendor-value">
          <!-- <input type="number" min="0" (keyup)="onChangeFreightTaxPercent($event,item)"
            (change)="onChangeFreightTaxPercent($event,item)" [value]="item.freight_tax"
            [readonly]="item.subtotal == 0"> -->
          {{item.freight_tax}}
        </div>
      </div>
      <div class="vendor-value-cont" style="background-color: #073B4C14;">
        <div class="vendor-value-label"><strong>Grand total</strong></div>
        <div class="vendor-value">
          {{item.total_amount}}
        </div>
      </div>
    </div>

  </div>





  <div class="text-area-section">

    <label style="color: #4272BF;font-size: 14px;">Remarks </label>
    <textarea name="" id="" cols="30" rows="5" formControlName="remarks"></textarea>

  </div>
  <div class=" button-list">

    <button class="p-btns-button"
      [ngStyle]="{'background-color': details.status=='approved' ? '#54AA52' : (details.status=='rejected' ? '#C7323B' : '#233A61') }"
      [disabled]="load">
      <span *ngIf="details.status=='approved'">Approved</span>
      <span *ngIf="details.status=='rejected'">Rejected</span>
      <span *ngIf="details.status=='pending'">Pending</span>

    </button>


  </div>
</form>
