<div class="section-wrapper">

  <div class="section-header">
    <div class="header-left">
      <h2>Edit Organisation</h2>
    </div>
    <div class="header-right">
      <div class="buttons-containers">
        <button mat-button class="submit-btn" (click)="saveData()">Submit</button>
        <button mat-button class="cancel-btn" (click)="list()">Cancel</button>
      </div>
    </div>
  </div>

  <div class="section-body">
    <form [formGroup]="orgmasterForm">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location">
            <mat-error *ngIf="orgmasterForm.controls.location.errors?.['required']">
              this field is required.
            </mat-error>
            <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
          </mat-form-field>

        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Contact Person</mat-label>
            <input matInput formControlName="contact_person">
            <mat-error *ngIf="orgmasterForm.controls.contact_person.errors?.['required']">
              this field is required.
            </mat-error>
            <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
          </mat-form-field>

        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Designation</mat-label>
            <input matInput formControlName="designation">
            <mat-error *ngIf="orgmasterForm.controls.designation.errors?.['required']">
              this field is required.
            </mat-error>
            <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
          </mat-form-field>

        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phone_number" type="number"  maxlength="10">
            <mat-error *ngIf="orgmasterForm.controls.phone_number.errors?.['required']">
              this field is required.
            </mat-error>
            <!-- <mat-error>
              <span>Please provide a valid email</span>
            </mat-error> -->
          </mat-form-field>

        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>GST Number</mat-label>
            <input matInput formControlName="gst_number">
            <mat-error *ngIf="orgmasterForm.controls.gst_number.errors?.['required']">
              this field is required.
            </mat-error>
          </mat-form-field>

        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>PAN Number</mat-label>
            <input matInput formControlName="pan_number">
            <mat-error *ngIf="orgmasterForm.controls.pan_number.errors?.['required']">
              this field is required.
            </mat-error>
          </mat-form-field>

        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Enter Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="orgmasterForm.controls.email.errors?.['required']">
              this field is required.
            </mat-error>
          </mat-form-field>
        </div>

        <h4>Address</h4>
        <div formGroupName="address" class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Street Address</mat-label>
              <input matInput formControlName="street_address">
              <mat-error *ngIf="orgmasterForm.get('address.street_address').errors?.['required']">
                this field is required.
              </mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Street Address 2</mat-label>
              <input matInput formControlName="street_address2">
              <mat-error *ngIf="
              orgmasterForm.get('address.street_address2').errors?.['required']">
                this field is required.
              </mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>State</mat-label>
              <input matInput formControlName="state">
              <mat-error *ngIf="
              orgmasterForm.get('address.state').errors?.['required']">
                this field is required.
              </mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input matInput formControlName="city">
              <mat-error *ngIf="
              orgmasterForm.get('address.city').errors?.['required']">
                this field is required.
              </mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Zip Code</mat-label>
              <input matInput formControlName="zip_code" type="number"  maxlength="6">
              <mat-error *ngIf="
              orgmasterForm.get('address.zip_code').errors?.['required']">
                this field is required.
              </mat-error>
            </mat-form-field>

          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <input matInput formControlName="country">
              <mat-error *ngIf="
              orgmasterForm.get('address.country').errors?.['required']">
                this field is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
