<mat-toolbar style="height: 100px;background-color: #fff;">
  <div style="margin-left: 20px;">
    <img src="./assets/images/preq.svg" style="width: 30px;">
  </div>
  <span
    style="font-family: 'Poppins';font-style: normal;font-weight:600;font-size: 22px;color:#1E293B;margin-left: 10px;">Summary
  </span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>

</mat-toolbar>
<div>
  <hr style="width: 100%;border: 2px solid #C5C5C5;">
</div>
<div style="display: flex;flex-direction: row;font-family: 'Poppins';font-weight: 600;">

  <div style="margin-top: 20px;margin-left: 30px;display: flex;">

    <div><img src="./assets/images/prl.svg"></div>
    <span style="color: #233A61;margin-left: 5px;font-size: 14px;">Purchase&nbsp;request</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">

    <div> <img src="./assets/images/approval.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Approvals</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div> <img src="./assets/images/rc.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Rate&nbsp;Comparative</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div> <img src="./assets/images/approval.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Rate&nbsp;Approvals</span>
    <div><mat-divider style="width: 100px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div><img src="./assets/images/po.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Purchase&nbsp;orders</span>
  </div>
</div>

<!-- <div class="requests">
  <div class="createreq">Create request</div>
  <div class="innerreq">Approved request</div>
  <div class="innerreq">Rejected request</div>
  <div class="innerreq">Revised request</div>
</div> -->

<form [formGroup]="purchaseRequestForm">


  <mat-card class="topcard">
    <div style="display: flex;flex-wrap: wrap;gap:10px; max-width: 100%;">

      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Request title </label>
        <input placeholder="Enter title" formControlName="title" [readonly]="true"
          style="width:100%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins';    height: 50px;">
      </div>

      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Request date</label>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="date" [readonly]="true" formControlName="date"
            placeholder="Auto generate Request Date" />
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="flex-div custom-form-group">
        <label class="custom-label" for="" style="color: #4272BF;font-size: 14px;"> Required by <span
            class="star">*</span>
        </label>
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="requiredByStartDate" [readonly]="true"
              formControlName="expected_delivery_date" placeholder="Enter Required by" />
            <mat-datepicker-toggle matSuffix [for]="requiredByStartDate"></mat-datepicker-toggle>
            <mat-datepicker #requiredByStartDate></mat-datepicker>

          </mat-form-field>
        </div>
      </div>



      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Purchase request no </label>
        <input placeholder="Auto generate" formControlName="purchase_request_number" readonly
          style="width:100%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 10px;font-family: 'Poppins';">
      </div>

      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Site name <span class="star">*</span></label>

        <mat-select id="site" placeholder="Select site" formControlName="site"
          style="padding: 10px;width: 100;border:1px solid #ccc;border-radius: 6px;cursor: pointer;margin-top: 10px;font-family: 'Poppins';"
          [disabled]="true">
          <mat-option [value]="item._id" *ngFor="let item of siteList">
            {{item.site_name}}
          </mat-option>

        </mat-select>
      </div>

      <div class="flex-div" style="display: flex;flex-direction: column;align-items: center;">
        <label style="color: #4272BF;    margin-bottom: 10px;">Local Purchase <span class="star">*</span></label>
        <mat-radio-group aria-labelledby="example-radio-group-label" color="primary" class="example-radio-group"
          formControlName="local_purchase" [disabled]="true">
          <mat-radio-button class="example-radio-button" [value]="'yes'">
            Yes
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="'no'">
            No
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-card>




  <div class="scroll-bar1">
    <table style="direction: ltr !important;border-left: 2px solid #000 !important;">
      <tr>
        <th>S&nbsp;No</th>
        <th>Item*</th>
        <th>Category</th>
        <th>Sub&nbsp;category</th>
        <th>Uom*</th>
        <th>Quantity*</th>
        <!-- <th>Attachments</th> -->
        <th>Remarks</th>
      </tr>



      <tbody>
        <tr style="background-color: #F4F4F5;" *ngFor="let item of details?.items; let i = index;">
          <td style="text-align: center;">
            {{i+1}}
          </td>
          <td>
            {{getItemName(item.item_id)}}

          </td>
          <td style="color: #000;">
            {{item.categoryDetail.name}}
          </td>
          <td style="color: #000;">
            {{item.subCategoryDetail.subcategory_name}}
          </td>
          <td>
            {{item.uomDetail.uom_name}}
          </td>

          <td>
            {{item.qty}}
          </td>
          <!-- <td>
            <input placeholder="Enter" formControlName="attachment" type="file" class="pr-form-field">
          </td> -->
          <td>
            {{item.remark}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-area-section">

    <label style="color: #4272BF;font-size: 14px;">Remarks </label>
    <textarea name="" id="" cols="30" rows="5" formControlName="remarks"></textarea>

  </div>
  <div class=" button-list">

    <button *ngIf="details.status=='pending'"
      class="pending">Pending</button>


    <button *ngIf="details.status=='approved'"
      style="padding: 8px;width: 120px;background-color: #35B568;color: #fff;border-radius: 5px;border-color: lightgrey;font-size: 14px;font-family: 'Poppins';">Approved</button>

    <button *ngIf="details.status=='rejected'"
      style="padding: 8px;width: 120px;background-color: #C7323B;color: #233A61;border: 1px solid #94A3B8;border-radius: 5px;font-size: 14px;font-family: 'Poppins';">Rejected</button>
  </div>
</form>
