<mat-toolbar style="height: 100px;background-color: #fff;">
  <div style="margin-top: 50px;margin-left: 20px;">
    <img src="./assets/images/POL.svg">
  </div>
  <span
    style="font-family: 'Poppins';margin-top: 40px;font-style: normal;font-weight:600;font-size: 30px;color:#1E293B;margin-left: 10px;">Purchase
    orders</span>
  <span class="example-spacer"></span>


</mat-toolbar>
<div>
  <hr style="width: 1130px;border: 2px solid #C5C5C5;margin-left: 30px;">
</div>
<div style="display: flex;flex-direction: row;font-family: 'Poppins';font-weight: 600;">

  <div style="margin-top: 20px;margin-left: 30px;display: flex;">

    <div><img src="./assets/images/box.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Purchase&nbsp;request</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">

    <div> <img src="./assets/images/approval.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Approvals</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div> <img src="./assets/images/rc.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Rate&nbsp;Comparative</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div> <img src="./assets/images/approval.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Rate&nbsp;Approvals</span>
    <div><mat-divider style="width: 100px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;">
    <div><img src="./assets/images/podown.svg"></div>
    <span style="color: #233A61;margin-left: 5px;font-size: 14px;">Purchase&nbsp;orders</span>
  </div>
</div>
<div>
  <div *ngIf="poDetails" class="main-wrapper">
    <div style="margin-top: 20px;">
      <div style="display: flex;gap:50px;flex-wrap: wrap;">
        <div class="topleft">
          <span style="font-size: 14px;font-family: 'Poppins';color:#3568BA;margin-bottom: 10px;">Billing Address</span><mat-icon (click)="billingAddressPopup()"
            style="position: relative;right: 27px;top: 9px;margin-left: 35px;color: #3568BA;width: 20px;height: 20px;font-size: 14px;cursor: pointer;">border_color</mat-icon><br>
          <div class="textarealeft">

            <span><b>{{poDetails?.billing_address?.company_name}}</b></span>
            <span>
              {{poDetails?.billing_address?.street_address}} {{poDetails?.billing_address?.street_address2}}
              <br>{{poDetails?.billing_address?.city}} {{poDetails?.billing_address?.state}} {{poDetails?.billing_address?.zip_code}} </span>
            <span>GSTIN:{{poDetails?.billing_address?.gst_number}}</span>
            <span>PAN:{{poDetails?.billing_address?.pan_card}}</span>
            <span>{{poDetails?.billing_address?.contact_person}}</span>

          </div>

        </div>
        <div class="topright" style="margin-top: 10px;">
          <span style="font-size: 14px;font-family: 'Poppins';color:#3568BA;margin-bottom: 10px;">Delivery
            Address</span>
          <!-- <mat-icon (click)="mailingAddressPopup()"
            style="position: relative;right:30px;font-size: 18px;top:9px;color: #3568BA;margin-left: 35px;">border_color</mat-icon> -->
          <br>
          <div class="textarearight">

            <span><b>Date</b>: {{poDetails.date | date:'dd-MM-yyyy'}}</span>
            <span><b>Validity</b>:
              <mat-form-field>
                <input matInput [formControl]="validityDate" (focus)="picker.open()" [min]="minDate" [max]="maxDate"
                  [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </span>
            <span><b>PO NO</b>: {{poDetails?.po_number}}<input type="text"
                style="width:120px;padding:5px;border:none;margin-left: 16px;"> </span>
            <span><b>Site Address</b> </span>
              <span>{{poDetails?.billing_address?.street_address}} {{poDetails?.billing_address?.street_address2}} {{poDetails?.billing_address?.city}},{{poDetails?.billing_address?.state}} {{poDetails?.billing_address?.zip_code}} </span>
            <span><b>Contact Person</b>: {{poDetails?.billing_address?.contact_person}}<input
                type="text" style="width:150px;padding:5px;border:none;margin-left: 16px;"> </span>

          </div>
        </div>
      </div>
      <div class="topdown">
        <span style="font-size: 14px;font-family: 'Poppins';color:#3568BA;margin-bottom: 10px;">To,</span><br>
        <div style="border: 1px solid #94A3B8;border-radius: 5px;padding: 5px 0 20px 0;">
          <div type="text" class="textareadown">
            <span style="margin-left: 20px;margin-top: 10px;width:500px">{{poDetails.vendor_detail.vendor_name}}
              <br>
              {{poDetails.vendor_detail.address.street_address}} {{poDetails.vendor_detail.address.street_address2}} {{poDetails.vendor_detail.address.city}} {{poDetails.vendor_detail.address.state}} {{poDetails.vendor_detail.address.country}} {{poDetails.vendor_detail.address.zip_code}}
            </span>
            <span style="margin-left: 20px">GSTIN:{{poDetails.vendor_detail.gst_number}}</span>
          </div>
          <div class="msg-teatarea">
            <p>{{poDetails.vendor_message_header}}</p>
            <textarea [formControl]="mail_section" class="vendor-message-textarea">
            </textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="scroll-bar1">
      <table style="direction: ltr !important;border-left: 2px solid #000 !important;">
        <tr>
          <th>Item&nbsp;No</th>
          <th>Item&nbsp;Name</th>
          <th>Brand</th>
          <th>Required Quantity</th>
          <th>Purchased Quantity</th>
          <th>Rate</th>
          <th>Sub Total</th>
          <th>Tax</th>
          <th>Total</th>
        </tr>



        <tbody>
          <tr style="background-color: #F4F4F5;" *ngFor="let item of poDetails.items; let i = index;">
            <td style="text-align: center;">
              {{i+1}}
            </td>
            <td>
              {{item.item_name}}
            </td>
            <td style="text-align: center;">
              {{item.vendors[0].brand}}
            </td>
            <td>
              {{item.qty}}
            </td>
            <td style="color: #000;">
              {{item.vendors[0].quantity}}
            </td>
            <td style="color: #000;">
              {{item.vendors[0].item_rate}}
            </td>

            <td style="color: #000;">
              {{item.vendors[0].item_subtotal}}
            </td>
            <td style="color: #000;">
              <ng-container *ngIf="item.tax && item.tax.amount">
                {{item.tax.name}}({{item.tax.amount}}%)
              </ng-container>
            </td>
            <td style="color: #000;">
              {{item.vendors[0].item_total_amount}}
            </td>
          </tr>

        </tbody>
      </table>
    </div>


    <div style="display: flex;gap:20px;flex-wrap: wrap;">
      <div style="width:700px;height: 500px;">
        <div class="terms-condition-wrap">
          <p>Vendor terms & other conditions <mat-icon
              style="font-size: medium;position: relative;top:10px">border_color</mat-icon></p>
          <textarea class="terms-condition-textarea" [formControl]="term_condition"
            >

      </textarea>

        </div>
      </div>
      <div style="width:400px;height: 300px;">
        <table class="downtable">

          <tr>
            <td style="border: none;font-size: small;">Total&nbsp;amount</td>
            <td style="border: none;font-size: small;">{{poDetails.vendors_total[0].subtotal| currency:'INR'}}</td>
          </tr>
          <tr>
            <td style="border: none;font-size: small;">GST&nbsp;amount</td>
            <td style="border: none;font-size: small;">{{poDetails.vendors_total[0].total_tax| currency:'INR'}}</td>
          </tr>
          <tr>
            <td style="border: none;font-size: small;">Freight</td>
            <td style="border: none;font-size: small;">{{poDetails.vendors_total[0].freight_charges| currency:'INR'}}
            </td>

          </tr>
          <tr>
            <td style="border: none;font-size: small;">Freight&nbsp;GST</td>
            <td style="border: none;font-size: small;">{{poDetails.vendors_total[0].freight_charges | currency:'INR'}}
            </td>

          </tr>
          <tr>
            <td style="border: none;font-size: small;">Grand&nbsp;total</td>
            <td style="border: none;color:#073B4C;font-weight: bold;font-size: small;">
              {{poDetails.vendors_total[0].total_amount| currency:'INR'}}</td>

          </tr>

        </table>
      </div>
    </div>

    <!-- <div>
      <h4>E-sign</h4>
      <img [src]="esignImage" alt="" style="">
    </div> -->

    <div style="display: flex;gap: 20px;justify-content: end;">
      <div><button (click)="openEsignModal()"
          style="padding: 8px;width: 180px;background-color: #233A61;color: #fff;border-radius: 5px;border-color: lightgrey;font-family: 'Poppins';font-size: 14px;">Approve
          with esign</button></div>
      <div>

        <button (click)="updateStatus('revise')"
          style="padding: 8px;width: 120px;background-color: #fff;color: #233A61;border: 1px solid #94A3B8;border-radius: 5px;font-family: 'Poppins';font-size: 14px;">Revise</button>
      </div>
      <div>
        <button (click)="updateStatus('rejected')"
          style="padding: 8px;width: 120px;background-color: #fff;color: #233A61;border: 1px solid #94A3B8;border-radius: 5px;font-family: 'Poppins';font-size: 14px;">Reject</button>
      </div>
      <!-- <div> <button
          style="padding: 8px ;width: 120px;background-color: #fff;cursor: pointer;border: 0.5px solid #94A3B8;border-radius: 5px;color:#797979;font-family: 'Poppins';font-size: 14px;">
          Print <i class="fa fa-print"></i> </button>

      </div> -->

    </div>

  </div>

</div>
