<mat-toolbar style="height: 100px; background-color: #fff">
  <div style="margin-top: 50px; margin-left: 20px">
    <img src="./assets/images/POL.svg" />
  </div>
  <span
    style="
      font-family: 'Poppins';
      margin-top: 40px;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      color: #1e293b;
      margin-left: 10px;
    "
    >Purchase orders</span
  >
  <span class="example-spacer"></span>
</mat-toolbar>
<div>
  <hr style="width: 1130px; border: 2px solid #c5c5c5; margin-left: 30px" />
</div>
<div
  style="
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    font-weight: 600;
  "
>
  <div
    style="margin-top: 20px; margin-left: 30px; display: flex; cursor: pointer"
    [routerLink]="['/procurement']"
    routerLinkActive="active-link"
  >
    <div><img src="./assets/images/box.svg" /></div>
    <span style="color: #97989d; margin-left: 5px; font-size: 14px"
      >Purchase&nbsp;request</span
    >
    <div>
      <mat-divider
        style="
          width: 90px;
          margin-left: 10px;
          margin-top: 10px;
          border: 1px dashed;
        "
      ></mat-divider>
    </div>
  </div>
  <div
    style="margin-top: 20px; margin-left: 10px; display: flex; cursor: pointer"
    [routerLink]="['/procurement/prlist']"
    routerLinkActive="active-link"
  >
    <div><img src="./assets/images/approval.svg" /></div>
    <span style="color: #97989d; margin-left: 5px; font-size: 14px"
      >Approvals</span
    >
    <div>
      <mat-divider
        style="
          width: 90px;
          margin-left: 10px;
          margin-top: 10px;
          border: 1px dashed;
        "
      ></mat-divider>
    </div>
  </div>
  <div
    style="margin-top: 20px; margin-left: 10px; display: flex; cursor: pointer"
    [routerLink]="['/rate-comparative']"
    routerLinkActive="active-link"
  >
    <div><img src="./assets/images/rc.svg" /></div>
    <span style="color: #97989d; margin-left: 5px; font-size: 14px"
      >Rate&nbsp;Comparative</span
    >
    <div>
      <mat-divider
        style="
          width: 90px;
          margin-left: 10px;
          margin-top: 10px;
          border: 1px dashed;
        "
      ></mat-divider>
    </div>
  </div>
  <div
    style="margin-top: 20px; margin-left: 10px; display: flex; cursor: pointer"
    [routerLink]="['/rate-approval']"
    routerLinkActive="active-link"
  >
    <div><img src="./assets/images/approval.svg" /></div>
    <span style="color: #97989d; margin-left: 5px; font-size: 14px"
      >Rate&nbsp;Approvals</span
    >
    <div>
      <mat-divider
        style="
          width: 90px;
          margin-left: 10px;
          margin-top: 10px;
          border: 1px dashed;
        "
      ></mat-divider>
    </div>
  </div>
  <div
    style="margin-top: 20px; margin-left: 10px; display: flex; cursor: pointer"
    [routerLink]="['/purchase-order']"
    routerLinkActive="active-link"
  >
    <div><img src="./assets/images/podown.svg" /></div>
    <span style="color: #233a61; margin-left: 5px; font-size: 14px"
      >Purchase&nbsp;orders</span
    >
  </div>
</div>
<div>
  <ng-container *ngIf="viewPermission; else noView">
    <div *ngIf="poDetails" class="main-wrapper">
      <div style="margin-top: 20px">
        <div style="display: flex; gap: 50px; flex-wrap: wrap">
          <div class="topleft">
            <span
              style="
                font-size: 14px;
                font-family: 'Poppins';
                color: #3568ba;
                margin-bottom: 10px;
              "
              >Billing Address</span
            ><mat-icon
              (click)="billingAddressPopup()"
              style="
                position: relative;
                right: 27px;
                top: 9px;
                margin-left: 35px;
                color: #3568ba;
                width: 20px;
                height: 20px;
                font-size: 14px;
                cursor: pointer;
              "
              >border_color</mat-icon
            ><br />
            <div class="textarealeft">
              <span
                ><b>Company Name: </b
                >{{ poDetails?.billing_address?.company_name }}</span
              >
              <span
                ><b>Address: </b>
                {{ poDetails?.billing_address?.street_address }}
                {{ poDetails?.billing_address?.street_address2 }} <br />{{
                  poDetails?.billing_address?.city
                }}
                {{ poDetails?.billing_address?.state }}
                {{ poDetails?.billing_address?.zip_code }}
              </span>
              <span
                ><b>GSTIN: </b
                >{{ poDetails?.billing_address?.gst_number }}</span
              >
              <span
                ><b>PAN: </b>{{ poDetails?.billing_address?.pan_card }}</span
              >
              <span
                ><b>Contact Person: </b
                >{{ poDetails?.billing_address?.contact_person }}</span
              >
            </div>
          </div>
          <div class="topright" style="margin-top: 10px">
            <span
              style="
                font-size: 14px;
                font-family: 'Poppins';
                color: #3568ba;
                margin-bottom: 10px;
              "
              >Delivery Address</span
            >

            <br />
            <div class="textarearight">
              <span
                ><b>Date</b>: {{ poDetails.date | date : "dd-MM-yyyy" }}</span
              >
              <span
                ><b>Validity</b>:
                <mat-form-field>
                  <input
                    matInput
                    [formControl]="validityDate"
                    (focus)="picker.open()"
                    [min]="minDate"
                    [max]="maxDate"
                    [matDatepicker]="picker"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </span>
              <span
                ><b>PO NO</b>: {{ poDetails?.po_number
                }}<input
                  type="text"
                  style="
                    width: 120px;
                    padding: 5px;
                    border: none;
                    margin-left: 16px;
                  "
                />
              </span>
              <span><b>Site Address</b> </span>
              <span
                >{{ poDetails?.delivery_address?.street_address }} ,{{
                  poDetails?.delivery_address?.street_address2
                }}, {{ poDetails?.delivery_address?.city }},{{
                  poDetails?.delivery_address?.state
                }}
                ,{{ poDetails?.delivery_address?.zip_code }}
              </span>
              <span
                ><b>Contact Person</b>:
                {{ poDetails?.delivery_address?.contact_person
                }}<input
                  type="text"
                  style="
                    width: 150px;
                    padding: 5px;
                    border: none;
                    margin-left: 16px;
                  "
                />
              </span>
            </div>
          </div>
        </div>
        <div class="topdown">
          <span
            style="
              font-size: 14px;
              font-family: 'Poppins';
              color: #3568ba;
              margin-bottom: 10px;
            "
            >To,</span
          ><br />
          <div
            style="
              border: 1px solid #94a3b8;
              border-radius: 5px;
              padding: 5px 0 20px 0;
            "
          >
            <div type="text" class="textareadown">
              <span style="margin-left: 20px; margin-top: 10px; width: 500px"
                ><b>Vendor Name: </b>{{ poDetails.vendor_detail.vendor_name }}
                <br />
                <span>
                  <b>Vendor Address: </b>
                  <span
                    [style.color]="
                      combineAddress(poDetails.vendor_detail.address) === ''
                        ? 'red'
                        : 'inherit'
                    "
                  >
                    {{
                      combineAddress(poDetails.vendor_detail.address) === ""
                        ? "MISSING"
                        : combineAddress(poDetails.vendor_detail.address)
                    }}
                  </span>
                </span>
              </span>
              <span>
                <b style="margin-left: 20px">GSTIN: </b>
                <span
                  [style.color]="
                    poDetails.vendor_detail.gst_number === ''
                      ? 'red'
                      : 'inherit'
                  "
                >
                  {{
                    poDetails.vendor_detail.gst_number === ""
                      ? "MISSING"
                      : poDetails.vendor_detail.gst_number
                  }}
                </span>
              </span>
            </div>
            <div class="msg-teatarea">
              <p>{{ poDetails.vendor_message_header }}</p>
              <textarea
                [formControl]="mail_section"
                class="vendor-message-textarea"
              >
              </textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="scroll-bar1">
        <table
          style="direction: ltr !important; border: 2px solid #000 !important"
        >
          <tr>
            <th>Item&nbsp;No</th>
            <th>Item&nbsp;Name</th>
            <!-- <th>Brand</th> -->
            <th>Quantity</th>
            <th>UOM</th>

            <th>Brand Name</th>
            <th>Rate</th>
            <th>Sub Total</th>
            <th>Tax</th>
            <th>Total</th>
          </tr>

          <tbody>
            <tr
              style="background-color: #f4f4f5"
              *ngFor="let item of poDetails.items; let i = index"
            >
              <td style="text-align: center">
                {{ i + 1 }}
              </td>
              <td>
                {{ item.item.item_name }}
              </td>
              <td>
                {{ item.item.qty }}
              </td>
              <td style="color: #000">
                {{ item.item.uomDetail.uom_name }}
              </td>

              <td>{{ getBrandNamesByIds(item.item.brandName) }}</td>
              <td style="color: #000">
                {{ item.Rate }}
              </td>

              <td style="color: #000">
                {{ item.SubTotalAmount }}
              </td>
              <td style="color: #000">
                <ng-container *ngIf="item.item.tax && item.item.tax.amount">
                  ({{ item.item.tax.amount }}%)
                </ng-container>
              </td>
              <td style="color: #000">
                {{ item.Total }}
              </td>
            </tr>
          </tbody>
          <tr>
            <td colspan="5" style="border: none; font-size: small">
              Total&nbsp;amount
            </td>
            <td colspan="5" style="border: none; font-size: small">
              {{ poDetails.vendors_total[0].subTotal | currency : "INR" }}
            </td>
          </tr>
          <tr>
            <td colspan="5" style="border: none; font-size: small">
              Total&nbsp;Freight
            </td>
            <td colspan="5" style="border: none; font-size: small">
              {{ poDetails.vendors_total[0].freightTotal | currency : "INR" }}
            </td>
          </tr>
          <tr>
            <td colspan="5" style="border: none; font-size: small">
              GST&nbsp;amount
            </td>
            <td colspan="5" style="border: none; font-size: small">
              {{ poDetails.vendors_total[0].gstAmount | currency : "INR" }}
            </td>
          </tr>
          <tr>
            <td colspan="5" style="border: none; font-size: small">
              Grand&nbsp;total
            </td>
            <td
              colspan="5"
              style="
                border: none;
                color: #073b4c;
                font-weight: bold;
                font-size: small;
              "
            >
              {{ poDetails.vendors_total[0].total | currency : "INR" }}
            </td>
          </tr>
        </table>
      </div>

      <div class="terms-condition-wrap">
        <div>
          Vendor terms & other conditions
          <mat-icon style="font-size: medium; position: relative; top: 10px"
            >border_color</mat-icon
          >
        </div>
        <textarea
          class="terms-condition-textarea"
          [formControl]="term_condition"
        >
        </textarea>
      </div>

      <div
        style="
          display: flex;
          gap: 20px;
          margin-top: 20px;
          justify-content: space-between;
        "
      >
        <div>
          <ng-container
            *ngIf="addPermission || editPermission; else noAddPermission"
          >
            <div>
              <div>
                <h4
                  *ngIf="
                    vendorAttachmentLength -
                      vendorFiles.length -
                      files.length !==
                    0
                  "
                  style="color: red; font-size: 14px"
                >
                  {{ vendorAttachmentLength - vendorFiles.length }} Vendor
                  Quotations file Missing
                </h4>
                <h4>
                  Total Vendor Quotation File :
                  {{ vendorFiles.length + files.length }}
                </h4>

                <input
                  type="file"
                  (change)="onFilesSelected($event)"
                  multiple
                  #fileInput
                  style="display: none"
                />
                <button type="button" (click)="fileInput.click()">
                  Choose Files
                </button>
                <div *ngIf="files">
                  <ul class="file-list">
                    <li *ngFor="let file of files" class="file-item">
                      {{ file.name }}
                      <button
                        (click)="removeFile(file)"
                        class="remove-file-btn"
                      >
                        x
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <div style="margin-top: 100px">
          <button
            (click)="uploadFiles()"
            style="
              padding: 8px;
              width: 180px;
              background-color: #233a61;
              color: #fff;
              border-radius: 5px;
              border-color: lightgrey;
              font-family: 'Poppins';
              font-size: 14px;
            "
          >
            Upload Files
          </button>

          <ng-container
            *ngIf="addPermission || editPermission; else noAddPermission"
          >
            <button
              (click)="createOrder()"
              style="
                padding: 8px;
                width: 180px;
                margin-right: 20px;
                margin-left: 20px;
                background-color: #233a61;
                color: #fff;
                border-radius: 5px;
                border-color: lightgrey;
                font-family: 'Poppins';
                font-size: 14px;
              "
            >
              Generate PO
            </button>
          </ng-container>
          <ng-template #noAddPermission>
            <button
              style="
                padding: 8px;
                width: 180px;
                background-color: #233a61;
                color: #fff;
                border-radius: 5px;
                border-color: lightgrey;
                font-family: 'Poppins';
                font-size: 14px;
              "
              disabled
            >
              No Permission to Approve
            </button>
          </ng-template>

          <ng-container *ngIf="editPermission; else noEditPermission">
            <button
              (click)="updateStatus('revise')"
              style="
                padding: 8px;
                width: 120px;
                background-color: #fff;
                color: #233a61;
                border: 1px solid #94a3b8;
                border-radius: 5px;
                font-family: 'Poppins';
                font-size: 14px;
              "
            >
              Revise
            </button>
          </ng-container>
          <ng-template #noEditPermission>
            <button
              style="
                padding: 8px;
                width: 120px;
                background-color: #fff;
                color: #233a61;
                border: 1px solid #94a3b8;
                border-radius: 5px;
                font-family: 'Poppins';
                font-size: 14px;
              "
              disabled
            >
              No Permission To Revise
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noView>
    <h3
      style="
        display: flex;
        justify-content: center;
        margin-top: 2%;
        font-size: 160%;
        font-weight: bolder;
        color: grey;
      "
    >
      You don't have permissions to view.
    </h3>
  </ng-template>
</div>
