<mat-card>
<div>
    <div style="flex-grow: 1;width:50% ">
        <div class="remarktab">
            <label style="color: #3568BA;font-size: 15px;">Reason for rejection</label><br>
            <textarea placeholder="Please describe"></textarea>
        </div>
        </div>
        <div><button style="padding: 8px;width: 150px;background-color: #233A61;color: #fff;border-radius: 5px;border-color: lightgrey;font-family: 'Poppins';position: relative;bottom:180px;left:450px">Submit</button>
        </div>
    </div>
</mat-card>
