<div id="sect1" >  
    <div class="imgdiv">  
       


        <mat-grid-list cols="4" rowHeight="800px" >
            <div>
            <img src="../../assets/images/Mainpage.png" style="width:100%;"> 
            <div style="height: 100px;width:100px;position: absolute;bottom:18%;left:300px">
            <img src="../../assets/images/dot.png" style="width:100%" alt="cinque terre"> </div>
        </div>
            <mat-grid-tile colspan="2" rowspan="1" >
                
                    <h1 style="font-size:70px;color: #fff;margin-top: 500px;margin-left: 250px;">Pragati Infra</h1>
               
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="1"  >
                <mat-card  style="width:60%;padding: 20px;margin-top: 50px;margin-left: 60px;height: 500px;">
       
                    <form class="example-form" [formGroup]="loginForm" style="margin-top: 40px;">
                        <h2>Login</h2><br>
                        <h4>Just signin if you have an account in here. Enjoy your website.</h4>
                        <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Your Email Id</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="email.invalid && ( email.dirty || email.touched )">
                          <span>Please provide a valid email</span>
                        </mat-error>
                        </mat-form-field>
            
            
                        <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="password.invalid && ( password.dirty || password.touched )">
              <span *ngIf="password.hasError('required')">Please provide a valid password</span>
              <span *ngIf="password.hasError('minlength')">Password must be at least 6 digits long</span>
            </mat-error>
                        </mat-form-field>
                     
                        <input type="checkbox">Remember me<br><br>
                        <div style="position: relative;bottom:40px;left:330px;">
                        <a href="#" style="color: black;" [routerLink]="['/forgotpassword']">Forgot Password?</a>
                    </div>
                        <button mat-raised-button style="background-color: #233A61;color: #fff;width:100%" (click)="login()" >Login</button>
                        <!-- <span *ngIf="show"> <button mat-button color="accent">Login success !!</button></span> -->
                        </form>
                    </mat-card>
                    
            </mat-grid-tile>
            </mat-grid-list>
                
</div>

        

        