
<div class="card" style="text-align: center;">
	<mat-card-title>
		Remarks
	</mat-card-title>
    <br/>
	<br/>

	<mat-card-content>


		<table>
			<tr>
			  <th>Date</th>
			  <th>Remark</th>
			  <th>Actions</th>

			  
			</tr>
			<tr *ngFor="let remark of data.reDate; let i=index">
				<td>{{remark?.date | date}}</td>
				<td>{{remark?.remark}}</td>
				<button style="margin-top: 10px;border-radius: 2px;border:1px solid #94A3B8;background: transparent;background-color: #233A61; color: #fff;" (click)="modifyRemarks(remark,i)" >modify</button>
			</tr>
		
			
		  </table>
       

		
	</mat-card-content>
</div>