
<mat-toolbar style="background-color: #fff !important;" >
  <mat-toolbar-row fxLayoutAlign="space-between center">
      <div style="padding: 1rem;margin-top: 60px;">
      <span>Project 1</span></div>
      <div>
          <button style="padding: 12px 12px;width: 150px;margin-top: 50px;margin-left: 680px;position: relative;">Add Project +  </button>
          </div>
          <div>
          <button style="padding: 5px 5px;width: 150px;margin-left: 40px;margin-top: 50px;"> <mat-icon style="font-size: medium;position: relative;right:1px;top:10px">group_add</mat-icon>
              Add Member </button>
              

      <mat-icon>notifications</mat-icon>

      </div>
    </mat-toolbar-row>
      
    <mat-toolbar-row>
      <hr style="width:100%">
    </mat-toolbar-row>
    </mat-toolbar>

    <div >
      <ul class="toptext"  style="background-color: #fff !important;">
        <li><a style="color: #000;" [routerLink]="['/dpr']" routerLinkActive="active-link"
          ><i class="fa fa-eye" aria-hidden="true"></i> Projects</a></li>
        <li><a style="color: #000;"[routerLink]="['data-analysis']" routerLinkActive="active-link-active"
          [routerLinkActiveOptions]="{exact: true}" ><i class="fa fa-eye" aria-hidden="true"></i> Data-Analysis</a></li>
        <li><a  style="color: #000;" [routerLink]="['progress-sheet']" routerLinkActive="active-link-active"
           ><i class="fa fa-pencil" aria-hidden="true"></i> Progress-sheet</a></li>
        <li><a style="color: #000;"[routerLink]="['calender']" routerLinkActive="active-link"
           ><i class="fa fa-pencil" aria-hidden="true"></i> Calender</a></li>
      </ul>
      
    
    </div>
   
<div style="background-color: #fff !important;padding: 20px;">
  <h3>Project progress monitoring sheets(PPMS)</h3>
</div>

<div style="margin-bottom:20px;">
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource">
  
         <!-- Description Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef>Description </th>
      <td mat-cell *matCellDef="let element">  <button mat-button> <mat-icon class="material-icons-outlined">edit</mat-icon></button>{{element.Description}} </td>
      
    </ng-container>



  
    <!-- R2EndDate Column -->
    <ng-container matColumnDef="R2EndDate">
      <th mat-header-cell *matHeaderCellDef> R2EndDate </th>
      <td mat-cell *matCellDef="let element"> {{element.R2EndDate}} </td>
    </ng-container>

       <!-- R1EndDate Column -->
       <ng-container matColumnDef="R1EndDate">
        <th mat-header-cell *matHeaderCellDef> R1EndDate </th>
        <td mat-cell *matCellDef="let element"> {{element.R1EndDate}} </td>
      </ng-container>
       <!-- WorkingdaysRevised Column -->
       <ng-container matColumnDef="WorkingdaysRevised">
        <th mat-header-cell *matHeaderCellDef> WorkingdaysRevised </th>
        <td mat-cell *matCellDef="let element"> {{element.WorkingdaysRevised}} </td>
      </ng-container>
  
  <!-- BaselineStartDate Column -->
  <ng-container matColumnDef="BaselineStartDate">
    <th mat-header-cell *matHeaderCellDef> BaselineStartDate </th>
    <td mat-cell *matCellDef="let element"> {{element.BaselineStartDate}} </td>
  </ng-container>


<!-- BaselineEndDate Column -->
  <ng-container matColumnDef="BaselineEndDate">
    <th mat-header-cell *matHeaderCellDef> BaselineEndDate </th>
    <td mat-cell *matCellDef="let element"> {{element.BaselineEndDate}} </td>
  </ng-container>

  <!-- UOM Column -->
  <ng-container matColumnDef="UOM">
    <th mat-header-cell *matHeaderCellDef> UOM </th>
    <td mat-cell *matCellDef="let element"> {{element.UOM}} </td>
  </ng-container>
  
  <!-- Total Column -->
  <ng-container matColumnDef="Total">
    <th mat-header-cell *matHeaderCellDef> Total </th>
    <td mat-cell *matCellDef="let element"> {{element.Total}} </td>
  </ng-container>
      
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <ng-container matColumnDef="groupHeader" >
        <td  style="background-color: rgb(246, 242, 242)" colspan="999" mat-cell *matCellDef="let groupBy"><strong>{{groupBy.initial}}<button mat-button> <mat-icon class="material-icons-outlined">add</mat-icon></button></strong></td>
      </ng-container>
    
      <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </tr>

    </table>
  </section>
  
</div>


