
<mat-toolbar style="background-color: #fff !important;" >
  <mat-toolbar-row fxLayoutAlign="space-between center">
      <div style="padding: 1rem;margin-top: 60px;">
      <span>Project 1</span></div>
      <div>
          <button style="padding: 12px 12px;width: 150px;margin-top: 50px;margin-left: 680px;position: relative;">Add Project +  </button>
          </div>
          <div>
          <button style="padding: 5px 5px;width: 150px;margin-left: 40px;margin-top: 50px;"> <mat-icon style="font-size: medium;position: relative;right:1px;top:10px">group_add</mat-icon>
              Add Member </button>
              

      <mat-icon>notifications</mat-icon>

      </div>
    </mat-toolbar-row>
      
    <mat-toolbar-row>
      <hr style="width:100%">
    </mat-toolbar-row>
    </mat-toolbar>

    <div >
      <ul class="toptext"  style="background-color: #fff !important;">
        <li><a style="color: #000;" [routerLink]="['/dpr']" routerLinkActive="active-link"
          ><i class="fa fa-eye" aria-hidden="true"></i> Projects</a></li>
        <li><a style="color: #000;"[routerLink]="['data-analysis']" routerLinkActive="active-link-active"
          [routerLinkActiveOptions]="{exact: true}" ><i class="fa fa-eye" aria-hidden="true"></i> Data-Analysis</a></li>
        <li><a  style="color: #000;" [routerLink]="['progress-sheet']" routerLinkActive="active-link-active"
           ><i class="fa fa-pencil" aria-hidden="true"></i> Progress-sheet</a></li>
        <li><a style="color: #000;"[routerLink]="['calender']" routerLinkActive="active-link"
           ><i class="fa fa-pencil" aria-hidden="true"></i> Calender</a></li>
      </ul>
      
    
    </div>
   
<div style="background-color: #fff !important;padding: 20px;">
  <h3>Project progress monitoring sheets(PPMS)</h3>
</div>

<body>
  <table>
      <caption>Table of Indian States and its Capitals</caption>
      <thead>
          <tr>
              <th>Sl no.</th>
              <th>State</th>
              <th>Capital</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td>West Bengal</td>
              <td>Kolkata</td>
          </tr>
          <tr>
              <td>2</td>
              <td>Madhya Pradesh</td>
              <td>Bhopal</td>
          </tr>
          <tr>
              <td>3</td>
              <td>Karnataka</td>
              <td>Bengaluru</td>
          </tr>
      </tbody>
  </table>
</body>



