<div class="section-wrapper">

  <div class="section-header">
    <div class="header-left">
      <h2>Sub Activity Master</h2>
    </div>
    <div class="header-right">
      <div class="buttons-containers">
        <div class="filter-con">

          <div dir="ltr" class="labeled-outlined-field-wrapper">
            <mat-form-field class="full-width drop-down outline-filter-field hide-form-bottom-field"
              appearance="outline">
              <input matInput placeholder="Search by name" (input)="search($event)">
            </mat-form-field>
          </div>


        </div>
        <button mat-button class="submit-btn" (click)="add()">Add New</button>
        <button mat-button class="other-btn" (click)="exportXlSX()">Export</button>
      </div>
    </div>
  </div>

  <div class="section-body">
    <table class="table  pragati-table">
      <thead>
        <tr>
          <th scope="col">SN.</th>
          <th scope="col">Activity Name</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="activityList && activityList.length==0">
          No data found

        </ng-container>
        <ng-container *ngIf="activityList && activityList.length>0">
          <tr *ngFor="let item of activityList;let i = index">
            <td scope="row">{{i+1}}</td>
            <td>{{item.activity_name}}</td>
            <td>
              <div class="action-btn-wrapper">
                <a class="action-btn" (click)="edit(item._id)" title="Edit"><i class="fa fa-edit"></i>
                </a>
                <a class="action-btn" (click)="delete(item._id)" title="Delete"><i class="fa fa-trash"></i></a>
              </div>
            </td>
          </tr>
        </ng-container>

        <!-- <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr> -->
      </tbody>
    </table>



  </div>

</div>
