

<form class="form-section" [formGroup]="projectForm">
  <div *ngIf="showAddProject">
    <mat-toolbar style="background-color: #fff;">
      <mat-toolbar-row fxLayoutAlign="space-between center">
          <div style="padding: 1rem;margin-top: 40px;">
          <span>Add New Project</span></div>
         
        </mat-toolbar-row>
          
        <mat-toolbar-row>
          <hr style="width:100%">
        </mat-toolbar-row>
    </mat-toolbar>
    <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
      fxLayoutAlign="space-around center" fxLayoutGap="0px">
      <div fxLayout="column" fxFlex="25" fxFlexFill class="addform-50-column mobile_mb_0">
        <div class="custom-form-group">
            <label class="custom-label" for="" style="color: #3568BA;">Project Name<span class="star">*</span></label>
            <div class="custom-form-control">
              <mat-form-field appearance="outline">
                <input matInput  placeholder="Enter Project Name" formControlName="projectName"
                  >
                  <mat-error *ngIf="projectName.invalid && ( projectName.dirty || projectName.touched )">
                    <span>Please provide a valid project name</span>
                  </mat-error>
                <!-- <mat-error *ngIf="title.invalid && ( title.dirty || title.touched )">
                  <span>Please provide a valid Profession Type</span>
                </mat-error> -->
              </mat-form-field>
            </div>
          </div>
       
      </div>
      <div fxLayout="column" fxFlex="25" fxFlexFill class="addform-50-column mobile_mb_0">
 
        <div class="custom-form-group">
            <label class="custom-label" for="" style="color: #3568BA;"> Project Date <span class="star">*</span>
              <!-- <span class="custom-hint">(Hint: Enter {{ sentenceCase('name') }} )</span> -->
            </label>
            <div class="custom-form-control">
              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="startPicker" formControlName="projectDate" placeholder="Enter start date"
                (click)="startPicker.open()"/>
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
                <mat-error *ngIf="projectDate.invalid && ( projectDate.dirty || projectDate.touched )">
                  <span>Please provide a valid project date</span>
                </mat-error>
                <!-- <mat-error *ngIf="startDate.invalid && ( startDate.dirty || startDate.touched )">
                  <span *ngIf="startDate.hasError('required')"> Start date is required </span>
                </mat-error> -->
              </mat-form-field>
            </div>
          </div>
    
      </div>
      <div fxLayout="column" fxFlex="25" fxFlexFill class="addform-50-column mobile_mb_0">
        <div class="custom-form-group">
            <label class="custom-label" for="" style="color: #3568BA;">Location<span class="star">*</span></label>
            <div class="custom-form-control">
              <mat-form-field appearance="outline">
                <input matInput  placeholder="Enter Location" formControlName="location"
                  >
                  <mat-error *ngIf="location.invalid && ( location.dirty || location.touched )">
                    <span>Please provide a valid location</span>
                  </mat-error>
                <!-- <mat-error *ngIf="title.invalid && ( title.dirty || title.touched )">
                  <span>Please provide a valid Profession Type</span>
                </mat-error> -->
              </mat-form-field>
            </div>
          </div>
     
      </div>
      
    </div>


    <div 
   fxLayout="row wrap" 
   fxLayout.lt-sm="column" 
   fxLayoutGap="10px" 
   fxLayoutAlign="flex-start"
   style="margin-left: 5%;">
    <div class="custom-form-group">
      <label class="custom-label" style="color: #3568BA;">Project Image</label>
      <div class="custom-form-control" fxLayout="row" fxLayoutAlign="center center">
          <div class="upload-file" dropzone fxLayout="column" fxLayoutAlign="center center">
              <img src="../../../assets/images/icons/upload-file.svg" class="mb-15" alt="upload-file">
              <h5 style="color: #3568BA;">Project Image</h5>
              <input type="file" class="uploadImg"  id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)">
          </div>
          <div class="upload-file" style="margin-left: 20px;" *ngIf="imageUrl">
    
            <img [src]="imageUrl" height="150px" width="200px">
        </div>
      </div>
      
  </div>


    
   
    
  </div>

    <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
      fxLayoutAlign="space-around center" fxLayoutGap="0px">
      <div fxLayout="column" fxFlex="92" fxFlexFill class="addform-50-column mobile_mb_0">
        <mat-form-field class="example-chip-list" appearance="outline">
          <mat-chip-list #chipList aria-label="Enter members" formControlName="members">
            <mat-chip *ngFor="let tag of projectForm.controls['members'].value" [selectable]="selectable"
                      [removable]="removable" (removed)="removeTag(tag)">
              {{tag}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Add project members"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addTag($event)">
          </mat-chip-list>
          </mat-form-field>
       
      </div>
     
      
    </div>
    <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
    fxLayoutAlign="space-around center" fxLayoutGap="0px">
    <div fxLayout="column" fxFlex="25" fxFlexFill class="addform-50-column mobile_mb_0">
        <div class="custom-form-group">
            <label class="custom-label" for="" style="color: #3568BA;"> R0 End Date <span class="star">*</span>
              <!-- <span class="custom-hint">(Hint: Enter {{ sentenceCase('name') }} )</span> -->
            </label>
            <div class="custom-form-control">
              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="r0Picker" formControlName="r0Date" placeholder="Enter R0 EndDate"
                (click)="r0Picker.open()"/>
                <mat-datepicker-toggle matSuffix [for]="r0Picker"></mat-datepicker-toggle>
                <mat-datepicker #r0Picker></mat-datepicker>
                <!-- <mat-error *ngIf="startDate.invalid && ( startDate.dirty || startDate.touched )">
                  <span *ngIf="startDate.hasError('required')"> Start date is required </span>
                </mat-error> -->
              </mat-form-field>
            </div>
          </div>
     
    </div>
    <div fxLayout="column" fxFlex="25" fxFlexFill class="addform-50-column mobile_mb_0">
        <div class="custom-form-group">
            <label class="custom-label" for="" style="color: #3568BA;"> R1 End Date <span class="star">*</span>
              <!-- <span class="custom-hint">(Hint: Enter {{ sentenceCase('name') }} )</span> -->
            </label>
            <div class="custom-form-control">
              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="r1Picker" formControlName="r1Date" placeholder="Enter R1 End Date"
                (click)="r1Picker.open()"/>
                <mat-datepicker-toggle matSuffix [for]="r1Picker"></mat-datepicker-toggle>
                <mat-datepicker #r1Picker></mat-datepicker>
                <!-- <mat-error *ngIf="startDate.invalid && ( startDate.dirty || startDate.touched )">
                  <span *ngIf="startDate.hasError('required')"> Start date is required </span>
                </mat-error> -->
              </mat-form-field>
            </div>
          </div>
  
    </div>
    <div fxLayout="column" fxFlex="25" fxFlexFill class="addform-50-column mobile_mb_0">
        <div class="custom-form-group">
            <label class="custom-label" for="" style="color: #3568BA;"> R2 End Date <span class="star">*</span>
              <!-- <span class="custom-hint">(Hint: Enter {{ sentenceCase('name') }} )</span> -->
            </label>
            <div class="custom-form-control">
              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="r2Picker" formControlName="r2Date" placeholder="Enter R2 End Date"
                (click)="r2Picker.open()"/>
                <mat-datepicker-toggle matSuffix [for]="r2Picker"></mat-datepicker-toggle>
                <mat-datepicker #r2Picker></mat-datepicker>
                <!-- <mat-error *ngIf="startDate.invalid && ( startDate.dirty || startDate.touched )">
                  <span *ngIf="startDate.hasError('required')"> Start date is required </span>
                </mat-error> -->
              </mat-form-field>
            </div>
          </div>
   
    </div>
    
  </div>
  <div 
  fxLayout="row wrap" 
  fxLayout.lt-sm="column" 
  fxLayoutGap="10px" 
  fxLayoutAlign="flex-start"
  style="margin-left: 5%;">
  
  <mat-card id="card" style="text-align: center;cursor: pointer;" (click)="displayMater()">
	<mat-card-title>
		
	</mat-card-title>

	<mat-card-content>

		
		<img src="https://img.icons8.com/material-outlined/24/null/plus-math--v1.png"/>
        <div style="color: #3568BA;">add activity with sub activity</div>

	</mat-card-content>
  </mat-card>
  
  </div>
</div>
<br>
<div *ngIf="showMaster">
  <mat-toolbar style="background-color: #fff;">
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div >
        <span>Master Data</span></div>
        <div>
          <button mat-raised-button *ngIf="!projectId" (click)="dispalyProject()">Go Back</button>
          <!-- <button style="padding: 5px;width: 100px;margin-top: 60px;">Go Back  </button> -->
      

      </div>
      </mat-toolbar-row>
        
      <mat-toolbar-row>
        <hr style="width:100%">
      </mat-toolbar-row>
  </mat-toolbar>

<div 
   fxLayout="row wrap" 
   fxLayout.lt-sm="column" 
   fxLayoutGap="10px" 
   fxLayoutAlign="flex-start"
   style="margin-left: 5%;">

   <ng-container *ngFor="let task of tasks">
    <mat-card id="card" fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%">
        <mat-card-title style="color: #3568BA;">
            {{task.taskName}}
            
        </mat-card-title>
        <hr>
    
        <mat-card-content>
          <button mat-raised-button (click)="addSubTask(task.taskId)" style="color: #3568BA;">+ add sub task</button>
            <!-- <button > </button> -->
            <br> <br>
            <!-- <span *ngFor="let subTask of task?.result">
            <span>{{subTask?.subTaskName}}</span>
        </span> -->
        <li *ngFor="let item of task?.result" style="list-style-type:none;">
      <input type="checkbox" [checked]="getSelection(item,task)" (change)="changeHandler(item,task)">
      <label>{{item?.subTaskName}}</label>
    </li>
    <!-- <button (click)="save()">save </button> -->
            <!-- <img src="https://img.icons8.com/material-outlined/24/null/plus-math--v1.png"/>
            <div>add activity with sub activity</div> -->
    
        </mat-card-content>
      </mat-card>
      
   </ng-container>

</div>
<br>
<div 
   fxLayout="row wrap" 
   fxLayout.lt-sm="column" 
   fxLayoutGap="10px" 
   fxLayoutAlign="flex-start"
   style="margin-left: 5%;">

   <ng-container >
    <mat-card id="card" fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%" style="text-align: center;" (click)="addTask()">
        <mat-card-title>
            
            
        </mat-card-title>
        
    
        <mat-card-content>
          <img src="https://img.icons8.com/material-outlined/24/null/plus-math--v1.png"/>
        <div style="color: #3568BA;">add activity</div>
    
        </mat-card-content>
      </mat-card>
      
   </ng-container>

</div>
<br>
<div 
   fxLayout="row wrap" 
   fxLayout.lt-sm="column" 
   fxLayoutGap="10px" 
   fxLayoutAlign="flex-start"
   style="margin-left: 5%;">
   <button mat-raised-button (click)="addProject()" style="background-color: #233A61;color: #fff;">Submit</button>
</div>



</div>
</form>


     

                
                  
                
                 
               
                  <!-- membershipPlan -->
         
               
            

            
            
            
          
        
    
