.mat-form-field{
   width:100% !important;
}


 .upload-file {
   width: 100%;
   border-radius: 5px;
   border: 2px dashed lightgrey;
   height: 150px;
   background-color: lightgrey;
   position: relative;
   margin-top: 10px;

}

input .uploadImg {
   opacity: 0;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   cursor: pointer;
}
.horizontal{
   border: 2px solid #3568BA;
   width:70%;
   margin-left: -10px;
}

.scroll-bar1{
        

    height: 90px;
    overflow: auto;
    overflow-x: hidden;
    }

::-webkit-scrollbar {
width: 7px;
height:10px;
}
::-webkit-scrollbar-track{
border: 1px solid lightgrey;
border-radius: 5px;
background-color:lightgrey ;
}
::-webkit-scrollbar-thumb{
background: #1E293B;
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
background: lightblue;
}