<mat-toolbar style="height: 100px;background-color: #fff;">
    <span style="margin-top: 40px;font-style: normal;font-weight: 600;font-size: 30px;color:#1E293B;margin-left: 20px;font-family: 'Poppins';">Pragati Infra</span>
    <span class="example-spacer"></span>


  </mat-toolbar>

  <div><hr style="width: 1130px;border: 2px solid #C5C5C5;margin-left: 30px;"></div>
  <div>
    <h1 style="color: #1E293B;font-style:normal;margin-left: 40px;margin-top: 30px;">Catergory management</h1>
  </div>
<div style="display: flex;flex-direction: row;gap:10px">
  <div style="margin-left: 40px;width:100%;margin-top: 10px;">
    <mat-form-field appearance="outline" class="searchbar">
        <mat-icon matSuffix>search</mat-icon>
        <input matInput type="search" placeholder="search title" class="search-input">

    </mat-form-field>
    </div>
    <div style="margin-left: -400px;width:100%;margin-top: 10px;">
      <mat-form-field appearance="outline" class="filterbar">
          <input matInput type="search" placeholder="Filter by" class="search-input">

      </mat-form-field>
      </div>
    </div>
        <body >
            <div class="scroll-bar1" >
              <table style="direction: ltr !important;border-left: 2px solid #000 !important;">
              <tr>
              <th >Category&nbsp;name</th>
              <th>Category&nbsp;code</th>

          </tr>



              <tbody>
                  <tr  style="background-color: #F4F4F5;" *ngFor="let num of [1,2,3,4,5,6,]">
                      <td style="color: #000;text-align: center;">Name</td>
                      <td style="color: #000;text-align: center;">32325</td>

                  </tr>

              </tbody>
            </table>
        </div>
            <div style="display: flex;flex-direction: row;gap: 40px;margin-left:60px;margin-bottom:100px;top: -50px;position: relative;">
            <div>
                <button style="padding: 8px ;width: 150px;background-color: #fff;cursor: pointer;border: 0.5px solid #94A3B8;border-radius: 5px;font-size: 14px;font-family: 'Poppins';">  Add
                    <img src="./assets/images/add.png" style="margin-left: 30px;position: relative;top:5px"></button>
              </div>
              <div>
                <button style="padding: 10px ;width: 150px;background-color: #fff;cursor: pointer;border: 0.5px solid #94A3B8;border-radius: 5px;font-size: 14px;font-family: 'Poppins';">  Edit
                    <img src="./assets/images/edit.svg" style="margin-left: 30px;"> </button>
              </div>
              <div>
                <button style="padding: 10px ;width: 150px;background-color: #fff;cursor: pointer;border: 0.5px solid #94A3B8;border-radius: 5px;font-size: 14px;font-family: 'Poppins';">  Import/Export  </button>
              </div>
            </div>
            <div style="display: flex;flex-direction: row;gap: 10px;float: right;position: relative;top:-120px;right:60px">
                <div><button style="padding: 8px;width: 120px;background-color: #233A61;color: #fff;border-radius: 5px;border-color: lightgrey;font-size: 14px;cursor: pointer;font-family: 'Poppins';">Submit</button></div>
                <div><button style="padding: 8px;width: 120px;background-color: #fff;color: #233A61;border: 1px solid #94A3B8;border-radius: 5px;font-size: 14px;cursor: pointer;font-family: 'Poppins';">Cancel</button></div>
            </div>


          </body>



