<div class="section-wrapper">

  <div class="section-header">
    <div class="header-left">
      <h2>Add Category</h2>
    </div>
    <div class="header-right">
      <div class="buttons-containers">
        <button mat-button class="submit-btn" (click)="saveData()">Submit</button>
        <button mat-button class="cancel-btn" (click)="list()">Cancel</button>
      </div>
    </div>
  </div>

  <div class="section-body">
    <form [formGroup]="addForm">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Category Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="addForm.controls.name.errors?.['required']">
              this field is required.
            </mat-error>
          </mat-form-field>

        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Category Code</mat-label>
            <input matInput formControlName="code">
            <mat-error *ngIf="addForm.controls.code.errors?.['required']">
              this field is required.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

</div>
