<mat-toolbar style="background-color: #fff;">
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div style="padding: 1rem;margin-top: 60px;">
        <span style="color: #1E293B;font-size: 30px;font-weight: 600;font-family: 'Poppins';">Pragati Infra</span></div>
        <div style="margin-right: 20px;">
            <button style="padding: 10px 10px;width: 150px;margin-top: 60px;background-color: #fff;cursor: pointer;border: 1px solid #97989D;border-radius: 5px;color: #97989D;font-family: 'Poppins';" [routerLink]="['/add-project']">  Add Project +  </button>
            <button mat-button [matMenuTriggerFor]="menu"> <mat-icon [matBadge]="recentActivitiesLen" matBadgeColor="warn" >notifications</mat-icon></button>
            <mat-menu #menu="matMenu" style="width:300px;">
              <div class="top_container" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="right"  style="height: 70vh;" >
                <div fxLayout="row" fxLayoutAlign="left" style="height: 60vh;">
                  <div class="scroll-bar1" fxLayout="column">
                    <div fxFlex="row" fxLayoutAlign="start" *ngFor="let data of recentActivities">
                      <div mat-card-avatar class="example-header-image"></div>
                      <div >
                        <div class="notification-container" >
                        <div class="content">{{data.description}}
                          <div class="time" style="color: #BBBBBB;">{{data.time}}</div><br>
                          </div>
                        </div>
                    </div>
                  
                  </div>
                 
                    </div>
                  </div>
                
              
              </div>
           </mat-menu>
        </div>
      </mat-toolbar-row>
        
      <mat-toolbar-row>
        <hr style="width:100%">
      </mat-toolbar-row>
  </mat-toolbar>

<div fxLayout="row" >
  <div fxLayout="column" fxFlex="70">
    <div class="leftside">


  <div style="margin-left: 35px;" fxLayout="row" fxLayoutGap="100px" >
 <div style="margin-left: 35px;width:40%">
<button mat-button style="color: #4C4D50;font-size: medium;font-family: 'Poppins';"><u>Projects</u></button>
</div>
<div>
<form appearance="outline" class="searchbar">
  <!-- <mat-icon matSuffix style="position: absolute;left:340px;top:20px">search</mat-icon> -->
    <input type="text" [(ngModel)]="projectName" matInput placeholder="Search" name= "search" >
    <button  style="bottom: 40px;left:340px;position: relative;background-color: #fff;border: none;"><i class="fa fa-search" aria-hidden="true" style="color: #97989D;"></i></button>
</form>
   
   
</div>
</div>
<div class="projectcontent" fxLayout="row" fxLayoutGap="10px" style="height: 60%;">

  <div class="scroll-bar">
    <div fxLayout="row wrap" *ngIf="projectsViewPermissions?.isSelected; else noView"  fxLayoutGap="40px" fxLayoutAlign="start center" >
      <div  fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let project of projects | customerEmailFilter:projectName">
      
        <div class="" >
          
          <div class="content1">
            <!-- <div style="position: relative;top:120px;color: #fff ;margin-left: 20px;margin-bottom: 20px;font-weight: 600;font-size: 16px;">{{project?.projectName}}</div> -->
            <div style="color: #000;position: relative;top:170px;right:-150px;z-index: 9;" class="hamicon">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editProject(project._id, project.projectName)" >
                  <mat-icon>edit</mat-icon>
                  <span style="font-family: 'Poppins';">Edit</span>
                </button>
                  <button mat-menu-item (click)="deleteProject(project._id)">
                  <mat-icon>delete</mat-icon>
                  <span style="font-family: 'Poppins';">Delete</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <div class="card">
          <img [routerLink]="['/view-project/data-analysis',project._id]"  [src]="project?.imageUrl" *ngIf="project?.imageUrl" style="box-shadow:none;width:220px;height:130px;cursor: pointer;object-fit: cover;">
          <img [routerLink]="['/view-project/data-analysis',project._id]" *ngIf="!project?.imageUrl" src="../../../assets/images/sample.png" style="box-shadow:none;width:220px;height:130px;cursor: pointer;object-fit: cover;">
          <div class="projname">
            <h4><b>{{project?.projectName}}</b></h4> 
            
          </div>
        </div>
          <div>
          
          </div>
          <div>
         
          </div>
        </div>
        
      </div>
      
    </div>

    <ng-template #noView>
      <h3>you don't have permissions to view Projects</h3>
    </ng-template>


    <!-- <div>
      <div fxLayoutAlign="center center">
       <img src="../../../assets/images/no-data-vector-outline-icon-260nw-2082722071.webp">
        
      </div>
      
    </div> -->




  </div>
    </div>
    <div><hr style="width:750px;border: 1px solid #233A61;margin-left: 30px; background-color: #233A61;"></div>

    
    <div style="height: 30vh;margin-top: 5vh;width:100%">
      <div style="margin-top: 50px;margin-left: 30px;"><h3 style="color: #1E293B;font-size: 25px;font-family: 'Poppins';">OverView</h3></div>
    
      <div class="container" >
        <div class="row" fxLayout="row" fxLayoutGap="50px grid" fxLayoutAlign="space-around center"   >
          <div fxFlex="25%"  fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let card of cards">
            <mat-card class="card-below" style="border-radius:15px;background-color: #FBFBFB; box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25) !important;">
            <mat-card-title style="display: flex;justify-content: center;">
                   <h1 style="color: #2E2E2E;font-size: 35px;margin-top: 10px;"><b>{{card.count}}</b></h1>
                </mat-card-title>
                <mat-card-content  style="display: flex;justify-content: center; color: #2E2E2E;font-size: 10px;font-family: 'Poppins';font-weight: bold;">
                  {{card.title}}
                </mat-card-content>
           
            </mat-card>
            
          </div>
        </div>
        <!-- <img src=".\assets\images\arrow.jpg" width="30px" class="arrowblue">
        <img src=".\assets\images\arrowgreen.png" width="30px" class="arrowblue" >
        <img src=".\assets\images\arrowblue.png" width="30px"  class="arrowblue"> -->
      </div>
  </div>




</div>
</div>

<div fxLayout="column" fxFlex="29" fxLayoutAlign="right" fxLayoutGap="-10px" class="rightside" style="height: 145vh;">

<div class="top_container" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="right"  style="height: 70vh;" >
  <mat-card fxLayout="column" fxLayoutAlign="left" style="height: 70vh; background-color: #FAFAFA;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);">
    <div class="scroll-bar2" fxLayout="column">
    <mat-card-header>
  
      <mat-card-title style="color: #1E293B;font-size: 14;margin-left: -10px;font-family: 'Poppins';font-weight: bold;"> About &nbsp;&nbsp; <i class="fa fa-edit" style="cursor: pointer;" (click)="addAboutUs()" aria-hidden="true"></i></mat-card-title>
  
    </mat-card-header>

    <mat-card-content >
      <p style="font-family: Poppins;font-size: 14px;">{{aboutUs?.description}}</p></mat-card-content>
     
      <mat-card-subtitle><i style="color: #1E293B;font-family: 'Poppins';font-weight: bold;">Members</i></mat-card-subtitle>

      <div class="aboutcard-spaceset" fxFlex="row" fxLayoutAlign="start"  style="height: 55px;" *ngFor="let mem of members">
      <div style="margin-top:10px" mat-card-avatar class="example-header-image"></div>
      <div  style="margin-top:10px">
      <button mat-button style="font-size: 14px;font-weight: 300;font-family: 'Poppins';">{{mem.split('@')[0]}}</button> 
    </div>
  
  </div>

  <!-- <div fxFlex="row" fxLayoutAlign="start" >
    <div mat-card-avatar class="example-header-image"></div>
    <div >
    <button mat-button >User2</button> 
  </div>
</div> -->

  
  </div>
  <mat-card-actions style="margin-top: 20px;">
    <button mat-button (click)="addMember()" style="font-family: 'Poppins';font-weight: bold;">Add members +</button> 
  </mat-card-actions>
  </mat-card>

</div>








<div fxLayout="column" fxFlex="29" fxLayoutAlign="right" fxLayoutGap="30px" class="rightside" style="height: 145vh;">

  <div class="top_container" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="right"  style="height: 70vh;" >
    <mat-card fxLayout="row" fxLayoutAlign="left" style="height: 70vh;background-color: #FAFAFA;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);">
      <div class="scroll-bar1" fxLayout="column">
        <span style="font-size: 15px;font-weight: bold;text-align: left;margin-bottom: 20px;margin-left: 10px;font-family: 'Poppins';">Notifications</span>
        <div  fxFlex="row" fxLayoutAlign="start" *ngFor="let data of recentActivities">
          <div mat-card-avatar class="example-header-image"></div>
          <div style="margin-left: 10px;">
            <div class="content">{{data.description}}
              <div class="time" style="color: #BBBBBB;font-family: 'Poppins';">{{data.time}}</div><br>
            </div>
        </div>
      
      </div>
     
        </div>
    </mat-card>
    
  
  </div>
  

</div>

</div>














