.content {
    padding: 16px;

    margin-left: 20px;
}

.content > mat-card {
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container{
    margin-left: 30px;
    padding: 16px;
    
}

.top_container{
    padding: 20px;
   
}
card-below{
    
    border-radius: 5px;
    box-shadow: 0px 0px 3px lightgray,
    0px 0px 7px lightgray,
    0px 0px 11px lightgray;
  
 
}
.example-card{
    max-width: 400px;
}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    margin-left: 20px;
  }

  .scroll-bar{
        
   
    height: 420px;
    
 
    
   
    overflow-y:auto;
    overflow-x: hidden;
    
    }

::-webkit-scrollbar {
width: 10px;

}
::-webkit-scrollbar-track{
border: 1px solid lightgrey;
border-radius: 5px;
background-color:lightgrey ;
}
::-webkit-scrollbar-thumb{
background: #1E293B;
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
background: lightblue;
}


.scroll-bar1{
        
   
    height: 300px;
 
    
 
    overflow: auto;
    overflow-x: hidden;
    }

::-webkit-scrollbar {
width: 10px;
height:10px;
}
::-webkit-scrollbar-track{
border: 1px solid lightgrey;
border-radius: 5px;
background-color:lightgrey ;
}
::-webkit-scrollbar-thumb{
background: #1E293B;
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
background: lightblue;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
  }
  .notification-container{
   width: 200px;
   margin-left: 10px;
  }