<mat-toolbar style="background-color: #fff;">
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div style="padding: 1rem;margin-top: 60px;">
        <span style="color: #1E293B;font-size: 35px;">Pragati Infra</span></div>
        <div>
            <button style="padding: 10px 10px;width: 150px;margin-top: 60px;background-color: #fff;cursor: pointer;border: 1px solid #97989D;border-radius: 5px;color: #97989D;" [routerLink]="['/add-project']">  Add Project +  </button>
            <button mat-button [matMenuTriggerFor]="menu"> <mat-icon [matBadge]="recentActivitiesLen" matBadgeColor="warn">notifications</mat-icon></button>
            <mat-menu #menu="matMenu" style="width:300px;">
              <div class="top_container" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="right"  style="height: 70vh;" >
                <div fxLayout="row" fxLayoutAlign="left" style="height: 60vh;">
                  <div class="scroll-bar1" fxLayout="column">
                    <div fxFlex="row" fxLayoutAlign="start" *ngFor="let data of recentActivities">
                      <div mat-card-avatar class="example-header-image"></div>
                      <div >
                        <div class="notification-container" >
                        <div class="content">{{data.description}}
                          <div class="time" style="color: #BBBBBB;">{{data.time}}</div><br>
                          </div>
                        </div>
                    </div>
                  
                  </div>
                 
                    </div>
                  </div>
                
              
              </div>
           </mat-menu>
        </div>
      </mat-toolbar-row>
        
      <mat-toolbar-row>
        <hr style="width:100%">
      </mat-toolbar-row>
  </mat-toolbar>

<div fxLayout="row" >
  <div fxLayout="column" fxFlex="70">
    <div class="leftside">


  <div style="margin-left: 35px;" fxLayout="row" fxLayoutGap="100px" >
 <div style="margin-left: 35px;width:40%">
<button mat-button style="color: #4C4D50;font-size: medium;"><u>Projects</u></button>
</div>
<div>
<form class="Search-form">
    <mat-form-field class="example-full-width" appearance="outline" >
    <span matPrefix> </span>
    <input type="text" [(ngModel)]="projectName" matInput placeholder="Search" name= "search" >
    <button matSuffix mat-button style="margin-left:50px;"><mat-icon >search</mat-icon></button>
    </mat-form-field>
   
    </form>
</div>
</div>
<div class="projectcontent" fxLayout="row" fxLayoutGap="10px" style="height: 80%;">

  <div class="scroll-bar">
    <div fxLayout="row wrap" *ngIf="projectsViewPermissions?.isSelected; else noView"  fxLayoutGap="20px" fxLayoutAlign="start center">
      <div  fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let project of projects | customerEmailFilter:projectName">
        <div class="" >
          
          <div class="content1">
            <div style="position: relative;top:120px;color: #fff;margin-left: 40px;margin-bottom: 20px;">{{project?.projectName}}</div>
          </div>
          <img [routerLink]="['/view-project/data-analysis',project._id]"  [src]="project?.imageUrl" style="box-shadow:none;width:200px;height:130px;cursor: pointer;object-fit: cover;">
       
          <div>
          
          </div>
          <div>
         
          </div>
        </div>
        
      </div>
      
    </div>

    <ng-template #noView>
      <h3>you don't have permissions to view Projects</h3>
    </ng-template>


    <!-- <div>
      <div fxLayoutAlign="center center">
       <img src="../../../assets/images/no-data-vector-outline-icon-260nw-2082722071.webp">
        
      </div>
      
    </div> -->




  </div>
    </div>
    <div><hr style="border: 1px solid #233A61;margin-left: 30px; background-color: #233A61;"></div>

    
    <div style="height: 30vh;margin-top: 5vh;">
      <div style="margin-top: 30px;margin-left: 30px;"><h3 style="color: #1E293B;font-size: 25px;">OverView</h3></div>
    
      <div class="container" >
        <div class="row" fxLayout="row" fxLayoutGap="16px grid" fxLayoutAlign="space-around center"   >
          <div fxFlex="25%"  fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let card of cards">
            <mat-card class="card-below">
            <mat-card-title style="display: flex;justify-content: center;">
                   <h1 style="color: #2E2E2E;font-size: 35px;"><b>{{card.count}}</b></h1>
                </mat-card-title>
                <mat-card-content  style="display: flex;justify-content: center; color: #2E2E2E;">
                  {{card.title}}
                </mat-card-content>
           
            </mat-card>
          </div>
        </div>
      </div>
  </div>




</div>
</div>

<div fxLayout="column" fxFlex="29" fxLayoutAlign="right" fxLayoutGap="-10px" class="rightside" style="height: 145vh;">

<div class="top_container" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="right"  style="height: 70vh;" >
  <mat-card fxLayout="column" fxLayoutAlign="left" style="height: 70vh; ">
    <div class="scroll-bar2" fxLayout="column">
    <mat-card-header>
  
      <mat-card-title style="color: #1E293B;font-size: 14;"> About &nbsp;&nbsp; <i class="fa fa-edit" style="cursor: pointer;" (click)="addAboutUs()" aria-hidden="true"></i></mat-card-title>
  
    </mat-card-header>

    <mat-card-content>
      <p>{{aboutUs?.description}}</p></mat-card-content>
     
      <mat-card-subtitle><i style="color: #1E293B;">Members</i></mat-card-subtitle>

      <div  fxFlex="row" fxLayoutAlign="start"  *ngFor="let mem of members">
      <div style="margin-top:10px" mat-card-avatar class="example-header-image"></div>
      <div  style="margin-top:10px">
      <button mat-button >{{mem.split('@')[0]}}</button> 
    </div>
  
  </div>

  <!-- <div fxFlex="row" fxLayoutAlign="start" >
    <div mat-card-avatar class="example-header-image"></div>
    <div >
    <button mat-button >User2</button> 
  </div>
</div> -->

  
  </div>
  <mat-card-actions style="margin-top: 20px;">
    <button mat-button (click)="addMember()">Addmembers+</button> 
  </mat-card-actions>
  </mat-card>

</div>








<div fxLayout="column" fxFlex="29" fxLayoutAlign="right" fxLayoutGap="30px" class="rightside" style="height: 145vh;">

  <div class="top_container" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="right"  style="height: 70vh;" >
    <mat-card fxLayout="row" fxLayoutAlign="left" style="height: 60vh;">
      <div class="scroll-bar1" fxLayout="column">
        <div  fxFlex="row" fxLayoutAlign="start" *ngFor="let data of recentActivities">
          <div mat-card-avatar class="example-header-image"></div>
          <div style="margin-left: 10px;">
            <div class="content">{{data.description}}
              <div class="time" style="color: #BBBBBB;">{{data.time}}</div><br>
            </div>
        </div>
      
      </div>
     
        </div>
    </mat-card>
    
  
  </div>
  

</div>

</div>














