
<div id="card" style="text-align: center;width: 400px;height: 200px; display: flex;justify-content: center;flex-direction: column;">
	<mat-card-title>
		New Permission
	</mat-card-title><br>
  <mat-card-content>
  <mat-form-field appearance="fill" style="width: 40%;">
    <input matInput [(ngModel)]="data.animal" placeholder="Enter new permission">
  </mat-form-field>


<div mat-dialog-actions style="display: flex;justify-content: center;">
  <button mat-raised-button  color="primary" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button  color="primary" [mat-dialog-close]="data.animal" cdkFocusInitial>Submit</button>
</div>
</mat-card-content>
</div>
