<mat-toolbar style="background-color: #fff !important;">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" >
        <div style="padding: 1rem;margin-top: 60px;">
            <select style="padding: 10px;width:100%;border: none;font-size: large;">
                <option>
        <span>Project 1</span></option>
</select>
<!-- <span style="font-size: small;">on track</span> -->
</div>
       
      </mat-toolbar-row>
        
      <mat-toolbar-row>
        <hr style="width:100%">
      </mat-toolbar-row>
  </mat-toolbar>
  <div class="toptext" >
    <ul style="list-style: none;">
    
      <li style="border-right: 1px solid #D9D9D9;"><a [routerLink]="['/dpr']" routerLinkActive="active-link"
        ><i class="fa fa-eye" aria-hidden="true"></i> Projects</a></li>
       
      <li style="border-right: 1px solid #D9D9D9;"><a [routerLink]="['/view-project/data-analysis']" routerLinkActive="active-link-active"
        [routerLinkActiveOptions]="{exact: true}" ><i class="fa fa-eye" aria-hidden="true"></i> Data-Analysis</a></li>
        
      <li style="border-right: 1px solid #D9D9D9;"><a [routerLink]="['/view-project/progress-sheet']" routerLinkActive="active-link-active"
         ><i class="fa fa-edit" aria-hidden="true"></i> Progress-sheet</a></li>
         
      <li><a [routerLink]="['/view-project/calender']" routerLinkActive="active-link"
         ><i class="fa fa-edit" aria-hidden="true"></i> Calender</a></li>
      
    </ul>
    
  
  </div><br>
