<mat-toolbar style="height: 100px;background-color: #fff;">
  <div style="margin-top: 50px;margin-left: 20px;">
    <img src="./assets/images/RA.svg">
  </div>
  <span
    style="font-family: 'Poppins';margin-top: 40px;font-style: normal;font-weight:600;font-size: 30px;color:#1E293B;margin-left: 10px;">Rate
    comparative </span>
  <span class="example-spacer"></span>


</mat-toolbar>
<div>
  <hr style="width: 1130px;border: 2px solid #C5C5C5;margin-left: 30px;">
</div>
<div style="display: flex;flex-direction: row;font-family: 'Poppins';font-weight: 600;">

 
  <div style="margin-top: 20px;margin-left: 30px;display: flex;cursor: pointer;" [routerLink]="['/procurement']" routerLinkActive="active-link">

    <div><img src="./assets/images/box.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Purchase&nbsp;request</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;cursor: pointer;" [routerLink]="['/procurement/prlist']" routerLinkActive="active-link">

    <div> <img src="./assets/images/approval.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Approvals</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;cursor: pointer;" [routerLink]="['/rate-comparative']" routerLinkActive="active-link">
    <div> <img src="./assets/images/ratedown.svg"></div>
    <span style="color: #233A61;margin-left: 5px;font-size: 14px;">Rate&nbsp;Comparative</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;cursor: pointer;" [routerLink]="['/rate-approval']" routerLinkActive="active-link">
    <div> <img src="./assets/images/approval.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Rate&nbsp;Approvals</span>
    <div><mat-divider style="width: 90px;margin-left: 10px;margin-top: 10px;border:1px dashed"></mat-divider></div>
  </div>
  <div style="margin-top: 20px;margin-left: 10px;display: flex;cursor: pointer;" [routerLink]="['/purchase-order']" routerLinkActive="active-link">
    <div><img src="./assets/images/po.svg"></div>
    <span style="color: #97989D;margin-left: 5px;font-size: 14px;">Purchase&nbsp;orders</span>
  </div>
</div>


<form [formGroup]="rateComparativeForm">


  <mat-card class="topcard">
    <div style="display: flex;flex-wrap: wrap;gap:10px; max-width: 100%;">

      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Request title </label>
        <input placeholder="Enter title" formControlName="title" readonly
          style="width:100%;padding:10px;border-radius: 6px;border:1px solid #ccc;cursor: pointer;margin-top: 3px;font-family: 'Poppins';    height: 50px;">
      </div>

      <div class="flex-div" style="display: flex;flex-direction: column;">
        <label style="color: #4272BF;font-size: 14px;">Request date</label>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="date" formControlName="date" placeholder="Auto generate Request Date"
            readonly />
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="flex-div custom-form-group">
        <label class="custom-label" for="" style="color: #4272BF;font-size: 14px;"> Required by <span
            class="star">*</span>
        </label>
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="requiredByStartDate" formControlName="expected_delivery_date"
              placeholder="Enter Required by" readonly />
            <mat-datepicker-toggle matSuffix [for]="requiredByStartDate"></mat-datepicker-toggle>
            <mat-datepicker #requiredByStartDate></mat-datepicker>

          </mat-form-field>
        </div>
      </div>

      <div class="flex-div custom-form-group">
        <label class="custom-label" for="" style="color: #4272BF;font-size: 14px;"> Handle by <span
            class="star">*</span>
        </label>
        <div class="custom-form-control">
        
          <mat-form-field appearance="outline" >
            <!-- <mat-label>Handle by</mat-label> -->
            <mat-select matInput formControlName="handle_by" >
              <mat-option *ngFor="let user of users" [value]="user?._id"  >
                {{user?.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="rateComparativeForm.controls.handle_by.errors?.['required']">
              this field is required.
            </mat-error>
          </mat-form-field>
        </div>
      </div>




      <div class="custom-form-control flex-div">
        <label style="color: #4272BF;font-size: 14px;">Site name <span class="star">*</span></label>
        <mat-form-field appearance="outline">
          <mat-select id="site" placeholder="Select site" matInput formControlName="site">
            <mat-option [value]="item._id" *ngFor="let item of siteList">
              {{item.site_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex-div" style="display: flex;flex-direction: column;margin-left: 10px;">
        <label style="color: #4272BF;    margin-bottom: 10px;">Local Purchase <span class="star">*</span></label>
        <mat-radio-group aria-labelledby="example-radio-group-label" color="primary" class="example-radio-group"
          formControlName="local_purchase">
          <mat-radio-button class="example-radio-button" style="margin-right: 10px;" [value]="'yes'">
            Yes
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="'no'">
            No
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-card>


  <mat-card class="topcard" style="margin-top: 40px;">
    Select your vendor for each Category and Subcategory
    <form [formGroup]="vendorForm">
      <div class="scroll-bar1">
        <table>
      <tr>
        <th>Category</th>
        <th>Sub Category</th>
        <th>Vendor</th>
      </tr>
      <tr *ngFor="let items of filteredItems ; let i = index;" formArrayName="vendor">
        <td>{{ items.categoryDetail.name }}</td>
        <td>{{ items.subCategoryDetail.subcategory_name }}</td>
        <td>
          <div *ngIf="isVendorSelected(items).length === 0 ; else Option">
            No vendor available
          </div>
          <ng-template #Option [formGroupName]="i">
            <div class="col-md-3">
              <mat-form-field appearance="outline" style="width: max-content;">
                <mat-label>Select Vendors</mat-label>
                <mat-select matInput multiple formControlName="selectedVendors" (selectionChange)="handleVendorChange()">
                  <mat-option *ngFor="let vendor of isVendorSelected(items)" [value]="vendor._id" >
                    {{ vendor?.vendor_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-template>
         
        </td>
      </tr>
    </table>
      </div>
      <div style="display: flex; justify-content: center;">
        <button class="p-btns-button" (click)="save()">Enter Vendor Rates</button>
       </div>
      </form>
    
  </mat-card>

 <!---->

 <div *ngIf="vendorItemsTables && vendorItemsTables.length > 0">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th rowspan="2" style=" text-align: center; width:300px; vertical-align: middle;">Item</th>
        <th rowspan="2" style=" text-align: center; width:250px; vertical-align: middle;">Category</th>
        <th rowspan="2" style=" text-align: center; width:250px; vertical-align: middle;">Sub-Category</th>
        <th rowspan="2" style=" text-align: center; vertical-align: middle;">UOM</th>
        <th rowspan="2" style=" text-align: center; vertical-align: middle;">Quantity</th>
        <th rowspan="2" style=" text-align: center; vertical-align: middle;">GST %</th>
        <ng-container *ngFor="let vendor of vendorItemsTables[0].vendors; let i = index">
          <th colspan="3" style="text-align: center; vertical-align: middle;">
            <label>
              <input type="checkbox" (change)="toggleVendorPreferred(i, $event)" 
                     [checked]="vendorItemsTables[0].totals[getVendorKeys()[i]].preferred" />
              {{ vendor }}
            </label>
          </th>
        </ng-container>
    
        <th rowspan="2" style=" text-align: center; vertical-align: middle;">Add Remarks</th>
      </tr>
      <tr>
        <ng-container *ngFor="let vendor of vendorItemsTables[0].vendors">
          <th style=" text-align: center; vertical-align: middle;">Available Qty</th>
          <th style=" text-align: center; vertical-align: middle;">Rate (₹)</th>
          <th style=" text-align: center; vertical-align: middle;">Sub Total (₹)</th>
        </ng-container>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let table of vendorItemsTables; let tableIndex = index">
        <tr *ngFor="let item of table.items">
          <td style=" text-align: center;width:300px; vertical-align: middle;">{{ item.name }}</td>
          <td style=" text-align: center; width:250px;vertical-align: middle;">{{ item.category }}</td>
          <td style=" text-align: center;width:250px; vertical-align: middle;">{{ item.subCategory }}</td>
          <td style=" text-align: center; vertical-align: middle;">{{ item.uom }}</td>
          <td style=" text-align: center; vertical-align: middle;">{{ item.quantity }}</td>
          <td style=" text-align: center; vertical-align: middle;">{{ item.gst }}</td>

          <ng-container *ngFor="let vendorId of getVendorIds(table)">
            <td >
              <input type="number"
              class="inputBoxes"
                     [formControl]="getFormControl(tableIndex, item.item_id, vendorId, 'requiredQty')"
                     (input)="updateAmount(item, vendorId, tableIndex)"
                     [attr.data-control-name]="'table_' + tableIndex + '_item_' + item.item_id + '_vendor_' + vendorId + '_requiredQty'"
                     >
            </td>
            <td >
              <input type="number"
              class="inputBoxes"
                     [formControl]="getFormControl(tableIndex, item.item_id, vendorId, 'rate')"
                     (input)="updateAmount(item, vendorId, tableIndex)"
                     [attr.data-control-name]="'table_' + tableIndex + '_item_' + item.item_id + '_vendor_' + vendorId + '_rate'"
                     >
            </td>
            <td style="text-align: center; vertical-align: middle;width:150px"
                [ngClass]="{'lowest-amount': isSaved && isLowestAmount(tableIndex, item.item_id, vendorId)}">
              {{ getFormControl(tableIndex, item.item_id, vendorId, 'amount').value || '0' }}
            </td>
          </ng-container>

          <td >
            <input type="text"
            class="inputBoxes"
                   [formControl]="getFormControl(tableIndex, item.item_id, '', 'remarks')"
                   [attr.data-control-name]="'table_' + tableIndex + '_item_' + item.item_id + '_remarks'">
          </td>
        </tr>
      </ng-container>
    </tbody>

    <tfoot>
     
      <tr>
        <td colspan="4" style="border-color: white; border-right: 0.5px solid;">
        </td>
        <td colspan="2" style="text-align: right; border: 0.5px solid;">Total Amount (₹)</td>
        <ng-container *ngFor="let vendorId of getVendorIds(vendorItemsTables[0])">
          <td colspan="3" style="height:50px; border: 0.5px solid;">{{ vendorItemsTables[0].totals[vendorId]?.totalAmount || '0' }}</td>
        </ng-container>
        <td style="border-color: white;"></td>
      </tr>
      <tr>
        <td colspan="4" style="border-color: white; border-right: 0.5px solid;">
        </td>
        <td colspan="2" style="text-align: right; border: 0.5px solid;">GST Amount (₹)</td>
        <ng-container *ngFor="let vendorId of getVendorIds(vendorItemsTables[0])">
          <td colspan="3" style="height:50px; border: 0.5px solid;">{{ vendorItemsTables[0].totals[vendorId]?.gstAmount || '0' }}</td>
        </ng-container>
        <td style="border-color: white;"></td>
      </tr>
      <tr>
        <td colspan="4" style="border-color: white; border-right: 0.5px solid;">
        </td>
        <td colspan="2" style="text-align: right; border: 0.5px solid;">Freight (₹)</td>
        <ng-container *ngFor="let vendorId of getVendorIds(vendorItemsTables[0])">
          <td colspan="3" style="height:40px; border: 0.5px solid;">
            <input type="number"
            class="inputBoxes"
                   [formControl]="getFormControl(0, '', vendorId, 'freight')"
                   (input)="updateTotals(0)"
                   [attr.data-control-name]="'table_0_vendor_' + vendorId + '_freight'">
          </td>
        </ng-container>
       <td style="border-color: white;"></td>
      </tr>
      <tr>
        <td colspan="4" style="border-color: white; border-right: 0.5px solid;">
        </td>
        <td colspan="2" style="text-align: right; border: 0.5px solid;">Freight GST (%)</td>
        <ng-container *ngFor="let vendorId of getVendorIds(vendorItemsTables[0])">
          <td colspan="3" style="height:40px; border: 0.5px solid;">
            <input type="number"
            class="inputBoxes"
                   [formControl]="getFormControl(0, '', vendorId, 'freightGst')"
                   (input)="updateTotals(0)"
                   [attr.data-control-name]="'table_0_vendor_' + vendorId + '_freightGst'">
          </td>
        </ng-container>
        <td style="border-color: white;"></td>
      </tr>
      <tr>
        <td colspan="4" style="border-color: white; border-right: 0.5px solid;">
        </td>
        <td colspan="2" style="text-align: right; border: 0.5px solid;">Grand Total (₹)</td>
        <ng-container *ngFor="let vendorId of getVendorIds(vendorItemsTables[0])">
          <td colspan="3" style="height:50px; border: 0.5px solid;" [ngClass]="{'lowest-grand-total': isSaved && isLowestGrandTotal(vendorId)}">
            {{ vendorItemsTables[0].totals[vendorId]?.grandTotal || '0' }}
          </td>
        </ng-container>
        <td style="border-color: white;"></td>
      </tr>
    </tfoot>
  </table>


  <div style="display: flex; justify-content: left; padding-top: 20px;">
    <button class="p-btns-button" (click)="saveAndHighlight()" [disabled]="isSaved">Save Rates</button>
   </div>
</div>



  <div class="text-area-section">
    <label style="color: #4272BF;font-size: 14px;">Remarks </label>
    <textarea name="" id="" cols="30" rows="5" formControlName="remarks"></textarea>
  </div>
  <div class=" button-list">




    <ng-container *ngIf="addPermission || editPermission; else noAddPermission">
      <button class="p-btns-button" (click)="updateRequest()" [disabled]="load">
        <span *ngIf="!load">Submit</span>
        <span *ngIf="load">Please wait...</span>
      </button>
    </ng-container>
    <ng-template #noAddPermission>
      <button class="p-btns-button" disabled>
        <span  *ngIf="!load">No Permission to Submit</span>
      </button>
    </ng-template>

  </div>
</form>
