<mat-toolbar style="height: 100px; background-color: #fff">
  <div style="margin-top: 50px; margin-left: 20px">
    <img src="./assets/images/POL.svg" />
  </div>
  <span
    style="
      font-family: 'Poppins';
      margin-top: 40px;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      color: #1e293b;
      margin-left: 10px;
    "
    >Purchase orders</span
  >
  <span class="example-spacer"></span>
</mat-toolbar>
<div>
  <hr style="width: 1130px; border: 2px solid #c5c5c5; margin-left: 30px" />
</div>
<div
  style="
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    font-weight: 600;
  "
>
  <div
    style="margin-top: 20px; margin-left: 30px; display: flex; cursor: pointer"
    [routerLink]="['/procurement']"
    routerLinkActive="active-link"
  >
    <div><img src="./assets/images/box.svg" /></div>
    <span style="color: #97989d; margin-left: 5px; font-size: 14px"
      >Purchase&nbsp;request</span
    >
    <div>
      <mat-divider
        style="
          width: 90px;
          margin-left: 10px;
          margin-top: 10px;
          border: 1px dashed;
        "
      ></mat-divider>
    </div>
  </div>
  <div
    style="margin-top: 20px; margin-left: 10px; display: flex; cursor: pointer"
    [routerLink]="['/procurement/prlist']"
    routerLinkActive="active-link"
  >
    <div><img src="./assets/images/approval.svg" /></div>
    <span style="color: #97989d; margin-left: 5px; font-size: 14px"
      >Approvals</span
    >
    <div>
      <mat-divider
        style="
          width: 90px;
          margin-left: 10px;
          margin-top: 10px;
          border: 1px dashed;
        "
      ></mat-divider>
    </div>
  </div>
  <div
    style="margin-top: 20px; margin-left: 10px; display: flex; cursor: pointer"
    [routerLink]="['/rate-comparative']"
    routerLinkActive="active-link"
  >
    <div><img src="./assets/images/rc.svg" /></div>
    <span style="color: #97989d; margin-left: 5px; font-size: 14px"
      >Rate&nbsp;Comparative</span
    >
    <div>
      <mat-divider
        style="
          width: 90px;
          margin-left: 10px;
          margin-top: 10px;
          border: 1px dashed;
        "
      ></mat-divider>
    </div>
  </div>
  <div
    style="margin-top: 20px; margin-left: 10px; display: flex; cursor: pointer"
    [routerLink]="['/rate-approval']"
    routerLinkActive="active-link"
  >
    <div><img src="./assets/images/approval.svg" /></div>
    <span style="color: #97989d; margin-left: 5px; font-size: 14px"
      >Rate&nbsp;Approvals</span
    >
    <div>
      <mat-divider
        style="
          width: 90px;
          margin-left: 10px;
          margin-top: 10px;
          border: 1px dashed;
        "
      ></mat-divider>
    </div>
  </div>
  <div
    style="margin-top: 20px; margin-left: 10px; display: flex; cursor: pointer"
    [routerLink]="['/purchase-order']"
    routerLinkActive="active-link"
  >
    <div><img src="./assets/images/podown.svg" /></div>
    <span style="color: #233a61; margin-left: 5px; font-size: 14px"
      >Purchase&nbsp;orders</span
    >
  </div>
</div>
<div>
  <div *ngIf="poDetails" class="main-wrapper">
    <div style="margin-top: 20px">
      <div style="display: flex; gap: 50px; flex-wrap: wrap">
        <div class="topleft">
          <span
            style="
              font-size: 14px;
              font-family: 'Poppins';
              color: #3568ba;
              margin-bottom: 10px;
            "
            >Billing Address</span
          ><br />
          <div class="textarealeft">
            <span
              ><b>{{ poDetails?.billing_address?.company_name }}</b></span
            >
            <span>
              {{ poDetails?.billing_address?.street_address }}
              {{ poDetails?.billing_address?.street_address2 }} <br />{{
                poDetails?.billing_address?.city
              }}
              {{ poDetails?.billing_address?.state }}
              {{ poDetails?.billing_address?.zip_code }}
            </span>
            <span>GSTIN:{{ poDetails?.billing_address?.gst_number }}</span>
            <span>PAN:{{ poDetails?.billing_address?.pan_card }}</span>
            <span>{{ poDetails?.billing_address?.contact_person }}</span>
          </div>
        </div>
        <div class="topright" style="margin-top: 10px">
          <span
            style="
              font-size: 14px;
              font-family: 'Poppins';
              color: #3568ba;
              margin-bottom: 10px;
            "
            >Delivery Address</span
          >
          <br />
          <div class="textarearight">
            <span><b>Date</b>: {{ poDetails.date | date : "dd-MM-yyyy" }}</span>
            <span
            ><b>Validity From</b>:  {{
              poDetails.poStartDate | date : "dd-MM-yyyy"
            }}
          </span>
            <span
              ><b>Validity Upto</b>:  
              {{
                poDetails.
due_date
 | date : "dd-MM-yyyy"
              }}
            </span>
            <span
              ><b>PO NO</b>: {{ poDetails?.po_number
              }}<input
                type="text"
                style="
                  width: 120px;
                  padding: 5px;
                  border: none;
                  margin-left: 16px;
                "
              />
            </span>
            <span><b>Site Address</b> </span>
            <span
              >{{ poDetails?.delivery_address?.street_address }}
              {{ poDetails?.delivery_address?.street_address2 }}
              {{ poDetails?.delivery_address?.city }},{{
                poDetails?.delivery_address?.state
              }}
              {{ poDetails?.delivery_address?.zip_code }}
            </span>
            <span
              ><b>Contact Person</b>:
              {{ poDetails?.delivery_address?.contact_person
              }}<input
                type="text"
                style="
                  width: 150px;
                  padding: 5px;
                  border: none;
                  margin-left: 16px;
                "
              />
            </span>
          </div>
        </div>
      </div>
      <div class="topdown">
        <span
          style="
            font-size: 14px;
            font-family: 'Poppins';
            color: #3568ba;
            margin-bottom: 10px;
          "
          >To,</span
        ><br />
        <div
          style="
            border: 1px solid #94a3b8;
            border-radius: 5px;
            padding: 5px 0 20px 0;
          "
        >
          <div type="text" class="textareadown">
            <span style="margin-left: 20px; margin-top: 10px; width: 500px"
            ><b>Vendor Name: </b>{{ poDetails.vendor_detail.vendor_name }}
            <br />
            <span>
              <b >Contact Person: </b>
              <span
               
              >
                {{
                  poDetails.vendor_detail.contact_person 
                }}
              </span>
            </span>
            <br />
            <span>
              <b >Mobile No.: </b>
              <span
              
              >
                {{
                  poDetails.vendor_detail.phone_number 
                }}
              </span>
            </span>
            <br />
            <span>
              <b>Email Id: </b>
              <span
              
              >
                {{
                  poDetails.vendor_detail.email 
                }}
              </span>
            </span>
            <br />
            <span>
              <b>Vendor Address: </b>
              <span
               
              >
                {{
                  combineAddress(poDetails.vendor_detail.address)
                }}
              </span>
            </span>
          </span>
          <span>
            <b style="margin-left: 20px">GSTIN: </b>
            <span
             
            >
              {{
                poDetails.vendor_detail.gst_number
              }}
            </span>
          </span>
          <span>
            <b style="margin-left: 20px">PAN: </b>
            <span
            >
              {{
                poDetails.vendor_detail.pan_number
              }}
            </span>
          </span>
          </div>
          <div class="msg-teatarea">
            <p>{{ poDetails.vendor_message_header }}</p>
            <textarea
              [formControl]="mail_section"
              class="vendor-message-textarea"
            >
            </textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="scroll-bar1">
      <table
        style="direction: ltr !important; border: 2px solid #000 !important"
      >
        <tr>
          <th>Item&nbsp;No</th>
          <th>Item&nbsp;Name</th>
          <th>Specification</th>
          <th>HSN Code</th>
          <!-- <th>Brand</th> -->
          <th>Quantity</th>
          <th>UOM</th>

          <th>Brand Name</th>
          <th>Rate</th>
          <th>Sub Total</th>
          <th>Tax</th>
          <th>Total</th>
          <th>Remarks</th>
        </tr>

        <tbody>
          <tr
            style="background-color: #f4f4f5"
            *ngFor="let item of poDetails.items; let i = index"
          >
            <td style="text-align: center">
              {{ i + 1 }}
            </td>
            <td>
              {{ item.item.item_name }}
            </td>
            <td>
              {{ item.item.specification }}
            </td>
            <td>
              {{ item.item.hsnCode }}
            </td>
            <!-- <td style="text-align: center;">
              {{item.vendors[0].brand}}
            </td> -->
            <td>
              {{ item.item.qty }}
            </td>
            <td>
              {{item.uom}}
            </td>

            <td td style="color: #000">
              {{ isBrandArray(item.item.brandName) }}
            </td>

            <td style="color: #000">
              {{ item.Rate }}
            </td>
            <!-- <td style="color: #000;">
              {{item.Freight}}
            </td> -->

            <td style="color: #000">
              {{ item.SubTotalAmount }}
            </td>
            <td style="color: #000">
              <ng-container *ngIf="item.item.tax && item.item.tax.amount">
                {{ item.item.tax.amount }}%
              </ng-container>
            </td>
            <td style="color: #000">
              {{ item.Total }}
            </td>
            <td style="color: #000">
              {{ item.remarks }}
            </td>
          </tr>
        </tbody>
        <tr>
          <td colspan="6" style="border: none; font-size: small">
            Total&nbsp;amount
          </td>
          <td colspan="6" style="border: none; font-size: small">
            {{ poDetails.vendors_total[0].subTotal | currency : "INR" }}
          </td>
        </tr>
        <tr>
          <td colspan="6" style="border: none; font-size: small">
            Total&nbsp;Freight
          </td>
          <td colspan="6" style="border: none; font-size: small">
            {{ poDetails.vendors_total[0].freightTotal | currency : "INR" }}
          </td>
        </tr>
        <tr>
          <td colspan="6" style="border: none; font-size: small">
            GST&nbsp;amount
          </td>
          <td colspan="6" style="border: none; font-size: small">
            {{ poDetails.vendors_total[0].gstAmount | currency : "INR" }}
          </td>
        </tr>
        <tr>
          <td colspan="6" style="border: none; font-size: small">
            Grand&nbsp;total
          </td>
          <td
            colspan="6"
            style="
              border: none;
              color: #073b4c;
              font-weight: bold;
              font-size: small;
            "
          >
            {{ poDetails.vendors_total[0].total | currency : "INR" }}
          </td>
        </tr>
      </table>
    </div>

    <!-- <div >
      <table style="direction: ltr !important;border: 2px solid #000 !important;">
      <tr>
        <td style="border: none;font-size: small;">Total&nbsp;amount</td>
        <td style="border: none;font-size: small;">{{poDetails.vendors_total[0].subTotal| currency:'INR'}}</td>
      </tr>
      <tr>
        <td style="border: none;font-size: small;">GST&nbsp;amount</td>
        <td style="border: none;font-size: small;">{{poDetails.vendors_total[0].gstAmount| currency:'INR'}}</td>
      </tr>
      <tr>
        <td style="border: none;font-size: small;">Grand&nbsp;total</td>
        <td style="border: none;color:#073B4C;font-weight: bold;font-size: small;">
          {{poDetails.vendors_total[0].total| currency:'INR'}}</td>

      </tr>
    </table>
    </div> -->
    <!-- <div style="display: flex;gap:20px;flex-wrap: wrap;"> -->
    <!-- <div style="width:700px;height: 500px;"> -->

    <div class="terms-condition-wrap">
      <div>
        Vendor terms & other conditions
        <mat-icon style="font-size: medium; position: relative; top: 10px"
          >border_color</mat-icon
        >
      </div>
      <textarea class="terms-condition-textarea" [formControl]="term_condition">
      </textarea>
    </div>

    <div>
      <img style="width: 20%; padding: 2%" [src]="esignImage" alt="" />
      <p
        style="
          margin-left: 4%;
          margin-top: -1%;

          font-size: medium;
        "
      >
        {{ poDetails.approved_by }}
      </p>
      <p
        style="
          margin-left: 4%;
          margin-top: 1%;
          font-weight: bold;
          font-size: large;
        "
      >
        Authorised Signatory
      </p>
    </div>

    <div style="display: flex; gap: 20px; justify-content: end; align-items: center;">

      <div *ngIf="poDetails.status !== 'rejected'">
        <div *ngIf="poDetails.po_files.length===0">
      <input type="file" (change)="onFilesSelected($event)" />
      </div>
      <div *ngIf="poDetails.po_files.length!==0">
        Vendor has Accepted the PO <a [href]="poDetails.po_files[0]" style="color: blue; text-decoration: underline;">Download Document</a>
        </div>
      </div>
    
      <div *ngIf="poDetails.status !== 'rejected'">
        <div *ngIf="poDetails.po_files.length===0">
        <button
          style="
            padding: 8px;
            background-color: #fff;
            cursor: pointer;
            border: 0.5px solid #94a3b8;
            border-radius: 5px;
            color: #797979;
            font-family: 'Poppins';
            font-size: 14px;
            display: flex;
            align-items: center;
          "
          (click)=" uploadFiles()"
        >
          Upload Vendor Acceptance File
          <img
            src="./assets/images/pdfd.svg"
            class="imgstyle"
            style="margin-left: 10px; margin-right: 10px"
          />
        </button>
      </div>
      </div>
    
      <div *ngIf="poDetails.status == 'approved'">
        <button
          style="
            padding: 8px;
            width: 180px;
            background-color: #54aa52;
            color: #fff;
            border-radius: 5px;
            border-color: lightgrey;
            font-family: 'Poppins';
            font-size: 14px;
          "
        >
          Approved
        </button>
      </div>
    
      <div *ngIf="poDetails.status == 'revise'">
        <button
          style="
            padding: 8px;
            width: 120px;
            background-color: #ecd172;
            color: #fff;
            border: 1px solid #94a3b8;
            border-radius: 5px;
            font-family: 'Poppins';
            font-size: 14px;
          "
        >
          Revise
        </button>
      </div>
    
      <div *ngIf="poDetails.status == 'rejected'">
        <button
          style="
            padding: 8px;
            width: 120px;
            background-color: #c7323b;
            color: #fff;
            border: 1px solid #94a3b8;
            border-radius: 5px;
            font-family: 'Poppins';
            font-size: 14px;
          "
        >
          Rejected
        </button>
      </div>
    
      <div *ngIf="poDetails.status !== 'rejected'">
        <button
          style="
            padding: 8px;
            width: 180px;
            background-color: #fff;
            cursor: pointer;
            border: 0.5px solid #94a3b8;
            border-radius: 5px;
            color: #797979;
            font-family: 'Poppins';
            font-size: 14px;
            display: flex;
            align-items: center;
          "
          (click)="downloadPdf()"
        >
          Download PDF
          <img src="./assets/images/pdfd.svg" class="imgstyle" style="margin-left: 10px;" />
        </button>
      </div>
    
      <div style="display: none;">
        <button
          style="
            padding: 8px;
            width: 180px;
            background-color: #fff;
            cursor: pointer;
            border: 0.5px solid #94a3b8;
            border-radius: 5px;
            color: #797979;
            font-family: 'Poppins';
            font-size: 14px;
            display: flex;
            align-items: center;
          "
          (click)="enterMail()"
        >
          Send Mail
          <img src="./assets/images/pdfd.svg" class="imgstyle" style="margin-left: 10px;" />
        </button>
      </div>
   
    
      <!-- <div> <button
          style="padding: 8px ;width: 120px;background-color: #fff;cursor: pointer;border: 0.5px solid #94A3B8;border-radius: 5px;color:#797979;font-family: 'Poppins';font-size: 14px;">
          Print <i class="fa fa-print"></i> </button>

      </div> -->
    </div>
  </div>
</div>
