
<mat-toolbar style="background-color: #fff !important;">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" >
        <div style="padding: 1rem;margin-top: 60px;">
            <select style="padding: 10px;width:100%;border: none;font-size: large;">
                <option>
        <span>{{project?.projectName}}</span></option>
</select>
<!-- <span style="font-size: small;">on track</span> -->
</div>
<div style="margin-left: 100px;font-size: small;position: relative;margin-top: 90px;">
<button mat-button (click)="backToCalender()"><i class="fa fa-undo" aria-hidden="true"></i> Back to Calender</button></div>       
      </mat-toolbar-row>
        
      <mat-toolbar-row>
        <hr style="width:100%">
      </mat-toolbar-row>
  </mat-toolbar>
  <div class="toptext" >
    <ul style="list-style: none;">
    
      <li style="border-right: 1px solid #D9D9D9;"><a [routerLink]="['/dpr']" routerLinkActive="active-link"
        ><i class="fa fa-eye" aria-hidden="true"></i> Projects</a></li>
       
      <li style="border-right: 1px solid #D9D9D9;"><a [routerLink]="['/view-project/data-analysis',projectId]" routerLinkActive="active-link-active"
        [routerLinkActiveOptions]="{exact: true}" ><i class="fa fa-eye" aria-hidden="true"></i> Data-Analysis</a></li>
        
      <li style="border-right: 1px solid #D9D9D9;"><a [routerLink]="['/view-project/progress-sheet',projectId]" routerLinkActive="active-link-active"
         ><i class="fa fa-edit" aria-hidden="true"></i> Progress-sheet</a></li>
         
      <li><a [routerLink]="['/view-project/calender',projectId]" routerLinkActive="active-link"
         ><i class="fa fa-edit" aria-hidden="true"></i> Calender</a></li>
      
    </ul>
    
  
  </div><br>

 <!-- <mat-grid-list cols="3" rowHeight="500px" style="background-color: green;">
      <mat-grid-tile colspan="2" style="background-color: aqua;">

      </mat-grid-tile>
      <mat-grid-tile style="background-color: coral;">

      </mat-grid-tile>
      <mat-grid-tile colspan="3" style="background-color: blue;">

      </mat-grid-tile>
    </mat-grid-list> > -->
    <div class="gallery_row" fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row"
    fxLayout.xs="column" fxLayoutAlign="start enter"  fxLayoutGap="15px" *ngIf="!showCalData">
    <div class="gallery_left_column" fxLayout="column" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"
    fxFlex.xs="100" fxFlexFill>
    <div class="calender custom_calender" style="border-collapse: collapse;border: 1px solid lightgrey;margin-left: 100px;margin-top: 20px;margin-bottom: 50px;width:110%">
      <mat-calendar  [dateClass]="dateClass()" [selected]="selectedDateNew" (selectedChange)="onSelect($event)"></mat-calendar>
    </div>
  </div>

    </div>
<!-- <mat-grid-tile  >
  
      <div class="top_container" fxLayout="column" fxLayoutGap="10px"  style="height: 70vh;margin-right: 50px;" >
        <mat-card style="width: 230px;height: 400px;margin:10px 0px;"  >
          <div class="scroll-bar" fxLayout="column">
          <mat-card-header>
        
            <mat-card-title> About &nbsp; <i class="fa fa-edit" style="cursor: pointer;"  aria-hidden="true"></i></mat-card-title>
        
          </mat-card-header>
      
          <mat-card-content>
            <p>asasadsdas</p></mat-card-content>
           
            <mat-card-subtitle>Members</mat-card-subtitle>
          
     <div  fxFlex="row" fxLayoutAlign="start" >
      <div  style="margin-top:10px" mat-card-avatar class="example-header-image"></div>
      <div style="margin-top:10px">
        <button mat-button >user1</button>
       
  </div>
  </div>
  
  </div>
  <mat-card-actions>
  <button mat-button >Addmembers+</button> 
  </mat-card-actions>
  
    </mat-card>
  
  </div>
  
    </mat-grid-tile>>-->

    <!-- <full-calendar [options]="calendarOptions"></full-calendar> -->
    <!-- <full-calendar
    [options]="calendarOptions"
    [events]="eventsPromise | async"
  ></full-calendar> -->
  <!-- <full-calendar (dateClick)="handleDateClick($event)" [options]="calendarOptions" [plugins]="calendarPlugins"></full-calendar> -->
  <!-- <full-calendar [options]="calendarOptions"></full-calendar> -->

    <!-- <div class='app'>



      <div class='app-calendar' >
        <full-calendar
          #calendar
          defaultView="dayGridMonth"
          [header]="{
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth'
          }"
          [plugins]="calendarPlugins"
          [weekends]="calendarWeekends"
          (dateClick)="handleDateClick($event)"
        ></full-calendar>
      </div>
    
    </div> -->
    

    <mat-grid-list cols="4" rowHeight="400px" style="margin-top: 70px;" *ngIf="showCalData">
        <mat-grid-tile colspan="3" rowspan="2"  >
           
            <mat-card style="width: 95%; height: 99%;">
                <div >
                <mat-toolbar fxLayout="column" style="margin-bottom: 10px; background-color: #233A61;color: #fff;">
                    <h2 style="font-size: xx-large;margin-right: 800px;margin-top: 10px;">{{getDay}} </h2>
                      <div style="margin-right: 680px;margin-bottom: 50px;position: absolute;"><h4 style="font-size: small">{{getMonth}}<br>{{getWeekName}} {{getYear}}</h4></div><br>  
                </mat-toolbar>
            </div>
            
            <div class="scroll-bar1" style="width: 100%;">
            <table>
           
          <thead>
            <th >Description</th>
           <th>Quantity used</th>
             
            
              </thead>
           
            <tbody *ngFor= " let project of projectsData ">
                <tr  style="font-size: large;border: 1px solid lightgray;">
                    <td>{{project.name}}</td>
                    
                
                </tr>
                <tr *ngFor="let subTask of project.result" style="background-color: #fff;">
    
                  <td >{{subTask.subTaskName}}</td>
                  <td>
                  <form role="form" (submit)="onBid($event, subTask, name.value,subTask._id)">
                    <input type="number" class="calenderForm" style="border: none;padding: 5px;" #name  min={{subTask.value}} value={{subTask.value}}>
                    <button type="submit" style="border: none;cursor: pointer;background-color: #233A61;color:#fff;border-radius: 2px;padding:5px 10px ">Add</button>
                 </form></td>
                  
                </tr>
            </tbody>

            </table>
          </div>
         
            <script>
              let answer = document.getElementById("myP").contentEditable;
             
              </script>
            
        
            </mat-card>
       
                
          
        </mat-grid-tile>

        <mat-grid-tile >
            <mat-card style="width: 250px;height: 350px;margin:10px 0px">
            <div class = "calendar-wrapper" style="height: 200px;">
                <mat-calendar #calendar [(selected)]="selectedDate" >
                </mat-calendar>
                </div>
                </mat-card>
        </mat-grid-tile>

        
       

        <mat-grid-tile >
            <mat-card style="width: 250px;height: 350px;margin:10px 0px">
                <div>
                  <div class="scroll-bar">
                    <div  fxLayout="row" fxLayoutGap="10px" *ngFor="let data of recentActivities">
                      <div mat-card-avatar class="example-header-image"></div>
                    <div >
                      <div class="content">{{data.description}}
                        <div class="time" style="color: #BBBBBB;">{{data.time}}</div><br>
                      </div>
                  </div><br>
                  </div>
            </div>
             </div>
              </mat-card>
        </mat-grid-tile>
      <!-- <mat-grid-tile colspan="4" >
        <mat-card style="width:150px;margin-right: 980px;margin-bottom: 300px;box-shadow: none;">
          <button style="width:150px;padding: 10px;background-color: #233A61;color: #fff;">Submit</button> 
        </mat-card>
      </mat-grid-tile> -->

    </mat-grid-list>
  