<div>
  <div fxLayout="row" fxLayoutAlign="space-between center" style="background-color:#233A61 ;color:white;height:50px">
<div>
  <h2 style="margin-left: 20px;margin-top: 10px;">{{data.subTaskName}}</h2>
</div>
<div style="margin-right: 10px;cursor: pointer;" (click)="closeDialog('no')">Back to Chart</div></div>

  <form class="form-section" [formGroup]="itemForm"> 

    <ng-container formArrayName="addRevisesDates" fxLayout="row"  >
      <div class="my-selects">
      <ng-select  *ngFor="let single of addRevisesDates.controls; let i = index" [formGroupName]="i" >
 
          <div 
          fxLayout="row" 
          fxLayout.lt-sm="row" 
          fxLayoutGap="10px" 
          fxLayoutAlign="flex-start"
          style="margin-left: 5%;margin-top: 10px;" >
        
     
          <div class="custom-form-group"  >
              <label class="custom-label" for="" style="padding: 10px;margin-top: 100px;">R{{i+1}} End Date <span class="star">*</span>
                <!-- <span class="custom-hint">(Hint: Enter {{ sentenceCase('name') }} )</span> -->
              </label><br>
              <div class="custom-form-control" fxLayout="row">
                <mat-form-field appearance="outline">
                  <input matInput [matDatepicker]="startPicker" formControlName="revisedDate" placeholder="Enter Revised Date"
                  (click)="startPicker.open()"/>
                  <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                  <mat-datepicker #startPicker></mat-datepicker>
                  <!-- <mat-error *ngIf="startDate.invalid && ( startDate.dirty || startDate.touched )">
                    <span *ngIf="startDate.hasError('required')"> Start date is required </span>
                  </mat-error> -->
                </mat-form-field>
                
              </div>
              <div style="margin-bottom: -50px;">
                <button type="button" mat-button class="global-btn save-btn" (click)="minusBlocks(i)">
                  <span style="margin-top: -50px;"> - Remove </span>
                </button>
                </div>
            </div>
         <!----> 

  
      </div>
      </ng-select>

    <div fxLayout="row" fxLayoutAlign="end center">
      <button type="button" mat-button class="global-btn save-btn" style="margin-top: 130px;position: absolute;left:1000px" (click)="plusBlocks()">
         <span  > + Add Revised Dates</span>
      </button>
   </div>
  </div>
    </ng-container><br><br><br>

    <div fxLayout="row wrap" 
    fxLayoutAlign="space-around center" fxLayoutGap="0px" style="margin-top: 30px;">
  
    <div class="custom-form-group">
      <label class="custom-label" for=""> actual Revised Start Date <span class="star">*</span>
        <!-- <span class="custom-hint">(Hint: Enter {{ sentenceCase('name') }} )</span> -->
      </label>
      <div class="custom-form-control">
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="actualRevisedStartDate" formControlName="actualRevisedStartDate" placeholder="Enter actual Revised Start Date"
          (click)="actualRevisedStartDate.open()"/>
          <mat-datepicker-toggle matSuffix [for]="actualRevisedStartDate"></mat-datepicker-toggle>
          <mat-datepicker #actualRevisedStartDate></mat-datepicker>
          <!-- <mat-error *ngIf="actualRevisedStartDate.invalid">
            <span > actualRevisedStartDate is required </span>
          </mat-error> -->
          <!-- <mat-error *ngIf="startDate.invalid && ( startDate.dirty || startDate.touched )">
            <span *ngIf="startDate.hasError('required')"> Start date is required </span>
          </mat-error> -->
        </mat-form-field>
      </div>
    </div>
    <div class="custom-form-group">
      <label class="custom-label" for=""> base Line Start Date <span class="star">*</span>
        <!-- <span class="custom-hint">(Hint: Enter {{ sentenceCase('name') }} )</span> -->
      </label>
      <div class="custom-form-control">
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="baseLineStartDate" formControlName="baseLineStartDate" placeholder="Enter base Line Start Date"
          (click)="baseLineStartDate.open()"/>
          <mat-datepicker-toggle matSuffix [for]="baseLineStartDate"></mat-datepicker-toggle>
          <mat-datepicker #baseLineStartDate></mat-datepicker>
          <!-- <mat-error *ngIf="baseLineStartDate.invalid && ( baseLineStartDate.dirty || baseLineStartDate.touched )">
            <span>Please provide a valid Base Line Start Date</span>
          </mat-error> -->
          <!-- <mat-error *ngIf="startDate.invalid && ( startDate.dirty || startDate.touched )">
            <span *ngIf="startDate.hasError('required')"> Start date is required </span>
          </mat-error> -->
        </mat-form-field>
      </div>
    </div>

    <div class="custom-form-group">
        <label class="custom-label" for=""> base Line End Date <span class="star">*</span>
          <!-- <span class="custom-hint">(Hint: Enter {{ sentenceCase('name') }} )</span> -->
        </label>
        <div class="custom-form-control">
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="baseLineEndDate" formControlName="baseLineEndDate" placeholder="Enter base Line End Date"
            (click)="baseLineEndDate.open()"/>
            <mat-datepicker-toggle matSuffix [for]="baseLineEndDate"></mat-datepicker-toggle>
            <mat-datepicker #baseLineEndDate></mat-datepicker>
            <!-- <mat-error *ngIf="baseLineEndDate.invalid && ( baseLineEndDate.dirty || baseLineEndDate.touched )">
                <span>Please provide a valid Base Line End Date</span>
              </mat-error> -->
            <!-- <mat-error *ngIf="startDate.invalid && ( startDate.dirty || startDate.touched )">
              <span *ngIf="startDate.hasError('required')"> Start date is required </span>
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>
</div>
<div fxLayout="row" fxLayoutGap="100px">
<div class="custom-form-group"  >
        <label class="custom-label" for="" style="margin-left: 30px;position: relative;"> uom <span class="star">*</span>
          <!-- <span class="custom-hint">(Hint: Enter {{ sentenceCase('name') }} )</span> -->
        </label>
        <div class="custom-form-control" style="margin-left: 30px;position: relative;">
         
            <mat-form-field appearance="outline" style="width: 115%;">
              <mat-select  placeholder=" uom" formControlName="uom">
                <mat-option *ngFor="let single of uomData" [value]="single">{{single}}</mat-option>

              
                  <!-- <mat-error *ngIf="uom.invalid && ( uom.dirty || uom.touched )">
                    <span>Please provide a valid Uom</span>
                  </mat-error> -->
                <!-- <mat-error *ngIf="title.invalid && ( title.dirty || title.touched )">
                  <span>Please provide a valid Profession Type</span>
                </mat-error> -->
             
                </mat-select>
              </mat-form-field>
        </div>
      </div>

      <div class="custom-form-group">
        <label class="custom-label" for="" style="margin-left: -10px;position: relative;"> Quantity <span class="star">*</span>
          <!-- <span class="custom-hint">(Hint: Enter {{ sentenceCase('name') }} )</span> -->
        </label>
        <div class="custom-form-control" style="margin-left: -18px;position: relative;">
            <mat-form-field appearance="outline" style="width: 115%;">
                <input matInput type="number"  placeholder="Enter total" formControlName="total"
                  >
                  <!-- <mat-error *ngIf="total.invalid && ( total.dirty || total.touched )">
                    <span>Please provide a valid Total</span>
                  </mat-error> -->
                <!-- <mat-error *ngIf="title.invalid && ( title.dirty || title.touched )">
                  <span>Please provide a valid Profession Type</span>
                </mat-error> -->
              </mat-form-field>
        </div>
      </div>
    </div>
    
    
  <button mat-button (click)="AddData()" style="background-color: #233A61;color: #fff;padding: 1px 40px;margin-left: 30px;">submit</button>
      
  </form>

    </div>
