form{
    height: 400px;
}
.my-selects {
    display: flex;
    flex-direction: row;
   gap: 80px;
   
  }
ng-select{
    width: 200px;
}
.Actual-align{
    display: flex;
    align-items:center;
    justify-content: space-around;
}