<h1 mat-dialog-title class="mat-dialog-title">
  Add Activity
</h1>
<div mat-dialog-content class="mat-dialog-content-cstm">
  <form [formGroup]="addForm">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field appearance="outline">
          <mat-label>Activity Name</mat-label>
          <input matInput formControlName="structure_name">
          <mat-error *ngIf="addForm.controls.structure_name.errors?.['required']">
            this field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div style="text-align: center;margin-bottom: 5px;">


  <button mat-raised-button class="cancel-btn space-btn" cdkFocusInitial (click)="onNoClick()">
    <span> Cancel</span>
  </button>

  <button mat-raised-button class="space-btn theme-btn-color" *ngIf="!data " color="primary" (click)="onYesClick()">
    <span>Submit</span>
  </button>

  <button mat-raised-button class="space-btn theme-btn-color" *ngIf="data && data.id" color="primary"
    (click)="onUpdateClick()">
    <span>Update</span>
  </button>
</div>
