<div mat-dialog-title class="mat-dialog-title">

  <div class="row full-width">
    <div class="col-md-9">

      <ng-container *ngIf="type == 'location'">
        Location
      </ng-container>
      <ng-container *ngIf="type == 'structure'">
        Activity
      </ng-container>
      <ng-container *ngIf="type == 'activity'">
        Sub Activity
      </ng-container>


    </div>
    <div class="col-md-3">
      <mat-icon class="float-end close-icon" (click)="onNoClick()">close</mat-icon>
    </div>
  </div>
</div>
<div mat-dialog-content class="mat-dialog-content-cstm" style="width: 100%;">

  <ng-container *ngIf="type == 'location'">
    <div class="list-data" *ngFor="let item of listData">
      <ng-container *ngIf="!(idArray.includes(item._id))">
        <mat-checkbox (change)="onSelectLocation($event,item)" color="primary"
          [checked]="selectedLocations.includes(item._id)">{{item.location_name}}</mat-checkbox>
      </ng-container>
    </div>


    <div class="no-data-found" *ngIf="idArray && idArray.length>0 && idArray.length == listData.length">
      We couldn't find any locations, or it appears that you have already added all possible locations.
    </div>
  </ng-container>
  <ng-container *ngIf="type == 'structure'">
    <div class="list-data" *ngFor="let item of listData">
      <ng-container *ngIf="!(idArray.includes(item._id))">
        <mat-checkbox (change)="onSelectStructure($event,item)" color="primary"
          [checked]="selectedStructuresArray.includes(item._id)">{{item.structure_name}}</mat-checkbox>
      </ng-container>

    </div>

    <div class="no-data-found" *ngIf="idArray && idArray.length>0 && idArray.length == listData.length">
      We couldn't find any activites, or it appears that you have already added all possible activites.
    </div>
  </ng-container>
  <ng-container *ngIf="type == 'activity'">
    <div class="list-data" *ngFor="let item of listData">
      <ng-container *ngIf="!(idArray.includes(item._id))">
        <mat-checkbox (change)="onSelectActivity($event,item)" color="primary"
          [checked]="selectedActivityArray.includes(item._id)">{{item.activity_name}}</mat-checkbox>
      </ng-container>
    </div>

    <div class="no-data-found" *ngIf="idArray && idArray.length>0 && idArray.length == listData.length">
      We couldn't find any sub activity, or it appears that you have already added all possible sub activities.
    </div>
  </ng-container>



</div>

<div style="text-align: center;margin-bottom: 15px; padding: 0 10px;    margin-top: 20px;" *ngIf="!(idArray && idArray.length>0 && idArray.length == listData.length)">



  <button mat-raised-button class="cancel-btn space-btn" cdkFocusInitial (click)="onNoClick()">
    <span> Cancel</span>
  </button>

  <button mat-raised-button class="space-btn theme-btn-color" color="primary" (click)="onYesClick()">
    <span>Submit</span>
  </button>
</div>
