.example-spacer {
  flex: 1 1 auto;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: .6em;
  width:250px;
}
.searchbar {
  width:350px;
  border-radius: 20px;
  font-family: 'Poppins';
}
/* input[type=text] {
  width: 380px;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #97989D;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  position: relative;
  top:20px;
  margin-left: 50px;
  margin-bottom: 20px;

} */
table {
  font-family: 'Poppins', sans-serif !important;
  border-collapse: collapse;
  width: 96%;
  /* height: 100vh; */
  font-size: 14px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 10px;
}
th{
  background-color: #233A61;
  border: 1px solid #94A3B8;
  text-align: left;
  padding: 10px 40px !important;
  width:1000px !important;
  color: white;
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
  position: sticky;
  top: 0;


}

td {

  border: 1px solid #94A3B8;
  text-align: left;
  padding: 10px;
  color: #233A61;
  font-style: normal;
  font-size: 14px;
  font-family: 'Poppins';
/* width:100px; */


}
tr:nth-child(odd) {
  background-color: #F4F4F5 !important;
}

.scroll-bar1{


  height: 90vh;
  width:95%;
  margin-left: 6px;
  margin-top: 20px;
  margin-bottom: 100px;
  overflow: auto;
  }

::-webkit-scrollbar {
width: 7px;
height:7px;
}
::-webkit-scrollbar-track{
border: 1px solid lightgrey;
border-radius: 5px;
background-color:lightgrey ;
}
::-webkit-scrollbar-thumb{
background: #1E293B;
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
background: lightblue;
}
